<ion-header [translucent]="true">
  <app-navbar
    [origin]="urlParaVolver"
    [searchRoute]="'newTravel'"
    [isLoggedIn]="userLoggedIn"
  ></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="mostrarJumbotron">
    <app-jumbotron
      [title]="'JUMBOTRON.MIS_VIAJES_SLOGAN' | translate"
      [imageSrc]="'../../assets/folder/jumbo.jpg'"
      [helpText]="'JUMBOTRON.HELP'"
    ></app-jumbotron>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>Mis viajes</h1>
    </div>
    <div class="d-flex justify-content-center">
      <ul>
        <li>Ver todos tus viajes pasados y futuros.</li>
        <li>Filtrar por viajes como conductor o pasajero.</li>
        <li>Editar o eliminar tus viajes si eres el conductor.</li>
      </ul>
    </div>
  </div>

  <div class="container mt-4 mb-5">
    <ion-segment
      [(ngModel)]="filtroViajes"
      (ionChange)="aplicarFiltrosCombinados()"
      mode="ios"
      class="mb-4"
    >
      <ion-segment-button value="solicitudes">
        <ion-label>Solicitudes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todos">
        <ion-label>Todo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="conductor">
        <ion-label>Soy conductor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasajero">
        <ion-label>Soy pasajero</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="d-flex justify-content-center mb-3">
      <div class="notif-option me-5">
        <span>Viajes en curso</span>
        <ion-toggle
          [checked]="filtrosEstados['en_curso']"
          [disabled]="!HayAlgunViajeEnCursoReal()"
          (ionChange)="onFiltroChange($event, 'en_curso')"
        ></ion-toggle>
      </div>
      <div class="notif-option me-5">
        <span>Próximos viajes</span>
        <ion-toggle
          [checked]="filtrosEstados['proximos_viajes']"
          (ionChange)="onFiltroChange($event, 'proximos_viajes')"
        ></ion-toggle>
      </div>
      <div class="notif-option me-5">
        <span>Viajes finalizados / anulados</span>
        <ion-toggle
          [checked]="filtrosEstados['finalizados_anulados']"
          (ionChange)="onFiltroChange($event, 'finalizados_anulados')"
        ></ion-toggle>
      </div>
    </div>

    <div
      *ngIf="cargandoViajes"
      class="text-center py-5"
    >
      <app-spinner></app-spinner>
    </div>

    <div
      *ngIf="!cargandoViajes && misViajes.length === 0 && filtroViajes !== 'solicitudes'"
      class="sin-viajes-container text-center"
    >
      <p>Aún no tienes viajes en esta categoría.</p>
      <img
        src="../../../assets/sistema/destino-de-viaje.gif"
        class="iconSinViajes"
      />
    </div>

    <div
      *ngIf="!cargandoViajes && misViajes.length === 0 && filtroViajes === 'solicitudes'"
      class="sin-viajes-container text-center"
    >
      <p>Aún no tienes solicitudes en esta categoría.</p>
      <img
        src="../../../assets/sistema/telefono.gif"
        class="iconSinViajes"
      />
    </div>

    <div
      class="columna_scroll"
      *ngIf="!cargandoViajes && misViajes.length > 0"
    >
      <!--Contenedor del viaje con los detalles-->
      <tarjeta-viaje [viajesFiltrados]="misViajes"></tarjeta-viaje>
    </div>

    <p-toast position="bottom-center"></p-toast>
  </div>
</ion-content>
