<ion-header [translucent]="true">
  <app-navbar
    [origin]="urlParaVolver"
    [searchRoute]="'newTravel'"
    [isLoggedIn]="userLoggedIn"
  ></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="mostrarJumbotron">
    <app-jumbotron
      [title]="'JUMBOTRON.MIS_VIAJES_SLOGAN' | translate"
      [imageSrc]="'../../assets/folder/jumbo.jpg'"
      [helpText]="'JUMBOTRON.HELP'"
    ></app-jumbotron>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>Mis viajes</h1>
    </div>
    <div class="d-flex justify-content-center">
      <ul>
        <li>Ver todos tus viajes pasados y futuros.</li>
        <li>Filtrar por viajes como conductor o pasajero.</li>
        <li>Editar o eliminar tus viajes si eres el conductor.</li>
      </ul>
    </div>

    <div class="buttons-header">
      <button
        class="btn btn_bg me-2 mb-2"
        id="open-filter"
      >
        <i class="fi fi-rr-filter"></i>
      </button>
    </div>
  </div>

  <ion-popover
    #filtroPopover
    trigger="open-filter"
    triggerAction="click"
    mode="ios"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-list lines="none">
          <ion-radio-group
            [value]="filtroSeleccionado"
            (ionChange)="onFiltroChange($event, filtroPopover)"
          >
            <ion-item>
              <ion-label>En curso</ion-label>
              <ion-radio value="en_curso"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Finalizados/Cancelados</ion-label>
              <ion-radio value="finalizado"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Próximos</ion-label>
              <ion-radio value="proximo"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Borrar todos los filtros</ion-label>
              <ion-radio value="en_curso"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div class="container mt-4 mb-5">
    <ion-segment
      [(ngModel)]="filtroViajes"
      (ionChange)="filtrarViajes()"
      mode="ios"
      class="mb-4"
    >
      <ion-segment-button value="solicitudes">
        <ion-label>Solicitudes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todos">
        <ion-label>Todo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="conductor">
        <ion-label>Soy conductor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasajero">
        <ion-label>Soy pasajero</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="d-flex justify-content-center">
      <div class="notif-option me-5">
        <span>Viajes en curso</span>
        <ion-toggle
          (ionChange)="onFiltroChange($event, filtroPopover)"
        ></ion-toggle>
      </div>
      <div class="notif-option me-5">
        <span>Próximos viajes</span>
        <ion-toggle
          (ionChange)="onFiltroChange($event, filtroPopover)"
        ></ion-toggle>
      </div>
      <div class="notif-option me-5">
        <span>Viajes finalizados / anulados</span>
        <ion-toggle
          (ionChange)="onFiltroChange($event, filtroPopover)"
        ></ion-toggle>
      </div>
    </div>

    <div
      *ngIf="cargandoViajes"
      class="text-center py-5"
    >
      <app-spinner></app-spinner>
    </div>

    <div
      *ngIf="!cargandoViajes && misViajes.length === 0 && filtroViajes !== 'solicitudes'"
      class="sin-viajes-container text-center"
    >
      <p>Aún no tienes viajes en esta categoría.</p>
      <img
        src="../../../assets/sistema/destino-de-viaje.gif"
        class="iconSinViajes"
      />
    </div>

    <div
      *ngIf="!cargandoViajes && misViajes.length === 0 && filtroViajes === 'solicitudes'"
      class="sin-viajes-container text-center"
    >
      <p>Aún no tienes solicitudes en esta categoría.</p>
      <img
        src="../../../assets/sistema/telefono.gif"
        class="iconSinViajes"
      />
    </div>

    <div
      class="columna_scroll"
      *ngIf="!cargandoViajes && misViajes.length > 0"
    >
      <!--Contenedor del viaje con los detalles-->
      <tarjeta-viaje></tarjeta-viaje>
    </div>

    <p-toast position="bottom-center"></p-toast>
  </div>
</ion-content>
