:host {
  --ion-background-color: #F0D7B4;
  --ion-text-color: #000000;
}

ion-footer {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  // position: fixed;
  // bottom: 0;
  width: 100%;
  // z-index: 10;
}

::ng-deep ion-footer {
  --background: #F0D7B4;
  --color: #000000;
}

::ng-deep ion-toolbar {
  --background: inherit;
  --color: inherit;
}

ion-toolbar {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-brand-name {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 4px;
}

.footer-link {
  font-size: 0.75rem;
  color: var(--ion-text-color);
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}


.footer-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: inherit;
  margin-top: 0.3rem;
}

.sizeGrid {
  width: 100%;
}

ion-title {
  font-size: 0.8rem;
  color: black;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.mobile-logo-container {
  display: none;
}

.separator {
  font-size: 0.8rem;
  color: var(--ion-text-color);
}

@media (max-width: 576px) {
  .footer-row {
    flex-wrap: wrap;
  }

  .footer-item {
    flex: 1 1 100%;
    justify-content: center;
  }

  .footer-logo {
    width: 40px;
    height: 40px;
  }

  .footer-title {
    font-size: 0.7rem;
  }

  .footer-link {
    font-size: 0.7rem;
  }
}

@media (max-width: 767px) {
  .footer-row {
    flex-wrap: wrap;
  }

  /* Redes sociales arriba a la izquierda */
  .col-socials {
    order: 1;
    justify-content: flex-start !important;
    padding-left: 15px;
  }

  /* Logo arriba a la derecha */
  .col-brand {
    order: 2;
    justify-content: flex-end !important;
    padding-right: 15px;

    .footer-logo {
      width: 35px;
      height: 35px;
    }

    .footer-brand-name {
      font-size: 0.5rem;
    }
  }

  /* Links centrados abajo */
  .col-links {
    order: 3;
    width: 100%;
    margin-top: 15px;
    justify-content: center !important;
    padding-bottom: 10px;
  }
}

/* --- PC --- */
@media (min-width: 768px) {
  .footer-row {

    .col-socials {
      order: 1;
      justify-content: flex-start;
    }

    .col-links {
      order: 2;
      justify-content: center;
    }

    .col-brand {
      order: 3;
      justify-content: flex-end;
    }
  }
}