.colorCoche{
  height: 30px;
  width: 35px;
}

.pronombre{
  width: 200px;
}

.tabla{
  margin-left: 50px;
  width: auto;

}

.table td {
  min-width: 150px;
}

.table th {
  text-align: start;
  vertical-align: middle;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 122px; /* Ajusta el tamaño según lo que necesites */
  min-width: 90px;
  max-width: 130px;
  text-align: center;
  white-space: nowrap;
}

/* Reducir el ancho de la columna Matrícula */
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 120px; /* Ajusta el tamaño según lo que necesites */
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  white-space: nowrap;
}

/* Reducir el ancho de la columna Opciones */
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 100px; /* Ajusta el tamaño según lo que necesites */
  min-width: 80px;
  max-width: 120px;
  text-align: center;
  white-space: nowrap;
}


/* Ejemplo con color HSL */
.table{
    --bs-table-hover-bg: #F0D7B4;
      table-layout: auto;
}

.botones_tabla{
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);

}

.boton_anadir{
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);

}






.table {
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);

}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.table tbody tr:last-child th:first-child {
  border-bottom-left-radius: 15px;
}


@media (max-width: 576px) {
  //  .tabla {
  //   overflow-x: auto; /* Hacer que la tabla tenga desplazamiento horizontal en dispositivos más pequeños */
  //   margin-left: 0; /* Ajustar el margen para móviles */
  // }

  // .table {
  //   width: 100%;
  //   table-layout: auto;
  // }

  // /* Hacer que la tabla se muestre en bloques para dispositivos móviles */
  // .table thead {
  //   display: none; /* Ocultar los encabezados en la vista móvil */
  // }

  // .table td {
  //   display: block;
  //   text-align: right;
  //   padding-left: 50%; /* Separar los datos de la "etiqueta" */
  //   position: relative;
  // }

  // .table td::before {
  //   /* Usar los valores de la primera columna (encabezado) como etiquetas */
  //   content: attr(data-label);
  //   position: absolute;
  //   left: 10px;
  //   top: 10px;
  //   font-weight: bold;
  //   text-transform: uppercase;
  // }

  // /* Estilo para las imágenes de color */
  // .colorCoche {
  //   height: 20px;
  //   width: 25px;
  // }

  // /* Botones de la tabla */
  // .botones_tabla {
  //   text-align: center;
  //   margin-top: 10px;
  // }

  // .botones_tabla button {
  //   width: 40px;
  //   height: 40px;
  // }

  // /* Ajustes de los botones */
  // .boton_anadir {
  //   width: 100%;
  //   box-shadow: none;
  // }

  // .table th,
  // .table td {
  //   padding: 10px;
  //   text-align: left;
  //   display: block;
  // }

  // .table th, .table td {
  //   width: 100%; /* Asegurarse de que las celdas se expandan adecuadamente */
  // }

  // .listadoCochesMovil{
  //   border: 1px solid black;
  //   margin-bottom: 2%;
  //   border-radius: 15px;
  //   padding: 2%;
  // }

  .acordeones_vehiculos{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 20 ;
    flex-basis: 0;
    margin-right: 16px;
    align-items: start;
}

}
