.centroMensajes {
  // padding: 2%;
  width: 60%;
  max-width: 600px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28) !important;
  border-radius: 35px !important;
}

.chat_card {
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;

  .mensaje-nuevo {
    font-weight: 600;
    color: #000;
  }

  ion-badge {
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 8px;
    --padding-end: 8px;
    border-radius: 50%;
    font-size: 0.8rem;
  }

  ion-item {
    --inner-padding-end: 8px; // Espacio al final
    display: flex;
    align-items: center;
  }

  .iconoAjustes {
    font-size: 24px;
    color: #666;
  }
}

ion-item {
  --background: #fff;
  --border-radius: 15px;
}

ion-list {
  --background: transparent !important;
  background: transparent !important;
}

ion-item.chat_box {
  margin: 10px;
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  text-align: center;
  padding: 20px;
  color: #666;

  .empty-icon {
    font-size: 80px;
    margin-bottom: 20px;
    color: #ccc;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    max-width: 250px;
  }
}

ion-button[fill="clear"] {
  --padding-start: 4px;
  --padding-top: 25px;
  --padding-bottom: 25px;
  margin: 0;
  height: 24px;
  border-radius: 50%;
}

.btn-opciones {
  width: 40px !important;
  height: 40px !important;
  
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
  --margin-top: 0 !important;
  --margin-bottom: 0 !important;
  --border-radius: 50% !important;

  display: flex;
  align-items: center;
  justify-content: center;

  &::part(native) {
    border-radius: 50%;
  }

  .iconoAjustes {
    font-size: 20px;
    color: #666;
    line-height: 1; 
  }
}

[slot="end"] {
  margin-inline-start: 8px; 
  display: flex;
  align-items: center;
  align-self: center; 
}

.chat_card ion-item {
  --inner-padding-end: 0;
}

@media (max-width: 768px) {
  .centroMensajes {
    width: 100%;
  }
}