.centroMensajes{
    padding: 2%
}

.chat_card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  margin-bottom: 16px;
  overflow: hidden; 
  cursor: pointer;
}

ion-item {
  --background: #fff;
  --border-radius: 15px;
}

ion-list {
  --background: transparent !important;
  background: transparent !important;
}

ion-item.chat_box {
  margin: 10px;
}