<ion-header>
    <app-navbar [isLoggedIn]="userLoggedIn"></app-navbar>
</ion-header>

<ion-content fullscreen>
    <div class="d-flex justify-content-center">
        <h1>Centro de mensajes</h1>
    </div>

    <div *ngIf="conversaciones.length === 0" class="empty-state-container">
        <ion-icon name="chatbubbles-outline" class="empty-icon"></ion-icon>
        <h3>Tu buzón está vacío</h3>
        <p>Aquí aparecerán tus chats cuando contactes con otros conductores o pasajeros.</p>
        <button class="btn btn_bg" (click)="irABuscar()">
            Buscar un viaje
        </button>
    </div>

    <!-- Centro de chats -->
    <div class="mt-3 centroMensajes">
        <ion-list>
            <ion-card class="chat_card" *ngFor="let c of conversaciones" (click)="abrirChat(c)">
                <ion-item lines="none" detail="false">
                    <ion-avatar slot="start" *ngIf="c.otro_usuario_foto">
                        <img [src]="c.otro_usuario_foto" alt="Perfil">
                    </ion-avatar>

                    <ion-label>
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 [class.font-weight-bold]="c.no_leidos > 0">{{ c.otro_usuario_nombre }}</h2>
                            <ion-badge color="danger" *ngIf="c.no_leidos > 0">
                                {{ c.no_leidos }}
                            </ion-badge>
                        </div>
                        <p [class.mensaje-nuevo]="c.no_leidos > 0">{{ c.ultimoMensaje }}</p>
                    </ion-label>
                </ion-item>
            </ion-card>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab-buscar" title="Volver atrás">
        <ion-fab-button aria-label="Buscar viaje" (click)="goBack()">
            <img [src]="irAtrasImg" alt="Buscar viaje" style="width: 24px; height: 24px;">
        </ion-fab-button>
    </ion-fab>

</ion-content>