<ion-header>
  <ion-toolbar>
    <ion-title class="text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container justify-content-center main_container">
    <div class="encuesta_box mt-4">

      <div class="container mb-3 row">
        <h1><strong>Queremos escuchar tu opinión</strong></h1>
      </div>

      <div class="container mb-3 row">
        <h3>1. ¿Con qué probabilidad recomendarías PrideRide para realizar viajes a un familiar o amigo?</h3>
        <span>(Por favor, haz clic en los signos o selecciona una valoración)</span>
      </div>

      <div class="container mb-3 row">
        <h3>2. ¿Nos podrías indicar que es lo que más te ha gustado?</h3>
        <div class="container">
          <table class="table table-hover tabla">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">😄</th>
                <th scope="col">🫤</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Diseño</td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
              </tr>
              <tr>
                <td>Facilidad para buscar un viaje</td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
              </tr>
              <tr>
                <td>Localización información relevante</td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
              </tr>
              <tr>
                <td>Comprensión de términos y reglas de uso</td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
                <td><mat-radio-button value="1"></mat-radio-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container mb-3 row">
        <h3>3. Nos ayudaría mucho si nos compartes cómo crees que podemos mejorar la aplicación.</h3>
        <div class="ms-3">
          <textarea class="textArea"></textarea>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-end">
      <div class="container mb-3 mt-3 row btn_box">
        <button type="button" class="btn_bg" mat-raised-button (click)="verificarEncuesta()">Enviar</button>
      </div>
    </div>

  </div>
</ion-content>