<ion-grid>
  <ion-row>
    <!-- Columna izquierda: Fecha y hora -->
    <ion-col class="line" size="12" size-xl="6">
      <h1 class="d-flex justify-content-center">ELIGE LA FECHA DEL VIAJE</h1>
      <div class="contenedor_calendario">
        <div class="d-flex justify-content-center">
          <ion-datetime presentation="date" locale="es-ES" [min]="hoy" [(ngModel)]="fecha_seleccionada"
            (ionChange)="onDateChange($event)"></ion-datetime>
        </div>
        <p class="mt-2">Fecha seleccionada: {{ getFormattedDate() }}</p>
      </div>

      <div class="contenedor_seccion">
        <h1 class="d-flex justify-content-center">HORA DE SALIDA</h1>
        <div class="contenedor_hora">
          <!-- Selector de hora para escritorio -->
          <div *ngIf="isDesktop">
            <mat-form-field appearance="fill" class="custom-time-field">
              <mat-label>Selecciona la hora</mat-label>
              <input matInput [(ngModel)]="hora_seleccionada" [matTimepicker]="minutesPicker"
                (ngModelChange)="onTimeChange($event)" />
              <mat-timepicker-toggle matIconSuffix [for]="minutesPicker" />
              <mat-timepicker interval="1min" #minutesPicker />
            </mat-form-field>

            <p *ngIf="invalid_date" class="error-text">Formato de hora inválido</p>
          </div>

          <!-- Selector de hora para móvil -->
          <div *ngIf="!isDesktop">
            <ion-item lines="none">
              <ion-datetime-button datetime="timePicker"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="timePicker" presentation="time" (ionChange)="onTimeChange($event)"
                    class="custom-datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </div>
        </div>
        <p class="d-flex justify-content-center">Hora seleccionada: {{ getTime() }}</p>
      </div>
    </ion-col>

    <!-- Columna derecha: Número de plazas y coche -->
    <ion-col size="12" size-xl="6">
      <h1 class="d-flex justify-content-center">NÚMERO DE PLAZAS LIBRES</h1>
      <div class="select-container custom-dropdown mt-4 mb-3" (click)="toggleDropdown()" [class.open]="isOpen">
        <img src="../../../../../../assets/sistema/usuarios-alt.png" class="select-icon" alt="icono usuarios" />

        <div class="selected-value">
          {{ plazas || ('NUEVOVIAJE.PLACE_NUM_PLAZAS' | translate) }}
        </div>

        <ul class="custom-options" *ngIf="isOpen">
          <li (click)="selectOption('1')" [class.selected]="plazas === '1'">1</li>
          <li (click)="selectOption('2')" [class.selected]="plazas === '2'">2</li>
          <li (click)="selectOption('3')" [class.selected]="plazas === '3'">3</li>
          <li (click)="selectOption('4')" [class.selected]="plazas === '4'">4</li>
        </ul>
      </div>

      <div class="contenedor_seccion">
        <h1 class="d-flex justify-content-center">COCHE PARA VIAJAR</h1>
        <div class="contenedor_inputs">
          <ng-container *ngIf="userData?.usuario?.vehiculos?.length > 0; else sinVehiculos">
            <ion-list class="scrollable-list">
              <ion-radio-group [(ngModel)]="cocheSeleccionado" [compareWith]="compareVehiculos">
                <ion-item *ngFor="let coche of userData?.usuario?.vehiculos; trackBy: trackByVehiculo"
                  (click)="seleccionarCoche(coche)">
                  <ion-label>
                    <img class="colorCoche" [src]="mostrarColorCoche(coche.color)" />
                    {{ coche.marca }} {{ coche.modelo }}
                  </ion-label>
                  <ion-radio slot="end" [value]="coche"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <div class="d-flex flex-column align-items-center mt-3">
              <p class="mb-2">¿Quieres añadir otro coche?</p>
              <button type="button" mat-raised-button class="btn_bg" (click)="irARegistrarVehiculo()">
                Añadir vehículo
              </button>
            </div>
          </ng-container>

          <ng-template #sinVehiculos>
            <div class="mensaje-sin-vehiculos">
              <p>No tienes vehículos registrados, por favor, registra tu vehículo para poder publicar el viaje.</p>
              <button type="button" mat-raised-button class="btn_bg" (click)="irARegistrarVehiculo()">Añadir
                vehículo</button>
            </div>
          </ng-template>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <div class="d-flex justify-content-center align-items-center">
    <span class="info_message"><i class="fi fi-rr-info me-1"></i>Recuerda que debes introducir todos los datos para
      poder
      continuar.</span>
  </div>

</ion-grid>