<div class="main">
  <h1 class="text-center">Puntúa el viaje que has realizado</h1>
  <mat-divider class="mb-2"></mat-divider>

  <div *ngIf="creador_del_viaje" class="alert alert-warning text-center m-3">
    <p class="d-flex align-items-center justify-content-center mb-0">
      <i class="fi fi-rr-diamond-exclamation me-2"></i>
      No puedes puntuar un viaje creado por ti mismo.
    </p>
  </div>

  <form *ngIf="!creador_del_viaje" [formGroup]="puntuacionForm" (ngSubmit)="verificarEncuesta()">
    <div class="container text-center mt-4">
      <div class="row">
        <div class="container row">
          <h3>Esta puntuación es para {{ nombre_usuario }}</h3>
          <p>¿Cómo ha sido tu experiencia?</p>
          <div class="d-flex justify-content-center starsContainer">
            <img *ngFor="let estrella of estrellas; let i = index"
              src="{{ i < calificacionSeleccionada ? '../../../../../assets/rating/como.gif' : '../../../../../assets/rating/favorito.gif' }}"
              class="stars" type="button" (click)="seleccionarCalificacion(i + 1)">
          </div>
        </div>
      </div>
    </div>
  </form>


  <div class="container mt-4">
    <h3>¿Volverías a usar Pride Ride?</h3>
    <span>
      Puedes realizar la encuesta completa para que nosotros podamos mejorar.
      <br>
      No te robará mucho tiempo:
    </span>

    <p>
      <span>
        <i>👉 </i> <a href="/encuesta-satisfaccion"> Encuesta completa</a>
      </span>
    </p>

  </div>
  <div class="container text-end">
    <button mat-button type="button" class="btn_bg" (click)="puntuarViaje()" [disabled]="creador_del_viaje">Puntuar
      viaje</button>
  </div>

</div>