<mat-nav-list>
  <h1 class="text-center">Puntúa el viaje que has realizado</h1>
  <mat-divider class="mb-2"></mat-divider>

  <div class="container">
    <div class="row">
      <div class="col">
        <mat-icon>kid_star</mat-icon>
      </div>
      <div class="col">
        <mat-icon>kid_star</mat-icon>
      </div>
      <div class="col">
        <mat-icon>kid_star</mat-icon>
      </div>
      <div class="col">
        <mat-icon>kid_star</mat-icon>
      </div>
      <div class="col">
        <mat-icon>kid_star</mat-icon>
      </div>
    </div>
  </div>

  <div class="container text-end">
    <button type="button" class="btn_bg">Puntuar viaje</button>
  </div>

</mat-nav-list>