@import "../../../animations.scss";

.container {
  perspective: 500px;
}

.btnStar {
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.btnStar:hover {
  -webkit-animation: expandir_anim 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: expandir_anim 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main {
  display: flex;
  flex-direction: column;
  width: 560px;
  // height: 500px;
}

.stars {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 2%;
  margin-left: 2%;
}
.stars:hover {
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.starsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
}

a {
  color:#B3B5E6 !important;
}

.alert{
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  border-radius: 15px;
}

@media (max-width: 576px) {
  .main {
  display: flex;
  flex-direction: column;
  width: 396px;
  // height: 504px;
  }
}
