.contenido_principal {
  text-align: center;
  padding: 10px;
  min-height: 90vh;
}

/**
*
*   Ajustes para el buscador
*
**/
.buscador_box {
  text-align: center;
  margin-top: -1%;
  position: relative;
  z-index: 10;
  padding: 2%;
}

.seeker {
  width: 100%;
  margin: 0 auto;
}
