<ion-header>
  <app-navbar [isLoggedIn]="userLoggedIn"></app-navbar>
</ion-header>
<ion-content fullscreen>
  <!-- COMPONENTE DEL JUMBOTRON -->
  <div *ngIf="mostrarJumbotron">
    <app-jumbotron [title]="'JUMBOTRON.TITLE'" [imageSrc]="'../../assets/banco_imagenes/img1.png'"
      [helpText]="'JUMBOTRON.HELP'">
    </app-jumbotron>
  </div>
  <!-- COMPONENTE DEL BUSCADOR DE VIAJES -->
  <div class="buscador_box">
    <div class="seeker">
      <!-- <app-buscador></app-buscador> -->
    </div>
  </div>
  <div class="contenido_principal">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <!-- COMPONENTE PARA PUBLICAR UN NUEVO VIAJE -->
          <div id="publicar_viaje">
            <app-nuevo-viaje-general></app-nuevo-viaje-general>
          </div>

        </ion-col>
        <ion-col size="12" size-md="6">
          <!-- COMPONENTE PARA PUBLICAR UN NUEVO VIAJE -->
          <div id="publicar_viaje">
            <app-busca-un-viaje-principal></app-busca-un-viaje-principal>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- COMPONENTE QUE MUESTRA INFORMACIÓN GENERAL DE LA APLICACIÓN -->
    <div id="contenedor_texto" class="p-2">
      <!-- <app-info></app-info> -->
    </div>

    <!-- COMPONENTE DE TRAYECTOS MAS POPULARES -->
    <div class="d-flex justify-content-center p-2">
      <app-trayectos-populares></app-trayectos-populares>
    </div>

    <!-- COMPONENTE DE LAS DUDAS GENERALES -->
    <div class="d-flex justify-content-center p-2 mb-3">
      <app-ventana-dudas></app-ventana-dudas>
    </div>
  </div>

  <!-- FAB: BUSCAR VIAJE -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-chat" title="Ir al centro de mensajes">
    <ion-fab-button aria-label="Buscar viaje" (click)="irAmensajes()">
      <img [src]="messaging" alt="Buscar viaje" style="width: 24px; height: 24px;">
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>