<ion-header>
  <app-navbar [isLoggedIn]="userLoggedIn"></app-navbar>
</ion-header>
<ion-content fullscreen>
  <!-- COMPONENTE DEL JUMBOTRON -->
  <div *ngIf="mostrarJumbotron">
    <app-jumbotron
      [title]="'HOME.JUMBO.SLOGAN' | translate"
      [imageSrc]="'../../assets/banco_imagenes/img1.png'"
    ></app-jumbotron>
  </div>

  <div class="contenido_principal">
    <ion-grid>
      <ion-row>
        <ion-col
          size="12"
          size-md="6"
        >
          <!-- COMPONENTE PARA PUBLICAR UN NUEVO VIAJE -->
          <div id="publicar_viaje">
            <app-nuevo-viaje-general></app-nuevo-viaje-general>
          </div>
        </ion-col>

        <ion-col
          size="12"
          size-md="6"
        >
          <!-- COMPONENTE PARA PUBLICAR UN NUEVO VIAJE -->
          <div id="buscar_viaje">
            <app-buscador-viaje-home></app-buscador-viaje-home>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- COMPONENTE DE TRAYECTOS MAS POPULARES -->
    <div class="d-flex justify-content-center p-2">
      <app-trayectos-populares></app-trayectos-populares>
    </div>

    <div class="d-flex justify-content-center p-2">
      <app-viajes-recomendados-ia></app-viajes-recomendados-ia>
    </div>

    <!-- COMPONENTE DE LAS DUDAS GENERALES -->
    <div class="d-flex justify-content-center p-2 mb-3">
      <app-ventana-dudas></app-ventana-dudas>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
