Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
python-dotenv==1.0.1
cloudinary==1.41.0
requests==2.32.3
vonage-sms
vonage-jwt
# pydantic==2.10.6
# python-telegram-bot==21.10
Flask-Admin==1.6.1
itsdangerous==2.2.0
bcrypt==4.2.1
Flask-Bcrypt==1.0.1