.notificacion-no-leida {
  background-color: #ffefef;
  border-left: 5px solid #ef4444;
}

.notificacion-item {
  background-color: white;
  border-left: 5px solid transparent;
}

.badge-danger {
  border-left: 5px solid #ef4444;
  background-color: #ffb3ba;
  color: black;
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.bg-danger {
  border-radius: 35px !important;
}

.notificacion_container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 10px;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.lista_notificaciones {
  max-height: 600px;
  // width: 650px;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 15px;
}

.notificacion-leida {
  background-color: #f5f5f5;
  color: #888;
}

.fab-ajustes {
  --ion-color-primary: #f0d7b4;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.toast-clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.notificacion-item {
  transition: all 0.6s ease;

  &.resaltado {
    background: linear-gradient(135deg, #fff3cd, #ffecb5, #fff8e1, #f0d7b4) !important;
    background-size: 300% 300% !important;
    border: 2px solid #f0d7b4 !important;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.5) !important;
    transform: translateY(-2px);
    animation: brilloMovimiento 4s ease infinite !important;
  }
}

.notificacion-no-leida:not(.resaltado) {
  background-color: #ffefef !important; 
  border-left: 5px solid #ef4444;
}

@keyframes brilloMovimiento {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-link:hover {
  color: #ffb3ba !important;
}

.btn {
  border-radius: 35px !important;
}

.cuerpo-mensaje {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.4;
  transition: max-height 0.3s ease-out;

  &.expandido {
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }
}

@media (min-width: 768px) {
  .notificacion_container {
    width: 90%;
  }

  .cuerpo-mensaje {
    -webkit-line-clamp: unset !important;
    line-clamp: unset !important;
  }
}

.extra-small {
  font-size: 0.7rem;
}
