<app-navbar [backRoute]="'/home'" [searchRoute]="'search'" [isLoggedIn]="userLoggedIn"></app-navbar>
<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>Centro de notificaciones</h1>
    </div>

    <div class="lista_notificaciones">
      <div *ngIf="mostrarSpinner" class="text-center p-3">
        <app-spinner></app-spinner>
      </div>
      <div *ngIf="notificaciones.length === 0 && !mostrarSpinner" class="text-center mt-4">
        No tienes notificaciones.
      </div>
      <div *ngFor="let n of notificaciones" class="notificacion_container notificacion-item p-3 mb-2 mt-3"
        [class.resaltado]="n.id === idResaltado" [class.notificacion-no-leida]="!n.leida">

        <strong>Mensaje:</strong> {{ n.mensaje }}

        <div *ngIf="!n.leida" class="badge badge-danger ml-2">
          No leída
        </div>

        <div class="text-muted small mt-1">
          {{ n.fecha | date:'dd/MM/yyyy HH:mm' }}
        </div>

        <button class="btn btn_bg mt-2" (click)="toggleLeida(n)">
          Marcar como {{ n.leida ? 'no leída' : 'leída' }}
        </button>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-ajustes">
  <ion-fab-button (click)="goToSettings()" aria-label="Ajustes">
    <img [src]="iconoAjustes" alt="Ajustes" style="width: 24px; height: 24px;">
  </ion-fab-button>
</ion-fab>