<app-resumen-registro />
<div class="container box_normas">
  <h2>NORMAS COMO USUARIO DE PRIDERIDE</h2>
  <p>
    Al registrarte en nuestra aplicación, te comprometes a respetar a todos los
    usuarios, independientemente de su identidad de género, orientación sexual o
    cualquier otra característica personal.
  </p>

  <ul>
    <li>Tratar a todos los usuarios con amabilidad y empatía.</li>
    <li>
      No se tolerará ningún tipo de discriminación, acoso o conducta
      inapropiada.
    </li>
    <li>
      El incumplimiento de estas normas puede conllevar la suspensión de tu
      cuenta.
    </li>
  </ul>

  <p>
    Para conocer más detalles sobre nuestro código de conducta, haz clic en el
    siguiente botón:
  </p>
  <div class="text-center">
    <button type="button" class="btn btn_bg me-3" (click)="aceptarNormas()">
      Aceptar y registrar
    </button>
    <button type="button" class="btn btn_bg">Rechazar y salir</button>
  </div>
</div>
