<div class="mb-5 container">
  <h4 class="text-center mb-1 mb-sm-1 mb-md-5">
    {{ "VEHICULOS.MIS_VEHICULOS" | translate }}
  </h4>

  <!--Se muestra la tabla si hay vehículos-->
  <div
    *ngIf="
      funcionesUsuario.vehiculos_usuario &&
        funcionesUsuario.vehiculos_usuario.length > 0;
      else noVehiculos
    "
  >
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{{ "VEHICULOS.MARCA" | translate }}</th>
          <th scope="col">{{ "VEHICULOS.MODELO" | translate }}</th>
          <th scope="col">{{ "VEHICULOS.COLOR" | translate }}</th>
          <th scope="col">{{ "VEHICULOS.MATRICULA" | translate }}</th>
          <th scope="col">{{ "VEHICULOS.OPCIONES" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coche of funcionesUsuario.vehiculos_usuario">
          <td>
            <ng-container *ngIf="coche.editandoVehiculo; else noEditMarca">
              <select
                class="form-select"
                [(ngModel)]="coche.marca"
                (change)="filtrarModelosEditando(coche)"
              >
                <option
                  *ngFor="let coche of listadoCoches"
                  [value]="coche.marca"
                >
                  {{ coche.marca }}
                </option>
              </select>
            </ng-container>
            <ng-template #noEditMarca>{{ coche.marca }}</ng-template>
          </td>

          <td>
            <ng-container *ngIf="coche.editandoVehiculo; else noEditModelo">
              <select class="form-select" [(ngModel)]="coche.modelo">
                <option
                  *ngFor="let modelo of modelosFiltrados"
                  [value]="modelo"
                >
                  {{ modelo }}
                </option>
              </select>
            </ng-container>
            <ng-template #noEditModelo>{{ coche.modelo }}</ng-template>
          </td>

          <td>
            <ng-container *ngIf="coche.editandoVehiculo; else noEditColor">
              <select class="form-select" [(ngModel)]="coche.color">
                <option *ngFor="let color of listadoColores" [value]="color">
                  {{ color }}
                </option>
              </select>
            </ng-container>
            <ng-template #noEditColor>
              <img
                class="colorCoche"
                [src]="mostrarColorCoche(coche.color)"
                role="img"
                [attr.alt]="
                  'VEHICULOS.COLOR_VEHICULO'
                    | translate : { color: (coche.color | translate) }
                "
              />
            </ng-template>
          </td>

          <td>
            <ng-container *ngIf="coche.editandoVehiculo; else noEditMatricula">
              <input
                [id]="'matricula_' + coche.modelo"
                type="text"
                [(ngModel)]="coche.matricula"
                class="form-control"
                pattern="^[0-9]{4}[A-Za-z]{3}$"
                maxlength="7"
                [ngClass]="{
                  'is-invalid': !esMatriculaValida(coche.matricula)
                }"
                [attr.aria-label]="'VEHICULOS.MATRICULA' | translate"
              />
            </ng-container>
            <ng-template #noEditMatricula>{{ coche.matricula }}</ng-template>
          </td>

          <!-- Botón para editar el vehículo -->
          <td>
            <div class="row">
              <div class="col">
                <span
                  [id]="'accionVehiculo_' + coche.id"
                  class="visually-hidden"
                >
                  {{
                    coche.editandoVehiculo
                      ? ("VEHICULOS.GUARDAR" | translate)
                      : ("VEHICULOS.EDITAR" | translate)
                  }}
                </span>
                <button
                  type="button"
                  class="botones_tabla btn_bg"
                  mat-icon-button
                  (click)="
                    coche.editandoVehiculo
                      ? guardarVehiculoEditado(coche)
                      : editarFilaVehiculo(coche)
                  "
                  [attr.aria-label]="
                    coche.editandoVehiculo
                      ? ('VEHICULOS.GUARDAR_FILA' | translate)
                      : ('VEHICULOS.EDITAR_FILA' | translate)
                  "
                  [matTooltip]="
                    coche.editandoVehiculo
                      ? ('VEHICULOS.GUARDAR_TOOLTIP' | translate)
                      : ('VEHICULOS.EDITAR_TOOLTIP' | translate)
                  "
                >
                  <mat-icon>{{
                    coche.editandoVehiculo ? "save" : "edit"
                  }}</mat-icon>
                </button>
              </div>
              <!-- Botón para eliminar el vehículo -->
              <div class="col">
                <span id="editarLabel" class="visually-hidden">
                  {{ "VEHICULOS.ELIMINAR" | translate }}
                </span>
                <button
                  type="button"
                  class="botones_tabla btn_bg"
                  mat-icon-button
                  [attr.aria-label]="'VEHICULOS.ELIMINAR' | translate"
                  (click)="modalEliminarVehiculo(coche)"
                  [matTooltip]="'VEHICULOS.ELIMINAR' | translate"
                >
                  <mat-icon aria-hidden="true">delete</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </tr>
        <!-- Marca -->
      </tbody>
    </table>

    <div *ngIf="modificandoMarca">
      <p class="text-danger">
        {{ "VEHICULOS.ADVERTENCIA" | translate }}
      </p>
    </div>
  </div>

  <!--Mensaje si no hay ningún vehículo añadido-->
  <ng-template #noVehiculos>
    <div class="mt-3 d-flex justify-content-center">
      <span>{{ "VEHICULOS.SIN_VEHICULOS" | translate }}</span>
    </div>
  </ng-template>

  <!-- Boton para añadir vehiculos -->
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn_bg mt-3 boton_anadir"
      style="height: 33px"
      (click)="botonAnadirVehiculo()"
    >
      {{ "BOTON.ANADIR_VEHICULO" | translate }}
    </button>
  </div>

  <!--Selector de marca, modelo y color de vehiculos y botón para guardar vehiculo-->
  <div class="mt-3" *ngIf="mostrarSelectorVehiculo">
    <ion-row style="width: 650px">
      <!-- Selector de marca -->
      <ion-col size="4">
        <label id="labelMarca" for="marca" class="visually-hidden">
          {{ "VEHICULOS.MARCA" | translate }}
        </label>
        <select
          id="marca"
          class="form-select"
          [(ngModel)]="marcaSeleccionada"
          (change)="filtrarModelos()"
          [ngModelOptions]="{ standalone: true }"
          aria-labelledby="labelMarca"
        >
          <option value="" disabled>
            {{ "VEHICULOS.MARCA" | translate }}
          </option>
          <option *ngFor="let coche of listadoCoches" [value]="coche.marca">
            {{ coche.marca }}
          </option>
        </select>
      </ion-col>
      <!-- Selector de modelo -->
      <ion-col size="3">
        <label for="modelo" class="visually-hidden">
          {{ "VEHICULOS.MODELO" | translate }}
        </label>
        <select
          id="modelo"
          class="form-select"
          [(ngModel)]="modeloSeleccionado"
          [disabled]="!marcaSeleccionada"
          [ngModelOptions]="{ standalone: true }"
          aria-label="'VEHICULOS.SELECTOR_MODELO' | translate"
        >
          <option value="" disabled>
            {{ "VEHICULOS.MODELO" | translate }}
          </option>
          <option *ngFor="let modelo of modelosFiltrados" [value]="modelo">
            {{ modelo }}
          </option>
        </select>
      </ion-col>
      <!-- Selector de color -->
      <ion-col size="2">
        <div *ngIf="funcionesComunes.validacionIdioma">
          <label for="color" class="visually-hidden">
            {{ "VEHICULOS.COLOR" | translate }}
          </label>
          <select
            id="color"
            class="form-select"
            [attr.aria-label]="'VEHICULOS.SELECTOR_COLOR' | translate"
            [(ngModel)]="colorSeleccionado"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="!modeloSeleccionado"
          >
            <option value="" disabled>
              {{ "VEHICULOS.COLOR" | translate }}
            </option>
            <option *ngFor="let color of listadoColores" [value]="color">
              {{ color }}
            </option>
          </select>
        </div>

        <div *ngIf="!funcionesComunes.validacionIdioma">
          <select
            id="color"
            class="form-select"
            [attr.aria-label]="'VEHICULOS.SELECTOR_COLOR' | translate"
            [(ngModel)]="colorSeleccionado"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="!modeloSeleccionado"
          >
            <option value="" selected>
              {{ "VEHICULOS.COLOR" | translate }}
            </option>
            <option *ngFor="let color of listColours" [value]="color">
              {{ color }}
            </option>
          </select>
        </div>
      </ion-col>
      <!-- Input matricula -->
      <ion-col size="3">
        <div>
          <label for="nueva-matricula" class="visually-hidden">
            {{ "VEHICULOS.MATRICULA" | translate }}
          </label>
          <input
            type="text"
            class="form-control-sm inputs_selectores"
            placeholder="0000XXX"
            id="nueva-matricula"
            pattern="^[0-9]{4}[A-Za-z]{3}$"
            required
            maxlength="7"
            [attr.aria-describedby]="
              matriculaNoValida ? 'error-matricula' : null
            "
            [attr.aria-invalid]="matriculaNoValida ? 'true' : null"
            [(ngModel)]="matricula"
            (ngModelChange)="validarMatricula()"
            style="width: 120px"
          />
          <!-- Mensaje de error -->
          <div>
            <div
              *ngIf="matriculaNoValida"
              id="error-matricula"
              class="text-danger"
              role="alert"
              aria-live="polite"
            >
              {{ "VEHICULOS.MAT_NO_VALIDA" | translate }}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="container d-flex justify-content-center mt-2">
        <button
          type="button"
          [disabled]="matriculaNoValida"
          class="btn btn_bg"
          mat-raised-button
          (click)="guardarVehiculo()"
        >
          Guardar vehículo
        </button>
      </div>
    </ion-row>
  </div>
</div>
