.admin-container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        font-weight: 700;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--ion-color-dark);
    }
}

.user-list {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
    border-radius: 35px;
}

.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent !important;
}

ion-card {
    margin-inline: 0;
    margin-bottom: 15px;
    border-radius: 12px;
}

ion-toolbar {
    --padding-start: 8px;
    --padding-end: 8px;
}

ion-button {
    --border-radius: 35px !important;
    text-align: center !important;
}

ion-searchbar {
    --border-radius: 35px !important;
}

.logout-btn {
    font-weight: bold;
    --border-radius: 8px;
}

@media (max-width: 400px) {
    .logout-btn {
        span {
            display: none;
        }
    }
}