<app-navbar-admin></app-navbar-admin>
<ion-content [fullscreen]="true" class="ion-padding">
    <div class="admin-container">

        <ion-row>
            <ion-col size="12" size-md="4">
                <ion-card color="tertiary">
                    <ion-card-header>
                        <ion-card-title>{{ totalUsuarios }}</ion-card-title>
                        <ion-card-subtitle>Usuarios Totales</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card color="warning">
                    <ion-card-header>
                        <ion-card-title>{{ mensajesPendientes }}</ion-card-title>
                        <ion-card-subtitle>Mensajes Soporte</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card color="danger">
                    <ion-card-header>
                        <ion-card-title>{{ usuariosRestringidos }}</ion-card-title>
                        <ion-card-subtitle>Usuarios Restringidos</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary" (click)="goEvents()">
                    <ion-card-header>
                        <ion-card-subtitle>Gestión de eventos</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary">
                    <ion-card-header>
                        <ion-card-subtitle>Gestión de usuarios</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary">
                    <ion-card-header>
                        <ion-card-subtitle>Centro de mensajes</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <section class="ion-margin-top">
            <h2><ion-icon name="people-outline"></ion-icon> Gestión de Usuarios</h2>
            <ion-searchbar placeholder="Buscar por nombre o email" (ionInput)="filtrarUsuarios($event)"></ion-searchbar>

            <div class="user-list-container">
                <ion-list lines="full" class="user-list">
                    <ion-item *ngFor="let user of listaUsuarios">
                        <ion-avatar slot="start">
                            <img [src]="user.fotoPerfil || avatar" />
                        </ion-avatar>
                        <ion-label>
                            <h3>{{ user.nombre }}</h3>
                            <p>{{ user.email }}</p>
                        </ion-label>

                        <ion-badge [color]="user.ya_ha_sido_suspendido ? 'danger' : 'success'" slot="end">
                            {{ user.ya_ha_sido_suspendido ? 'Restringido' : 'Activo' }}
                        </ion-badge>

                        <ion-button fill="clear" slot="end" (click)="verDetalles(user)">
                            <ion-icon name="eye-outline"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" color="medium" slot="end" (click)="toggleRestriccion(user)">
                            <ion-icon
                                [name]="user.ya_ha_sido_suspendido  ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </div>

        </section>

        <section class="ion-margin-top">
            <h2><ion-icon name="mail-unread-outline"></ion-icon> Centro de Mensajes</h2>
            <ion-card>
                <ion-list>
                    <ion-item button *ngFor="let msg of mensajes" (click)="abrirMensaje(msg)">
                        <ion-label>
                            <h3>{{ msg.asunto }}</h3>
                            <p>{{ msg.remitente }} - {{ msg.fecha }}</p>
                        </ion-label>
                        <ion-note slot="end" color="primary" *ngIf="!msg.leido">Nuevo</ion-note>
                    </ion-item>
                </ion-list>
            </ion-card>
        </section>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn_bg" (click)="goGuayApp()">Ir a GoGuay</button>
    </div>
</ion-content>