<app-navbar-admin></app-navbar-admin>
<ion-content [fullscreen]="true" class="ion-padding">
    <div class="admin-container">

        <!-- INFORMACIÓN USUARIO CONTECTADO  -->
        <ion-row>
            <ion-col size="12" size-md="4">
                <ion-card class="info_user" color="light" (click)="goEvents()">
                    <ion-card-header>
                        <ion-card-subtitle>
                            <span><strong>Administrador: </strong>
                                {{ usuario?.nombre }} {{ usuario?.apellidos }}
                            </span>
                        </ion-card-subtitle>
                        <ion-card-subtitle class="ion-margin-top">
                            <i class="fi fi-rr-clock"></i>
                            <span>
                                {{ hours }}</span><span class="blink">:</span><span>{{ minutes }}
                            </span>
                        </ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- ESPACIO INFORMATIVO  -->
        <ion-row>
            <ion-col size="12" size-md="4">
                <ion-card color="tertiary">
                    <ion-card-header>
                        <ion-card-title>{{ listaUsuarios.length }}</ion-card-title>
                        <ion-card-subtitle>Usuarios Totales</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card color="warning">
                    <ion-card-header>
                        <ion-card-title>{{ mensajesPendientes }}</ion-card-title>
                        <ion-card-subtitle>Mensajes Soporte</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card color="danger">
                    <ion-card-header>
                        <ion-card-title>{{ usuariosRestringidos }}</ion-card-title>
                        <ion-card-subtitle>Usuarios Restringidos</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- ACCESOS A GESTIÓN  -->
        <ion-row>
            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary" (click)="goEvents()">
                    <ion-card-header>
                        <ion-card-subtitle>Gestión de eventos</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary">
                    <ion-card-header>
                        <ion-card-subtitle>Centro de incidencias</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <ion-col size="12" size-md="4">
                <ion-card class="button_gestion" color="secondary" (click)="goEncuestas()">
                    <ion-card-header>
                        <ion-card-subtitle>Ver Encuestas</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <section class="ion-margin-top animate__animated animate__fadeIn">
            <h2><ion-icon name="bar-chart-outline"></ion-icon> Análisis de Satisfacción</h2>
            <ion-card class="chart-card">
                <div class="chart-container">
                    <canvas #barCanvas></canvas>
                </div>
                <div *ngIf="totalEncuestas === 0" class="text-center p-3">
                    <p class="text-muted small">
                        <i class="fi fi-rr-info me-1"></i>
                        Las estadísticas se actualizarán automáticamente conforme lleguen valoraciones.
                    </p>
                </div>
            </ion-card>
        </section>

        <!-- GESTIÓN DE USUARIOS  -->
        <section class="ion-margin-top">
            <h2><ion-icon name="people-outline"></ion-icon> Gestión de Usuarios</h2>
            <ion-searchbar placeholder="Buscar por nombre o email" (ionInput)="filtrarUsuarios($event)"></ion-searchbar>

            <div class="user-list-container">
                <ion-list lines="full" class="user-list">
                    <ion-item *ngFor="let user of listaUsuarios">
                        <ion-avatar slot="start">
                            <img [src]="user.fotoPerfil || avatar" />
                        </ion-avatar>
                        <ion-label>
                            <h3>{{ user.nombre }}</h3>
                            <p>{{ user.email }}</p>
                        </ion-label>

                        <ion-badge [color]="user.ya_ha_sido_suspendido ? 'danger' : 'success'" slot="end">
                            {{ user.ya_ha_sido_suspendido ? 'Restringido' : 'Activo' }}
                        </ion-badge>

                        <ion-button fill="clear" slot="end" (click)="verDetalles(user)">
                            <ion-icon name="eye-outline"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" color="medium" slot="end" (click)="toggleRestriccion(user)">
                            <ion-icon
                                [name]="user.ya_ha_sido_suspendido  ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </div>

        </section>

        <!-- CENTRO DE MENSAJES  -->
        <section class="ion-margin-top">
            <h2><ion-icon name="mail-unread-outline"></ion-icon> Centro de Mensajes</h2>
            <ion-card class="user-list-container">
                <ion-list>
                    <ion-item button *ngFor="let msg of mensajes" (click)="abrirMensaje(msg)" class="mensajes">
                        <ion-label>
                            <h3>{{ msg.asunto }}</h3>
                            <p>{{ msg.remitente }} - {{ msg.fecha }}</p>
                        </ion-label>
                        <ion-note slot="end" color="primary" *ngIf="!msg.leido">Nuevo</ion-note>
                    </ion-item>
                </ion-list>
            </ion-card>
        </section>
    </div>

    <!-- BOTÓN PARA IR A APP PRINCIPAL  -->
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn_bg" (click)="goGuayApp()">Ir a GoGuay</button>
    </div>
</ion-content>