/* === Fila de foto y botones === */
.fila-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

.lista_sugerencias {
  max-height: 220px;
  overflow-y: auto;
  margin-top: 2px;

  .list-group-item {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover,
    &.active {
      background-color: #F0D7B4 !important;
      color: black !important;
    }
  }
}

#input-pronombre {
  &::placeholder {
    font-size: 0.99rem;
    opacity: 0.7;
  }
}

.flecha_selector {
  right: 15px;
  top: 67%;
  transform: translateY(-50%);
  pointer-events: none;
}




.fila-foto>.col-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tamaño del contenedor de imagen */
.img_container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.line {
  border-right: none !important;
  border-bottom: none;
}

/* Imagen redonda */
.img_profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

/* Botones circulares */
.boton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

/* Botón de eliminar */
.btn_delete {
  background-color: #e0b6b6 !important;
}

.btn_delete:hover {
  background-color: #f0d7b4 !important;
}

/* Botón "Así me ven los demás" */
.ver-perfil-btn {
  width: auto;
  min-width: 250px;
  white-space: nowrap;
  font-weight: 500;
  background-color: #a758e8;
  color: white;
  border-radius: 25px;
  padding: 8px 16px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.ver-perfil-btn:hover {
  background-color: #e0a667;
}




.btn_bg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}




.container-fluid input,
.container-fluid select,
.bio {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.fila-datos {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

.col_nombre_apellidos {
  display: flex;
  flex: 2;
  gap: 10px;
  justify-content: center;
}

.col_fecha_edad {
  display: flex;
  flex: 0 0 100%;
  max-width: 500px;
  /* Limita el ancho para que no se expanda demasiado de forma extraña */
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Centra la columna entera en el contenedor padre */

  /* Asegura que los bloques individuales de cada input tengan un ancho equilibrado y centrado */
  .mb-3:not(.cajon_edad) {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
      max-width: 150px;
      text-align: center;
    }
  }

  .cajon_edad {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
      max-width: 80px;
      /* <--- Aquí defines el ancho reducido exclusivo para la edad */
      text-align: center;
    }
  }
}







.fila-datos .col-nombre-apellidos ion-col,
.fila-datos .col-pronombre ion-col {
  flex: 1;
  min-width: 0;
}

.contenedor_tabla {
  width: 400px;
}

/* Estilos específicos para móviles */
@media (max-width: 576px) {

  .fila-foto {
    gap: 1rem;

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

  }

  /* === Fila de foto y botones === */
  .img_container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
    margin: 0 auto;
  }

  .img_profile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  .boton {
    width: 32px;
    height: 32px;
  }

  /* Botón "Así me ven los demás" */
  .ver-perfil-btn {
    width: 210px;
    font-weight: 100;
    font-size: 14px;
    background-color: #a758e8;
    color: white;
    border-radius: 25px;
    padding: 8px 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  }



  /* Contenedor de los selectores */
  .fila-selectores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fila-selectores .col-pronombre,
  .fila-selectores .col-genero {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .col-orientacion {
    flex: 0 0 70%;
    max-width: 70%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-orientacion label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
  }


  .fila-selectores select {
    width: 100% !important;
    font-size: 0.8rem !important;
  }

  .line {
    border-right: none !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .input_edad {
    width: 60px;
  }


}

@media (max-width: 992px) {
  .line {
    border-right: 2px dashed rgba(224, 166, 103, 0.4) !important;
  }

  .col-orientacion {
    .flecha_selector {
      top: 76%;
      transform: translateY(-50%);
    }
  }
}
