.digit-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s;
}

.file-upload {
  display: inline-block;
  position: relative;
}

.file-input {
  display: none;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #a758e8;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  line-height: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.upload-button:hover {
  background-color: #e0a667;
}

.btn_bg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.label-uverif {
  font-size: 1.5rem;
}

.checkverficado {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #e0a667;
  width: 30%;
}

.col-separator {
  border-right: 1px solid rgb(143, 141, 141);
  padding-right: 15px;
  margin-right: 15px;
}

.col-separator:last-child {
  border-right: none;
}

.container-fluid input,
.container-fluid select,
.bio {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.fila-datos {
  display: flex;
  flex-wrap: nowrap;
  /* Evita saltos de línea en escritorio */
  gap: 10px;
  width: 100%;
}

.col-nombre-apellidos {
  display: flex;
  flex: 2;
  /* Ocupará más espacio */
  gap: 10px;
}

.col-pronombre {
  flex: 1;
  /* Menos espacio que nombre y apellidos */
  display: flex;
  align-items: center;
}

.fila-datos .col-nombre-apellidos ion-col,
.fila-datos .col-pronombre ion-col {
  flex: 1;
  min-width: 0;
}

.contenedor_tabla {
  width: 400px;
}

.img_container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.boton-foto,
.boton-eliminar-foto,
.boton-ver-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem;
}

.img_profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.edit_btn {
  height: 24px;
  width: 24px;
}

.boton {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.boton-foto {
  position: absolute;
  top: 17.5%;
  left: 31%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
}



.boton-eliminar-foto {
  position: absolute;
  top: 17.5%;
  left: 61%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
}

.boton-ver-perfil {
  position: absolute;
  top: 17.5%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
}

.btn_delete {
  background-color: #e0b6b6 !important;
}

.btn_delete:hover {
  background-color: #f0d7b4 !important;
}

/* Estilos específicos para móviles */
@media (max-width: 576px) {
  .fila-datos {
    flex-wrap: wrap !important;
  }

  .col-nombre-apellidos {
    flex: 1 1 100%;
    /* Ocupa toda la fila */
  }

  .col-pronombre {
    flex: 1 1 100%;
    /* Se baja a la segunda fila */
    justify-content: center;
  }

  .mat-divider-mobile {
    display: none;
  }

  .boton-foto {
    position: absolute;
    top: 15.5%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    height: 18px;
  }

  .boton-eliminar-foto {
    position: absolute;
    top: 15.5%;
    left: 66.5%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    height: 18px;
  }

  .img_container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  }

  .img_profile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

  .boton {
    width: 24px;
    height: 24px;
  }

  p.d-flex.justify-content-center.mb-4 {
    text-align: center;
    flex-direction: column;
  }


}