<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>{{"MIPERFIL.MI_PERFIL" | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'MIPERFIL.DESCRIPCION_MIPERFIL' | translate}}
    </p>

    <!-- Modificación de datos personales -->
    <ion-row class="d-flex justify-content-center">
      <ion-col size="12" size-md="5" class="mx-md-5">
        <h4 class="text-center">{{'MIPERFIL.INFO_PERSONAL' | translate}}</h4>
        <ion-row class="fila-datos">
          <ion-col class="col-nombre-apellidos">
            <div class="mb-3">
              <label for="nombre" class="form-label"
                >{{'MIPERFIL.NOMBRE' | translate}}</label
              >
              <input
                type="text"
                class="form-control w-100"
                id="nombre"
                [(ngModel)]="nombreEditado"
                name="nombre"
                (ngModelChange)="onInputChange()"
                aria-required="true"
                aria-describedby="nombreHelp"
              />
              <span id="nombreHelp" class="visually-hidden">
                {{ 'MIPERFIL.NOMBRE_AYUDA' | translate }}
              </span>
            </div>
            <div class="mb-3">
              <label for="apellidos" class="form-label"
                >{{'MIPERFIL.APELLIDOS' | translate}}</label
              >
              <input
                type="text"
                class="form-control"
                id="apellidos"
                [(ngModel)]="apellidosEditados"
                name="apellidos"
                (ngModelChange)="onInputChange()"
                aria-required="true"
                aria-describedby="apellidosHelp"
              />
              <span id="apellidosHelp" class="visually-hidden">
                {{ 'MIPERFIL.APELLIDOS_AYUDA' | translate }}
              </span>
            </div>
          </ion-col>

          <ion-col class="col-pronombre">
            <div class="mb-3">
              <label for="pronombre" class="form-label pronombre"
                >{{'MIPERFIL.PRONOMBRE' | translate}}
                <span
                  class="ms-2 text-primary"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [attr.title]="'MIPERFIL.PRONOMBRE_TOOLTIP' | translate"
                >
                  <i class="bi-question-circle"></i>
                </span>
              </label>
              <select
                class="form-select w-150"
                [(ngModel)]="pronombreEditado"
                name="pronombre"
                (ngModelChange)="onInputChange()"
              >
                <option selected disabled>
                  {{"MIPERFIL.PRONOMBRE_SELECCIONA" | translate}}
                </option>
                <option value="Él / He / Him">Él / He / Him</option>
                <option value="Ella / She / Her">Ella / She / Her</option>
                <option value="Elle / They / Them">Elle / They / Them</option>
                <option value="Otros">Otros / Others</option>
                <option value="No uso ninguno concreto">
                  No uso ninguno concreto / No specific pronouns
                </option>
                <option value="Prefiero no responder">
                  Prefiero no responder / Prefer not to say
                </option>
              </select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="mb-3">
              <label for="genero" class="form-label">
                {{'MIPERFIL.GENERO' | translate}}
                <span
                  class="ms-2 text-primary"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [attr.title]="'MIPERFIL.GENERO_TOOLTIP' | translate"
                >
                  <i class="bi-question-circle"></i>
                </span>
              </label>

              <select
                id="genero"
                class="form-select"
                [(ngModel)]="generoEditado"
                name="genero"
                aria-label="Selección de género"
                (ngModelChange)="onInputChange()"
              >
                <option value="" selected disabled>
                  {{'MIPERFIL.GENERO_SELECCIONA' | translate}}
                </option>
                <option value="HOMBRE_CIS">Hombre CIS / Cis man</option>
                <option value="MUJER_CIS">Mujer CIS / Cis woman</option>
                <option value="TRANSEXUAL">Transexual / Transsexual</option>
                <option value="NO_BINARIO">No binario / Non-binary</option>
                <option value="INTERGENERO">Intergénero / Intergender</option>
                <option value="NO_FLUIDO">No fluido / Not fluid</option>
                <option value="OTRO">Otro / Other</option>
                <option value="NO_RESPONDE">
                  Prefiero no responder / Prefer not to answer
                </option>
              </select>
            </div>
          </ion-col>
          <ion-col>
            <div class="mb-3">
              <label for="orientacion" class="form-label"
                >{{'MIPERFIL.ORIENTACION' | translate}}
                <span
                  class="ms-2 text-primary"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [attr.title]="'MIPERFIL.ORIENTACION_TOOLTIP' | translate"
                >
                  <i class="bi-question-circle"></i>
                </span>
              </label>
              <select
                [(ngModel)]="orientacionEditada"
                name="orientacion"
                class="form-select"
                aria-label="Selección de orientación sexual"
                (ngModelChange)="onInputChange()"
              >
                >
                <option selected>
                  {{'MIPERFIL.ORIENTACION_SELECCIONA' | translate}}
                </option>
                <option value="GAY">Gay</option>
                <option value="LESBIANA">Lesbiana / Lesbian</option>
                <option value="BISEXUAL">Bisexual</option>
                <option value="PANSEXUAL">Pansexual</option>
                <option value="ASEXUAL">Asexual</option>
                <option value="DEMISEXUAL">Demisexual</option>
                <option value="QUEER">Queer</option>
                <option value="OTRO">Otro / Other</option>
                <option value="NO_RESPONDE">
                  Prefiero no responder / Prefer not to answer
                </option>
              </select>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="mb-3">
              <label for="fnacimiento" class="form-label"
                >{{'MIPERFIL.FECHA_NACIMIENTO' | translate}}</label
              >
              <input
                type="date"
                class="form-control"
                id="fnacimiento"
                [(ngModel)]="fechaNacimientoEditada"
                name="fnacimiento"
                (ngModelChange)="actualizarEdad()"
                (ngModelChange)="onInputChange()"
              />
            </div>
          </ion-col>
          <ion-col>
            <div class="mb-3">
              <label for="edad" class="form-label mb-3"
                >{{'MIPERFIL.EDAD' | translate}}</label
              >
              <br />
              <span> {{edad}} </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="mb-3">
              <label for="bio" class="form-label"
                >{{'MIPERFIL.SOBRE_TI' | translate}}</label
              >
              <textarea
                class="form-control bio"
                id="bio"
                rows="5"
                placeholder="{{'MIPERFIL.CUENTANOS' | translate}}"
                [(ngModel)]="bioEditada"
                name="bio"
                (ngModelChange)="onInputChange()"
              ></textarea>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

      <mat-divider vertical="" class="ms-4 mat-divider-mobile"></mat-divider>

      <ion-col size="12" size-md="5" class="mx-md-5">
        <!-- Tabla vehiculos -->
        <ion-row class="d-flex justify-content-center" *ngIf="isDesktop">
          <div class="">
            <app-tabla-vehiculos />
          </div>
        </ion-row>

        <ion-row class="d-flex justify-content-center" *ngIf="!isDesktop">
          <div class="contenedor_tabla">
            <app-vista-acordeon-vehiculos />
          </div>
        </ion-row>

        <!-- Preferencias -->
        <ion-row class="d-flex justify-content-center">
          <div class="mb-2">
            <h4 class="text-center">{{'MIPERFIL.PREF_VIAJE' | translate}}</h4>
            <label for="preferencias" class="form-label"
              >{{'MIPERFIL.CUANDO_VIAJO_PREFIERO' | translate}}</label
            >
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="'Hablar'"
                (change)="onCheckboxChange('Hablar', $event)"
                [checked]="preferenciasSeleccionadas.includes('Hablar')"
                id="hablar"
              />
              <label class="form-check-label" for="hablar">
                {{'MIPERFIL.HABLAR' | translate}}
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="'Escuchar música'"
                (change)="onCheckboxChange('Escuchar música', $event)"
                [checked]="preferenciasSeleccionadas.includes('Escuchar música')"
                id="escucharmusica"
              />
              <label class="form-check-label" for="escucharmusica">
                {{'MIPERFIL.ESCUCHAR_MUSICA' | translate}}
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="'Dormir'"
                (change)="onCheckboxChange('Dormir', $event)"
                [checked]="preferenciasSeleccionadas.includes('Dormir')"
                id="Dormir"
              />
              <label class="form-check-label" for="Dormir">
                {{'MIPERFIL.DORMIR' | translate}}
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="'Ir en silencio'"
                (change)="onCheckboxChange('Ir en silencio', $event)"
                [checked]="preferenciasSeleccionadas.includes('Ir en silencio')"
                id="silencio"
              />
              <label class="form-check-label" for="silencio">
                {{'MIPERFIL.SILENCIO' | translate}}
              </label>
            </div>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Botón para guardar los cambios -->
    <ion-row class="d-flex justify-content-center ms-1 mt-5 mb-3">
      <div>
        <p-toast position="bottom-center"></p-toast>
        <button
          type="button"
          class="btn btn_bg"
          mat-raised-button
          [disabled]="!botonHabilitado"
          (click)="editarDatos()"
        >
          {{'BOTON.GUARDAR' | translate}}
        </button>
      </div>
    </ion-row>
  </div>
</ion-content>
