<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="goHome()">
                <i class="fi fi-rr-house-chimney me-2"></i>
                Inicio
            </ion-button>
        </ion-buttons>

        <ion-title>Administración GoGuay</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="logout()" fill="solid" color="danger" class="logout-btn">
                Cerrar sesión
                <i class="fi fi-rr-power ms-2"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>