<div class="container modal-infovisible">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "MI_PERFIL.TITULO" | translate }}</h2>
    <button
      mat-icon-button
      (click)="openInfoVisible()"
      aria-label="Abrir ventana"
    >
      <mat-icon>open_in_new</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="closeDialog()"
      aria-label="Cerrar ventana de dialogo"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>{{ "MI_PERFIL.DESCRIPCION_SECCION" | translate }}</p>

    <mat-divider></mat-divider>
    <form>
      <ion-row class="d-flex justify-content-center">
        <h6>Datos personales</h6>
      </ion-row>
      <div class="mb-3">
        <label for="nombre" class="form-label">{{
          "MI_PERFIL.NOMBRE" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          aria-describedby="nombre"
          [(ngModel)]="funcionesUsuario.nombreEditado"
          name="nombre"
        />
      </div>

      <div class="mb-3">
        <label for="apellidos" class="form-label">{{
          "MI_PERFIL.APELLIDOS" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="apellidos"
          aria-describedby="apellidos"
          [(ngModel)]="funcionesUsuario.apellidosEditados"
          name="apellidos"
        />
      </div>

      <!-- Pronombre -->
      <div class="mb-3">
        <label for="pronombre" class="form-label">{{
          "MI_PERFIL.PRONOMBRE" | translate
        }}</label>
        <select
          class="form-select"
          id="pronombre"
          aria-label="Selección de pronombre"
          name="pronombre"
          [(ngModel)]="funcionesUsuario.pronombreEditado"
        >
          <option selected disabled>Escoge una opcion</option>
          <option value="Él / He / Him">Él / He / Him</option>
          <option value="Ella / She / Her">Ella / She / Her</option>
          <option value="Elle / They / Them">Elle / They / Them</option>
          <option value="Otros">Otros</option>
          <option value="No uso ninguno concreto">
            No uso ninguno concreto
          </option>
          <option value="Prefiero no responder">Prefiero no responder</option>
        </select>
      </div>

      <!-- Género -->
      <div class="mb-3">
        <label for="genero" class="form-label">{{
          "MI_PERFIL.GENERO" | translate
        }}</label>
        <select
          class="form-select"
          id="genero"
          name="genero"
          [(ngModel)]="funcionesUsuario.generoEditado"
          aria-label="Selección de genero"
        >
          <option value="" selected disabled>
            {{ "SELEC_GENERO.SELECCIONA" | translate }}
          </option>
          <option value="HOMBRE_CIS">
            {{ "SELEC_GENERO.HOMBRE_CIS" | translate }}
          </option>
          <option value="MUJER_CIS">
            {{ "SELEC_GENERO.MUJER_CIS" | translate }}
          </option>
          <option value="TRANSEXUAL">
            {{ "SELEC_GENERO.TRANSEXUAL" | translate }}
          </option>
          <option value="NO_BINARIO">
            {{ "SELEC_GENERO.NO_BINARIO" | translate }}
          </option>
          <option value="INTERGENERO">
            {{ "SELEC_GENERO.INTERGENERO" | translate }}
          </option>
          <option value="NO_FLUIDO">
            {{ "SELEC_GENERO.NO_FLUIDO" | translate }}
          </option>
          <option value="OTRO">
            {{ "SELEC_GENERO.OTRO" | translate }}
          </option>
          <option value="NO_RESPONDE">
            {{ "SELEC_GENERO.NO_RESPONDE" | translate }}
          </option>
        </select>
      </div>

      <!-- Orientación -->
      <div class="mb-3">
        <label for="orientacion" class="form-label"
          >{{ "MI_PERFIL.ORIENTACION" | translate }}
          <span
            class="ms-2 text-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Más detalles"
          >
            <i class="bi-question-circle"></i>
          </span>
        </label>
        <select
          [(ngModel)]="funcionesUsuario.orientacionEditada"
          name="orientacion"
          class="form-select"
          aria-label="Selección de orientación sexual"
        >
          <option selected>
            {{ "ORIENTACION.SELECCIONA" | translate }}
          </option>
          <option value="GAY">
            {{ "ORIENTACION.GAY" | translate }}
          </option>
          <option value="LESBIANA">
            {{ "ORIENTACION.LESBIANA" | translate }}
          </option>
          <option value="BISEXUAL">
            {{ "ORIENTACION.BISEXUAL" | translate }}
          </option>
          <option value="PANSEXUAL">
            {{ "ORIENTACION.PANSEXUAL" | translate }}
          </option>
          <option value="ASEXUAL">
            {{ "ORIENTACION.ASEXUAL" | translate }}
          </option>
          <option value="DEMISEXUAL">
            {{ "ORIENTACION.DEMISEXUAL" | translate }}
          </option>
          <option value="QUEER">
            {{ "ORIENTACION.QUEER" | translate }}
          </option>
          <option value="OTRO">
            {{ "ORIENTACION.OTRO" | translate }}
          </option>
          <option value="NO_RESPONDE">
            {{ "ORIENTACION.NO_RESPONDE" | translate }}
          </option>
        </select>
      </div>

      <!-- Fecha de nacimiento -->
      <div class="mb-3">
        <label for="fnacimiento" class="form-label">{{
          "MI_PERFIL.FECHA_NACIMIENTO" | translate
        }}</label>
        <input
          type="date"
          class="form-control"
          id="fnacimiento"
          [(ngModel)]="funcionesUsuario.fechaNacimientoEditada"
          name="fnacimiento"
          (ngModelChange)="actualizarEdad()"
        />
      </div>

      <!-- Edad -->
      <div class="mb-3">
        <label for="edad" class="form-label mb-3">{{
          "MI_PERFIL.EDAD" | translate
        }}</label>
        <br />
        <span> {{ edad }} </span>
      </div>

      <div class="mb-3">
        <label for="bio" class="form-label">{{
          "MI_PERFIL.SOBRE_TI" | translate
        }}</label>
        <textarea
          class="form-control bio"
          id="bio"
          rows="5"
          placeholder="{{ 'MI_PERFIL.CUENTANOS' | translate }}"
          [(ngModel)]="funcionesUsuario.bioEditada"
          name="bio"
        ></textarea>
      </div>
      <div>
        <app-tabla-vehiculos class="d-flex justify-content-center" />
      </div>

      <div class="mb-4">
        <ion-row class="d-flex justify-content-center">
          <h6>{{ "MI_PERFIL.PREF_VIAJE" | translate }}</h6>
        </ion-row>
        <label for="preferencias" class="form-label">{{
          "MI_PERFIL.CUANDO_VIAJO_PREFIERO" | translate
        }}</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ "MI_PERFIL.HABLAR" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.ESCUCHAR_MUSICA" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.DORMIR" | translate }}
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.SILENCIO" | translate }}
          </label>
        </div>
      </div>

      <div class="btn d-flex justify-content-center">
        <button type="submit" class="btn btn_bg" mat-raised-button>
          {{ "BOTON.GUARDAR" | translate }}
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
