@use "@angular/material" as mat;

.modal-infovisible {
  max-width: 90vw !important; /* Que el modal use el 90% del ancho de la pantalla */
  max-height: 90vh; /* Que el modal no supere el 90% del alto de la pantalla */
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}



.caja_vehiculos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Evita el desplazamiento horizontal */
}




.style_h2{
  padding: 5%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header h2 {
  margin: 0;
}

.dialog-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

:root {
  @include mat.dialog-overrides((
    container-max-width: 1500px
 ));
}

@media (max-width: 576px) {
  .modal-infovisible{
    width: auto;
    height: auto;
  }
}
