.navbar-diseno {
  background-color: #f0d7b4;
}

.boxHeader {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

ion-button {
  color: #000000 !important;
}

.logo {
  max-width: 75px;
  width: 100%; /* Se adapta al contenedor */
  height: auto;
  flex-shrink: 1;
}

.logo_mobile {
  width: 60px;
  border-radius: 50%;
  object-fit: contain;
}

.navbar-diseno ul,
.navbar-diseno li {
  list-style: none;
}

.opciones {
  display: flex;
  flex-wrap: nowrap !important; 
  width: 100%;
  justify-content: space-evenly;
}

.opciones li {
  width: auto;
  min-width: fit-content;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.idiomas {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  mix-blend-mode: multiply; // elimina el fondo blanco del gif
}

.caja-icono {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.search-icon {
  margin-left: 4px;
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.caja_imagen_perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja_imagen_perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flecha-animada {
  transition: transform 0.3s ease;
}

.flecha-animada.rotada {
  transform: rotate(180deg);
}

.dropdown-toggle::after {
  content: none;
}

.tamano-icono {
  font-size: 50px !important;
  color: black;
}

.flag-icon {
  width: 20%;
  border-radius: 8px;
  margin-right: 8%;
}

.navbar {
  position: relative;
  z-index: 10;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -160% !important;
    right: 0;
    transform: translateY(0);
    z-index: 1050;
    box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  }
}

.navbar .dropdown-menu li a:hover {
  padding: auto;
  border: none;
  background-color: #f0d7b4;
  border-radius: 15px;
}

.navbar .dropdown-menu .perfil a:hover {
  padding: auto;
  border: none;
  background-color: #f0d7b4;
  border-radius: 15px;
  width: auto;
}

// Botón Salir
.navbar .dropdown-menu .logout a:hover {
  border: none;
  background-color: #ff5733;
  color: white;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  transform: translateY(-10px);
  z-index: 1050;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  display: block;
}

.navbar .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .dropdown-menu li {
  transition: transform 0.2s ease-in-out;
}

.navbar .dropdown-menu li:hover {
  transform: translateX(5px);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: black;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: none !important;
  white-space: nowrap;
  font-size: clamp(0.75rem, 1.2vw, 0.95rem);
}

.nav-link:hover {
  color: gray;
}

.icono_ajsutes {
  width: 24px;
  height: 24px;
}

.navbar-collapse.collapsing {
  transition: none !important;
  height: auto !important;
  overflow: visible !important;
}

.navbar-collapse.show {
  height: auto !important;
  overflow: visible !important;
}

.idiomas-container {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  min-width: 30px;
}

.icon-idioma {
  width: 20px !important;
  height: auto;
  cursor: pointer;
  transition: filter 0.3s;
}

.icon-idioma:hover {
  transform: scale(1.05);
}

/* Estilo para el idioma no seleccionado (Blanco y negro) */
.grayscale-filter {
  filter: grayscale(100%);
  opacity: 0.7;
}

.navbar-diseno .container {
  max-width: 1200px;
}

.opciones .nav-item {
  padding: 0 10px;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1100px) {
  .opciones li {
    padding: 0 8px;
  }

  .opciones .nav-link {
    font-size: 0.85rem;
  }

  .logo {
    width: 50px;
  }

  .navbar-collapse {
    justify-content: space-between !important;
  }
}

@media (max-width: 1100px) {
  .opciones-lado .nav-link {
    font-size: 0.85rem;
  }
  .logo {
    width: 60px;
  }
}

@media (max-width: 1200px) {
  .opciones li {
    padding: 0 5px; /* Menos espacio entre botones */
  }
  
  .logo {
    width: 50px; /* Logo más pequeño */
  }

  .caja_imagen_perfil {
    width: 45px; /* Avatar más pequeño */
    height: 45px;
  }
  
  /* Ocultamos el texto "Buscar viaje" y dejamos solo la lupa si es necesario */
  /* O simplemente reducimos el gap */
  .navbar-nav {
    gap: 2px;
  }
}

@media (max-width: 576px) {
  .navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 4px;
    transform: translateY(-10px);
    z-index: 1050;
    box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    display: block;
  }

  .logo {
    width: 60px;
    border-radius: 50%;
  }
  .btnNotificaciones img {
    width: 45px;
    height: 40px;
  }
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
  color: black;
}

.mobile-navbar {
  position: relative;
  width: auto;
  .gap-logged-in {
    margin-left: 30px; 
    transition: margin 0.3s ease;
  }
}

.centered-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  border-radius: 50%;
  object-fit: contain;
}

.btnNotificaciones {
  width: 84px;
  height: 48px;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnMensajes {
  width: 48px;
  height: 48px;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnNotificaciones img {
  width: 45px;
  height: 40px;
}

.btnMensajes img {
  max-width: 84%;
  max-height: 0%;
  object-fit: contain;
}

.badge-notificaciones {
  position: absolute;
  bottom: 20px;
  right: 118px;
  transform: translate(50%, 50%);
  background-color: red;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}

.badge-notificaciones_mensajes {
  position: absolute;
  bottom: 20px;
  right: 38px;
  transform: translate(50%, 50%);
  background-color: red;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}

.tamano-icono,
.caja-icono {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: flex !important;
  }
  .mobile-navbar {
    width: 100%;
    .idiomas-container {
    margin-right: 10px; // Separa las banderas de los iconos de notificación
  }
  }
  .idiomas-container {
    position: relative !important;
    top: 0 !important;
    right: -20px !important;
    min-width: 30px;
  }
}

@media (max-width: 380px) {
  .gap-logged-in {
    margin-left: 10px;
  }
}
