<ion-header>
  <!-- Se muestra sólo en el Home -->
  <ng-container *ngIf="validacionHomePage; else otherPageNav">
    <nav class="navbar navbar-expand-lg navbar-diseno">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleMenu()"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <mat-icon *ngIf="!menuOpen"> menu </mat-icon>
          <mat-icon *ngIf="menuOpen"> close </mat-icon>
        </button>
        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto justify-content-between mb-2 mb-lg-0 w-100 align-items-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/sobre-nosotros">
                {{ "NAVBAR.QUIENES" | translate }}
              </a>
            </li>

            <li class="nav-item ion-activatable ripple-parent circle">
              <a class="nav-link active" aria-current="page" href="/faqs">
                {{ "NAVBAR.FAQS" | translate }}
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/decalogo">
                {{ "NAVBAR.DECALOGO" | translate }}
              </a>
            </li>

            <li class="nav-item d-flex flex-column align-items-center">
              <a class="" href="#">
                <img src="../../../assets/logo/PRIDECAR.png" alt="Logo" class="logo" />
              </a>
              <h1 class="m-0 text-center">{{ "TITLE" | translate }}</h1>
            </li>

            <li class="nav-item">
              <a class="nav-link active d-flex align-items-center" aria-current="page" href="/busqueda-viajes">
                {{ "NAVBAR.BUSCAR_VIAJE" | translate }}
                <img src="../../../assets/sistema/busqueda.png" class="search-icon">
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/nuevo-viaje" aria-current="page">
                {{ "NAVBAR.PUBLICAR_VIAJE" | translate }}
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active" aria-current="page" href="/notificaciones">
                <img class="idiomas" src="../../../assets/sistema/campana.gif">
              </a>
            </li>

            <ng-container *ngIf="isLoggedIn; else loggedOutNav">
              <li class="nav-item dropdown">
                <!-- boton del menu -->
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" (click)="cambioDireccionFlecha()">
                  <img class="caja-icono tamano-icono" *ngIf="!usuario?.fotoPerfil"
                    src="../../../assets/user/logOn.gif">
                  <div class="caja_imagen_perfil" *ngIf="usuario?.fotoPerfil">
                    <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                  </div>
                  <mat-icon class="flecha-icono ms-2 flecha-animada"
                    [class.rotada]="isDropdownOpen">expand_more</mat-icon>
                </a>

                <ul class="dropdown-menu menuusuario" aria-labelledby="navbarDropdown" data-bs-auto-close="false">
                  <nav class="nav nav-pills flex-column">
                    <ul>
                      <li class="perfil nav-item dropdown">
                        <a class="nav-link ms-3" href="/mi-perfil">{{ "NAVBAR.MIPERFIL" | translate }}</a>
                      </li>
                      <li class="perfil nav-item dropdown">
                        <a class="nav-link ms-3" (click)="irAMisViajes()">{{ "NAVBAR.MIS_VIAJES" | translate }}</a>
                      </li>
                      <li class="perfil nav-item dropdown">
                        <a class="nav-link ms-3" href="/datos-contacto">{{ "NAVBAR.DATOSCONTACTO" | translate }}</a>
                      </li>
                      <li class="perfil nav-item dropdown">
                        <a class="nav-link ms-3" href="/verificaciones-perfil">{{ "NAVBAR.VERIFICACION" | translate
                          }}</a>
                      </li>
                      <li class="perfil nav-item dropdown">
                        <a class="nav-link ms-3" href="/saldo-transferencias">{{ "NAVBAR.SALDO" | translate }}</a>
                      </li>
                      <li class="perfil nav-item dropdow">
                        <a class="nav-link ms-3" href="/ajustes-aplicacion">
                          <img class="icono_ajsutes" src="../../../assets/sistema/ajustes.png">
                          {{ "NAVBAR.AJUSTES" | translate }}
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <mat-divider></mat-divider>
                  <li class="logout d-flex align-items-center justify-content-center">
                    <a class="dropdown-item d-flex align-items-center" (click)="logout()" type="button">
                      <mat-icon class="me-2">power_settings_new</mat-icon>
                      {{ "NAVBAR.SALIR" | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ng-container>

            <ng-template #loggedOutNav>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" (click)="cambioDireccionFlecha()">
                  <img class="caja-icono tamano-icono" src="../../../assets/user/logOff.gif">
                  <mat-icon class="flecha-icono ms-2 flecha-animada"
                    [class.rotada]="isDropdownOpen">expand_more</mat-icon>
                </a>
                <ul class="dropdown-menu menuusuario">
                  <li>
                    <a class="dropdown-item" href="/login">{{ "NAVBAR.LOGIN" | translate }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/registro">{{ "NAVBAR.REGISTRO" | translate }}</a>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
  </ng-container>
  <!-- Se muestra en cualquier pagina menos el Home -->
  <ng-template #otherPageNav>
    <nav class="navbar navbar-expand-lg navbar-diseno">
      <div class="container">
        <ul class="menuusuario">
          <li class="nav-item d-flex flex-column align-items-center">
            <ion-button fill="clear" (click)="goBack()">
              <mat-icon class="back-icon">arrow_back</mat-icon>
              <img src="{{ logo }}" alt="Logo" class="logo" />
              PrideRide
            </ion-button>
          </li>
        </ul>
        <div class="d-flex align-items-center buscar-viaje">
          <a *ngIf="searchRoute" class="nav-link active d-flex align-items-center" [routerLink]="searchRoute">
            <span *ngIf="isDesktop">{{ dynamicTitle }}</span>
            <mat-icon title="{{ dynamicTitle }}">{{ dynamicIcon }}</mat-icon>
          </a>
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown" *ngIf="!isLoggedIn">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="caja-icono tamano-icono" src="../../../assets/user/logOff.gif">
                <mat-icon class="flecha-icono ms-2 flecha-animada"
                  [class.rotada]="isDropdownOpen">expand_more</mat-icon>
              </a>
              <ul class="dropdown-menu menuusuario">
                <li>
                  <a class="dropdown-item" href="/login">{{ "NAVBAR.LOGIN" | translate }}</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/registro">{{ "NAVBAR.REGISTRO" | translate }}</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown" *ngIf="isLoggedIn">
              <!-- boton del menu -->
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" (click)="cambioDireccionFlecha()">
                <img class="caja-icono tamano-icono" *ngIf="!usuario?.fotoPerfil" src="../../../assets/user/logOn.gif">
                <div class="caja_imagen_perfil" *ngIf="usuario?.fotoPerfil">
                  <img [src]="usuario.fotoPerfil" alt="Foto de perfil">
                </div>
                <mat-icon class="flecha-icono ms-2 flecha-animada"
                  [class.rotada]="isDropdownOpen">expand_more</mat-icon>
              </a>

              <ul class="dropdown-menu menuusuario" aria-labelledby="navbarDropdown" data-bs-auto-close="false">
                <nav class="nav nav-pills flex-column">
                  <ul>
                    <li class="perfil nav-item dropdown">
                      <a class="nav-link ms-3" href="/mi-perfil">{{ "NAVBAR.MIPERFIL" | translate }}</a>
                    </li>
                    <li class="perfil nav-item dropdown">
                      <a class="nav-link ms-3" (click)="irAMisViajes()">{{ "NAVBAR.MIS_VIAJES" | translate }}</a>
                    </li>
                    <li class="perfil nav-item dropdown">
                      <a class="nav-link ms-3" href="/datos-contacto">{{ "NAVBAR.DATOSCONTACTO" | translate }}</a>
                    </li>
                    <li class="perfil nav-item dropdown">
                      <a class="nav-link ms-3" href="/verificaciones-perfil">{{ "NAVBAR.VERIFICACION" | translate
                        }}</a>
                    </li>
                    <li class="perfil nav-item dropdown">
                      <a class="nav-link ms-3" href="/saldo-transferencias">{{ "NAVBAR.SALDO" | translate }}</a>
                    </li>
                    <li class="perfil nav-item dropdow">
                      <a class="nav-link ms-3" href="/ajustes-aplicacion">
                        <img class="icono_ajsutes" src="../../../assets/sistema/ajustes.png">
                        {{ "NAVBAR.AJUSTES" | translate }}
                      </a>
                    </li>
                  </ul>
                </nav>
                <mat-divider></mat-divider>
                <li class="logout d-flex align-items-center justify-content-center">
                  <a class="dropdown-item d-flex align-items-center" (click)="logout()" type="button">
                    <mat-icon class="me-2">power_settings_new</mat-icon>
                    {{ "NAVBAR.SALIR" | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </ng-template>
</ion-header>