<div class="container">
  <div class="container" id="resumen_datos_registro">
    <div value="first" class="contenido">
      <ion-item slot="header" class="white-header">
        <div class="d-flex flex-column w-100">
          <div class="titulo-icono">
            <mat-icon class="me-1">person_celebrate</mat-icon>
            <h4 class="m-0">{{ 'REGISTRO.RESUMEN_REGISTRO.TUS_DATOS' | translate }}</h4>
          </div>

          <p class="d-flex justify-content-center mt-2">{{ 'REGISTRO.RESUMEN_REGISTRO.INFO' | translate }}</p>
        </div>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="container d-flex justify-content-center dialog-animate">
          <div class="row w-100">
            <!-- Columna central con resumen de datos guardados -->
            <form [formGroup]="formularioResumen" class="formulario">
              <div class="d-flex justify-content-center">
                <ul>
                  <li
                    *ngFor="let campo of ['email', 'fecha_de_nacimiento', 'nombre', 'apellidos', 'telefono', 'genero', 'orientacion']"
                    class="d-flex align-items-center mb-2">
                    <i
                      [ngClass]="{
                        'fi fi-rr-at': campo === 'email',
                        'fi fi-rr-cake-birthday': campo === 'fecha_de_nacimiento',
                        'fi fi-rr-id-card': campo === 'nombre' || campo === 'apellidos',
                        'fi fi-rr-phone-call': campo === 'telefono',
                        'fi fi-rr-venus-mars': campo === 'genero',
                        'fi fi-rs-heart-half-stroke': campo === 'orientacion',
                      }"
                      class="me-1"></i>
                    <strong class="me-1">{{ transformToTitleCase(campo) }}:</strong>

                    <div class="flex-grow-1">
                      <span *ngIf="!editando[campo]">
                        {{
                          campo === 'genero'
                            ? validacionGenero(getValorCampo(campo))
                            : campo === 'fecha_de_nacimiento'
                              ? (getValorCampo(campo) | date: 'dd/MM/yyyy')
                              : campo === 'orientacion'
                                ? validacionOrientacion(getValorCampo(campo))
                                : getValorCampo(campo)
                        }}
                      </span>
                      <ng-container *ngIf="editando[campo]">
                        <select
                          *ngIf="campo === 'genero' || campo === 'orientacion'"
                          class="form-control form-control-sm"
                          [formControlName]="campo"
                          [ngModel]="getValorCampo(campo)">
                          <option value="" selected disabled hidden>{{ 'REGISTRO.RESUMEN_REGISTRO.SELECCIONA' | translate }}</option>
                          <option *ngFor="let opcion of campo === 'genero' ? generos : orientaciones" [value]="opcion">
                            {{ campo === 'genero' ? validacionGenero(opcion) : validacionOrientacion(opcion) }}
                          </option>
                        </select>
                        <!-- Input tipo date para fecha_nacimiento -->
                        <input
                          *ngIf="campo === 'fecha_de_nacimiento'"
                          type="date"
                          class="form-control form-control-sm"
                          [formControlName]="campo"
                          min="1930-01-01"
                          aria-describedby="fnacimientoHelp"
                          [max]="fechaMaxima"
                          required
                          (change)="onFechaChange()"
                          [ngModel]="getValorCampo(campo)" />
                        <span id="fnacimientoHelp" class="visually-hidden">{{ 'REGISTRO.FORM1.FNACIMIENTO.AYUDA' | translate }}</span>
                        <div
                          class="text-danger posicion_error"
                          *ngIf="formularioResumen.get('fecha_de_nacimiento')?.invalid && formularioResumen.get('fecha_de_nacimiento')?.touched">
                          <span *ngIf="formularioResumen.get('fecha_de_nacimiento')?.errors?.['fechalimite']">
                            {{ 'REGISTRO.FORM1.FNACIMIENTO.INCORRECTA' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('fecha_de_nacimiento')?.errors?.['required']">
                            {{ 'REGISTRO.FORM1.FNACIMIENTO.OBLIGATORIA' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('fecha_de_nacimiento')?.errors?.['menorDeEdad']">
                            {{ 'REGISTRO.FORM1.FNACIMIENTO.MENOR_EDAD' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('fecha_de_nacimiento')?.errors?.['fechaFutura']">
                            {{ 'REGISTRO.FORM1.FNACIMIENTO.SUPERIORACTUAL' | translate }}
                          </span>
                        </div>
                        <!-- Input tipo email -->
                        <input
                          *ngIf="campo === 'email'"
                          type="email"
                          required
                          inputmode="email"
                          id="email"
                          name="email"
                          aria-describedby="emailHelp"
                          autocomplete="email"
                          class="form-control form-control-sm"
                          [formControlName]="campo"
                          (input)="validarCampo('email', formularioResumen)" />
                        <span id="emailHelp" class="visually-hidden">{{ 'REGISTRO.FORM1.CORREO.AYUDA' | translate }}</span>

                        <div
                          *ngIf="formularioResumen.get('email')?.invalid && formularioResumen.get('email')?.touched"
                          class="text-danger posicion_error">
                          <span *ngIf="formularioResumen.get('email')?.errors?.['required']">
                            {{ 'REGISTRO.FORM1.CORREO.OBLIGATORIO' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('email')?.errors?.['pattern']">{{ 'REGISTRO.FORM1.CORREO.FORMATO' | translate }}</span>
                          <span *ngIf="formularioResumen.get('email')?.errors?.['emailRepetido']">
                            {{ 'REGISTRO.FORM1.CORREO.YAEXISTE' | translate }}
                          </span>
                        </div>
                        <!-- Input teléfono -->
                        <input
                          *ngIf="campo !== 'genero' && campo !== 'orientacion' && campo !== 'fecha_de_nacimiento' && campo !== 'email'"
                          type="text"
                          required
                          class="form-control form-control-sm"
                          [formControlName]="campo" />
                        <div *ngIf="formularioResumen.get('telefono')?.invalid && formularioResumen.get('telefono')?.touched" class="text-danger">
                          <span class="text-danger posicion_error" *ngIf="formularioResumen.get('telefono')?.errors?.['required']">
                            {{ 'REGISTRO.FORM2.TELEFONO.OBLIGATORIO' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('telefono')?.errors?.['pattern']">
                            {{ 'REGISTRO.FORM2.TELEFONO.FORMATO' | translate }}
                          </span>
                          <span *ngIf="formularioResumen.get('telefono')?.errors?.['telefonoRepetido']">
                            {{ 'REGISTRO.FORM2.TELEFONO.YAEXISTE' | translate }}
                          </span>
                        </div>
                      </ng-container>
                    </div>

                    <!-- Íconos -->
                    <i *ngIf="!editando[campo]" class="fi fi-rr-pencil ms-2" style="cursor: pointer" (click)="activarEdicion(campo)"></i>

                    <button *ngIf="editando[campo] && hayCambio(campo)" (click)="guardar(campo)">
                      <i class="fi fi-rs-disk"></i>
                    </button>
                    <button *ngIf="editando[campo]" (click)="desactivarEdicion(campo)">
                      <i class="fi fi-rr-circle-xmark"></i>
                    </button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center m-4">
    <p>Al registrarte, reconoces haber leído, entendido y aceptado nuestras Normas y condiciones del Servicio</p>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn_bg me-3" (click)="aceptarNormas()">Aceptar y registrar</button>
    <button type="button" routerLink="/home" class="btn boton_rechazo">Rechazar y salir</button>
  </div>
</div>
