<div class="ventana mt-5">
  <div
    class="container"
    id="resumen_datos_registro"
  >
    <div
      value="first"
      class="contenido"
    >
      <ion-item
        slot="header"
        class="white-header"
      >
        <div class="d-flex flex-column w-100">
          <div class="titulo-icono">
            <mat-icon class="me-1">person_celebrate</mat-icon>
            <h4 class="m-0">
              {{ 'REGISTRO.RESUMEN_REGISTRO.TUS_DATOS' | translate }}
            </h4>
          </div>

          <p class="d-flex justify-content-center mt-2">
            {{ 'REGISTRO.RESUMEN_REGISTRO.INFO' | translate }}
          </p>
        </div>
      </ion-item>

      <div
        class="ion-padding px-0 px-md-5"
        slot="content"
      >
        <div class="container dialog-animate px-0 px-md-3">
          <div class="row w-100 m-0">
            <form [formGroup]="formularioResumen">
              <div class="row w-100 g-4 g-md-5 d-flex justify-content-center">
                <!-- Columna 1: Datos Personales Principales -->
                <div class="col-12 col-md-5 px-1 px-md-3">
                  <ul class="list-unstyled p-0">
                    @for (campo of camposColumna1; track campo) {
                      <li class="d-flex flex-column mb-3">
                        <!-- Fila principal con posiciones controladas -->
                        <div
                          class="d-flex align-items-center w-100 position-relative"
                        >
                          <i
                            [ngClass]="{
                              'fi fi-rr-at': campo === 'email',
                              'fi fi-rr-cake-birthday':
                                campo === 'fecha_de_nacimiento',
                              'fi fi-rr-id-card':
                                campo === 'nombre' || campo === 'apellidos',
                              'fi fi-rr-phone-call': campo === 'telefono',
                            }"
                            class="me-2 flex-shrink-0"
                          ></i>

                          <strong class="me-2 text-nowrap flex-shrink-0">
                            {{ transformToTitleCase(campo) }}:
                          </strong>

                          <!-- Contenedor con ancho estático estricto para fecha o flexible para el resto -->
                          <div class="flex-grow-1 min-width-0 d-flex">
                            @if (!editando[campo]) {
                              <span class="text-truncate d-block">
                                @if (campo === 'fecha_de_nacimiento') {
                                  {{
                                    getValorCampo(campo) | date: 'dd/MM/yyyy'
                                  }}
                                } @else {
                                  {{ getValorCampo(campo) }}
                                }
                              </span>
                            } @else {
                              <!-- Campo Fecha de Nacimiento -->
                              @if (campo === 'fecha_de_nacimiento') {
                                <input
                                  type="date"
                                  class="form-control form-control-sm w-100"
                                  id="fnacimiento"
                                  [formControlName]="campo"
                                  min="1930-01-01"
                                  [max]="fechaMaxima"
                                  autocomplete="bday"
                                  aria-describedby="fnacimientoHelp"
                                  (change)="onFechaChange()"
                                  required
                                />
                                <span
                                  id="fnacimientoHelp"
                                  class="visually-hidden"
                                >
                                  {{
                                    'REGISTRO.FORM1.FNACIMIENTO.AYUDA'
                                      | translate
                                  }}
                                </span>
                              }

                              <!-- Campo Email -->
                              @if (campo === 'email') {
                                <input
                                  type="email"
                                  id="email"
                                  name="email"
                                  inputmode="email"
                                  autocomplete="email"
                                  class="form-control form-control-sm w-100"
                                  [formControlName]="campo"
                                  aria-describedby="emailHelp"
                                  (input)="validarCampo('email')"
                                />
                                <span
                                  id="emailHelp"
                                  class="visually-hidden"
                                >
                                  {{
                                    'REGISTRO.FORM1.CORREO.AYUDA' | translate
                                  }}
                                </span>
                              }

                              <!-- Campos de Texto Generales (Nombre, Apellidos, Teléfono) -->
                              @if (
                                campo !== 'fecha_de_nacimiento' &&
                                campo !== 'email'
                              ) {
                                <input
                                  type="text"
                                  class="form-control form-control-sm w-100"
                                  [formControlName]="campo"
                                  (input)="
                                    campo === 'telefono'
                                      ? validarCampo('telefono')
                                      : null
                                  "
                                />
                              }
                            }
                          </div>

                          <!-- Acciones de edición con margen izquierdo fijo -->
                          <div class="botones_editar">
                            @if (!editando[campo]) {
                              <i
                                class="fi fi-rr-pencil ms-1 ms-md-2 icon-btn"
                                style="cursor: pointer"
                                (click)="activarEdicion(campo)"
                              ></i>
                            } @else {
                              @if (hayCambio(campo)) {
                                <button
                                  type="button"
                                  class="btn btn-link p-0 me-1 me-md-2 text-dark"
                                  (click)="guardar(campo)"
                                >
                                  <i class="fi fi-rs-disk"></i>
                                </button>
                              }
                              <button
                                type="button"
                                class="btn btn-link p-0 text-dark"
                                (click)="desactivarEdicion(campo)"
                              >
                                <i class="fi fi-rr-circle-xmark"></i>
                              </button>
                            }
                          </div>
                        </div>

                        <!-- Mensajes de error en línea independiente -->
                        @if (campoInvalidYTouched(campo)) {
                          <div
                            class="text-danger small mt-1 w-100 ps-2 ps-md-4"
                          >
                            @if (campo === 'email') {
                              @if (tieneError('email', 'required')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM1.CORREO.OBLIGATORIO'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError('email', 'pattern')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM1.CORREO.FORMATO' | translate
                                  }}
                                </div>
                              }
                              @if (tieneError('email', 'emailRepetido')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM1.CORREO.YAEXISTE' | translate
                                  }}
                                </div>
                              }
                            }
                            @if (campo === 'nombre') {
                              @if (tieneError('nombre', 'required')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.NOMBRE_OBLIGATORIO'
                                      | translate
                                  }}
                                </div>
                              }
                            }
                            @if (campo === 'apellidos') {
                              @if (tieneError('apellidos', 'required')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.APELLIDOS_OBLIGATORIO'
                                      | translate
                                  }}
                                </div>
                              }
                            }
                            @if (campo === 'telefono') {
                              @if (tieneError('telefono', 'required')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.TELEFONO.OBLIGATORIO'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError('telefono', 'pattern')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.TELEFONO.FORMATO'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError('telefono', 'telefonoRepetido')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.TELEFONO.YAEXISTE'
                                      | translate
                                  }}
                                </div>
                              }
                            }
                            @if (campo === 'fecha_de_nacimiento') {
                              @if (tieneError(campo, 'fechalimite')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.FNACIMIENTO.INCORRECTA'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError(campo, 'required')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.FNACIMIENTO.OBLIGATORIA'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError(campo, 'menorDeEdad')) {
                                <div class="error_menor">
                                  {{
                                    'REGISTRO.FORM2.FNACIMIENTO.MENOR_EDAD'
                                      | translate
                                  }}
                                </div>
                              }
                              @if (tieneError(campo, 'fechaFutura')) {
                                <div>
                                  {{
                                    'REGISTRO.FORM2.FNACIMIENTO.SUPERIORACTUAL'
                                      | translate
                                  }}
                                </div>
                              }
                            }
                          </div>
                        }
                      </li>
                    }
                  </ul>
                </div>

                <!-- Columna 2: Género y Orientación -->
                <div class="col-12 col-md-5 px-1 px-md-3">
                  <ul class="list-unstyled p-0">
                    @for (campo of camposColumna2; track campo) {
                      <li class="d-flex flex-column mb-3">
                        <div
                          class="d-flex align-items-center w-100 position-relative"
                        >
                          <i
                            [ngClass]="{
                              'fi fi-rr-venus-mars': campo === 'genero',
                              'fi fi-rs-heart-half-stroke':
                                campo === 'orientacion',
                            }"
                            class="me-2 flex-shrink-0"
                          ></i>

                          <strong class="me-2 text-nowrap flex-shrink-0">
                            {{ transformToTitleCase(campo) }}:
                          </strong>

                          <div class="flex-grow-1 min-width-0">
                            @if (!editando[campo]) {
                              <span class="text-truncate d-block">
                                @if (campo === 'genero') {
                                  {{ validacionGenero(getValorCampo(campo)) }}
                                } @else {
                                  {{
                                    validacionOrientacion(getValorCampo(campo))
                                  }}
                                }
                              </span>
                            } @else {
                              <select
                                class="form-control form-control-sm w-100"
                                [formControlName]="campo"
                              >
                                <option
                                  value=""
                                  disabled
                                  hidden
                                >
                                  {{
                                    'REGISTRO.RESUMEN_REGISTRO.SELECCIONA'
                                      | translate
                                  }}
                                </option>
                                @for (
                                  opcion of campo === 'genero'
                                    ? generos
                                    : orientaciones;
                                  track opcion
                                ) {
                                  <option [value]="opcion">
                                    {{
                                      campo === 'genero'
                                        ? validacionGenero(opcion)
                                        : validacionOrientacion(opcion)
                                    }}
                                  </option>
                                }
                              </select>
                            }
                          </div>

                          <!-- Acciones de edición -->
                          <div class="botones_editar">
                            @if (!editando[campo]) {
                              <i
                                class="fi fi-rr-pencil ms-1 ms-md-2 icon-btn"
                                style="cursor: pointer"
                                (click)="activarEdicion(campo)"
                              ></i>
                            } @else {
                              @if (hayCambio(campo)) {
                                <button
                                  type="button"
                                  class="btn btn-link p-0 me-1 me-md-2 text-dark"
                                  (click)="guardar(campo)"
                                >
                                  <i class="fi fi-rs-disk"></i>
                                </button>
                              }
                              <button
                                type="button"
                                class="btn btn-link p-0 text-dark"
                                (click)="desactivarEdicion(campo)"
                              >
                                <i class="fi fi-rr-circle-xmark"></i>
                              </button>
                            }
                          </div>
                        </div>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SECCIÓN DE ACEPTACIÓN DE CONDICIONES Y ACCIONES -->
  @if (condicionesAceptadas) {
    <div class="alert alert-success text-center mx-4 mt-3">
      <i class="fi fi-rr-check-circle me-2"></i>
      ¡Has leído las condiciones de uso! Ahora puedes finalizar tu registro.
    </div>
  }

  <div class="d-flex justify-content-center align-items-center m-4">
    <div class="form-check d-flex align-items-center">
      <input
        class="form-check-input me-2 mt-0"
        type="checkbox"
        id="checkCondiciones"
        [disabled]="!lecturaCompletadaEnModal"
        [(ngModel)]="condicionesAceptadas"
      />

      <label
        class="form-check-label mb-0 fw-bold texto-condiciones"
        for="checkCondiciones"
      >
        {{ 'REGISTRO.RESUMEN_REGISTRO.ACEPTAR_CONDICIONES_TEXTO' | translate }}
        <a
          (click)="abrirModalCondiciones()"
          class="terminos-link"
          role="button"
        >
          Condiciones del Servicio
        </a>
      </label>
    </div>
  </div>

  @if (!condicionesAceptadas) {
    <div class="d-flex justify-content-center m-4">
      <p class="text-center mb-2 text-muted">
        {{ 'REGISTRO.RESUMEN_REGISTRO.DEBES_BAJAR' | translate }}
      </p>
    </div>
  }

  <!-- Botones de Acción Principal -->
  <div class="text-center mb-5">
    <button
      type="button"
      class="btn btn_bg me-3"
      (click)="finalizarRegistro()"
      [disabled]="!condicionesAceptadas || formularioResumen.invalid"
    >
      {{ 'REGISTRO.BOTONES2.FINALIZAR_CREAR' | translate }}
    </button>

    <button
      type="button"
      routerLink="/home"
      class="btn btn_bg_secondary"
    >
      {{ 'REGISTRO.BOTONES2.RECHAZAR' | translate }}
    </button>
  </div>
</div>

<!-- OVERLAY DEL MODAL DE CONTRATO -->
@if (mostrarModalCondiciones) {
  <div class="modal-overlay">
    <app-contrato-registro
      (lecturaCompletada)="alCompletarLectura()"
      (solicitarCierre)="cerrarModalCondiciones()"
    ></app-contrato-registro>
  </div>
}
