<div class="container">
  <div class="container" id="resumen_viaje">
    <div value="first" class="contenido">
      <ion-item slot="header" class="white-header">
        <mat-icon class="me-1">location_on</mat-icon>
        <ion-label>ESTOS SON TUS DATOS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="container d-flex justify-content-center dialog-animate">
          <div class="row w-100">
            <!-- Columna izquierda -->
            <div class="d-flex justify-content-center">
              <ul>
                <li>
                  <i class="fi fi-rr-at me-1"></i>
                  <strong>Email: </strong>
                  <span *ngIf="email">{{ email }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="email"
                  />
                </li>
                <li>
                  <i class="fi fi-rr-cake-birthday me-1"></i>
                  <strong>Fecha nacimiento: </strong>
                  <span *ngIf="fecha_nacimiento">{{ fecha_nacimiento }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="fecha_nacimiento"
                  />
                </li>
                <li>
                  <i class="fi fi-rr-id-card me-1"></i>
                  <strong>Nombre: </strong>
                  <span *ngIf="fecha_nacimiento">{{ nombre }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="nombre"
                  />
                </li>
                <li>
                  <i class="fi fi-rr-id-card me-1"></i>
                  <strong>Apellidos: </strong>
                  <span *ngIf="apellidos">{{ apellidos }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="apellidos"
                  />
                </li>
                <li>
                  <i class="fi fi-rr-phone-call me-1"></i>
                  <strong>Telefono: </strong>
                  <span *ngIf="telefono">{{ telefono }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="telefono"
                  />
                </li>
                <li>
                  <i class="fi fi-rr-venus-mars me-1"></i>
                  <strong>Género: </strong>
                  <span *ngIf="genero">{{ validacionGenero(genero) }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="genero"
                  />
                </li>
                <li>
                  <i class="fi fi-rs-heart-half-stroke me-1"></i>
                  <strong>Orientación: </strong>
                  <span *ngIf="orientacion">{{ orientacion }}</span>
                  <input
                    *ngIf=""
                    type="text"
                    class="input-datos form-control"
                    name="orientacion"
                  />
                </li>
              </ul>
            </div>
            <!-- Columna derecha -->

            <div class="container d-flex justify-content-center">
              <button type="button" mat-raised-button class="btn_bg">
                <mat-icon>border_color</mat-icon> Modificar viaje
              </button>
              <button type="button" mat-raised-button class="btn_bg me-2">
                Guardar
              </button>
              <button type="button" mat-raised-button class="btn_bg_cancel">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
