<div class="container resumen-container">
  <div *ngIf="!isDesktop" class="d-flex justify-content-center mb-2 d-md-none">
    <button type="button" mat-stroked-button class="btn-toggle-resumen" (click)="toggleResumenMobile()">
      <i class="fi" [ngClass]="mostrarResumenMobile ? 'fi-rr-eye-crossed' : 'fi-rr-eye'"></i>
      {{ mostrarResumenMobile ? 'Ocultar resumen' : 'Ver resumen del viaje' }}
    </button>
  </div>

  <div class="resumen-content" *ngIf="isDesktop || (!isDesktop && mostrarResumenMobile)">
    <div class="container" id="resumen_viaje">
      <div class="d-flex justify-content-center">
        <i class="fi fi-rr-marker me-1 colours"></i>
        <ion-label>{{ 'NUEVOVIAJE.RESUMEN_DINAMICO.RESUMEN_VIAJE' | translate }}</ion-label>
      </div>

      <div class="ion-padding" slot="content">
        <div class="container d-flex justify-content-center dialog-animate">
          <div class="row w-100">
            <!-- Columna izquierda -->
            <div class="col-md-6 col-12">
              <ul>
                <!-- Origen -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rr-spain-map me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.NUEVO_VIAJE.ORIGEN' | translate
                      }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoOrigen" class="text-truncate d-block">
                        {{ currentViajeData?.origen }}
                      </span>
                      <div *ngIf="editandoOrigen" class="w-100">
                        <app-selector-general idUnico="input-origen" placeholderKey="PLACEHOLDER.DONDE_COMIENZA"
                          [opciones]="origenCtrl.sugerencias" [(ngModel)]="origenCtrl.valorTexto" [soloLectura]="false"
                          [mostrarFlechaSelector]="false"
                          (seleccionCambiada)="buscadorLocalidadesService.seleccionarLocalidad(origenCtrl, $event); esSeleccionOrigenValida = true"
                          (alAbrir)="origenCtrl.estaActivo = true"
                          (textoCambiado)="buscadorLocalidadesService.obtenerSugerencias(origenCtrl, $event); esSeleccionOrigenValida = false"></app-selector-general>
                      </div>
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoOrigen">
                        <button type="button" class="icon-btn" (click)="activarEdicionOrigen()" title="Editar origen">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoOrigen">
                        <button *ngIf="hayCambioOrigen() && esSeleccionOrigenValida" type="button" class="btn text-dark"
                          (click)="guardarOrigen()" title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionOrigen()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>

                <!-- Destino -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rr-spain-map me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.NUEVO_VIAJE.DESTINO' | translate
                      }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoDestino" class="text-truncate d-block">
                        {{ currentViajeData?.destino }}
                      </span>
                      <div *ngIf="editandoDestino" class="w-100">
                        <app-selector-general idUnico="input-destino" placeholderKey="PLACEHOLDER.HASTA_DONDE"
                          [opciones]="destinoCtrl.sugerencias" [(ngModel)]="destinoCtrl.valorTexto"
                          [soloLectura]="false" [mostrarFlechaSelector]="false"
                          (seleccionCambiada)="buscadorLocalidadesService.seleccionarLocalidad(destinoCtrl, $event); esSeleccionDestinoValida = true"
                          (alAbrir)="destinoCtrl.estaActivo = true"
                          (textoCambiado)="buscadorLocalidadesService.obtenerSugerencias(destinoCtrl, $event); esSeleccionDestinoValida = false"></app-selector-general>
                      </div>
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoDestino">
                        <button type="button" class="icon-btn" (click)="activarEdicionDestino()" title="Editar destino">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoDestino">
                        <button *ngIf="hayCambioDestino() && esSeleccionDestinoValida" type="button"
                          class="btn text-dark" (click)="guardarDestino()" title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionDestino()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>

                <!-- Coche Seleccionado -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rr-car me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.RESUMEN_DINAMICO.COCHE_SELECCIONADO' |
                      translate }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoCoche" class="text-truncate d-block">
                        {{ currentViajeData?.coche?.marca }} {{ currentViajeData?.coche?.modelo }}
                      </span>
                      <div *ngIf="editandoCoche" class="w-100">
                        <app-selector-general idUnico="input-coche-resumen"
                          placeholderKey="NUEVOVIAJE.PRIMER_PASO.COCHE_PARA_VIAJAR" [opciones]="opcionesVehiculos"
                          [ngModel]="getCocheIdActual()" [valor]="getCocheIdActual()" [soloLectura]="true"
                          [mostrarFlechaSelector]="true"
                          (seleccionCambiada)="onCocheCambiado($event)"></app-selector-general>
                      </div>
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoCoche">
                        <button type="button" class="icon-btn" (click)="activarEdicionCoche()" title="Editar coche">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoCoche">
                        <button *ngIf="hayCambioCoche()" type="button" class="btn text-dark" (click)="guardarCoche()"
                          title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionCoche()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Columna derecha -->
            <div class="col-md-6 col-12">
              <ul>
                <!-- Plazas Disponibles -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rs-users-alt me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.NUEVO_VIAJE.PLAZAS_DISPONIBLES' |
                      translate }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoPlazas" class="text-truncate d-block">
                        {{ currentViajeData?.plazas }}
                      </span>
                      <div *ngIf="editandoPlazas" class="w-100">
                        <app-selector-general idUnico="input-plazas-resumen" placeholderKey="PLACEHOLDER.NUM_PLAZAS"
                          [opciones]="opcionesPlazas" [(ngModel)]="currentViajeData.plazas"
                          [valor]="currentViajeData.plazas" [soloLectura]="true" [mostrarFlechaSelector]="true"
                          (seleccionCambiada)="onPlazasCambiadas($event)">
                        </app-selector-general>
                      </div>
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoPlazas">
                        <button type="button" class="icon-btn" (click)="activarEdicionPlazas()" title="Editar plazas">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoPlazas">
                        <button *ngIf="hayCambioPlazas()" type="button" class="btn text-dark" (click)="guardarPlazas()"
                          title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionPlazas()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>

                <!-- Fecha de Salida -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rr-calendar me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.PRIMER_PASO.FECHA_SELECCIONADA' |
                      translate }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoFecha" class="text-truncate d-block">
                        {{ getFormattedDate() }}
                      </span>
                      <input *ngIf="editandoHora" type="time" [(ngModel)]="currentViajeData.hora_salida"
                        (ngModelChange)="onFieldChange()" class="form-control selecthour mt-0 w-100" />
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoFecha">
                        <button type="button" class="icon-btn" (click)="activarEdicionFecha()" title="Editar fecha">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoFecha">
                        <button *ngIf="hayCambioFecha()" type="button" class="btn text-dark" (click)="guardarFecha()"
                          title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionFecha()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>

                <!-- Hora de Salida -->
                <li class="colours d-flex flex-column mb-3">
                  <div class="d-flex align-items-center w-100 position-relative">
                    <i class="fi fi-rr-calendar-clock me-1 flex-shrink-0"></i>
                    <strong class="me-2 text-nowrap flex-shrink-0">{{ 'NUEVOVIAJE.PRIMER_PASO.HORA_SELECCIONADA' |
                      translate }}</strong>

                    <div class="flex-grow-1 min-width-0 d-flex">
                      <span *ngIf="!editandoHora" class="text-truncate d-block">
                        {{ currentViajeData?.hora_salida }}
                      </span>
                      <input *ngIf="editandoHora" type="time" [(ngModel)]="currentViajeData.hora_salida"
                        (ngModelChange)="onFieldChange()" class="form-control selecthour mt-0 w-100" />
                    </div>

                    <div class="botones_editar ms-2 d-flex align-items-center">
                      <ng-container *ngIf="!editandoHora">
                        <button type="button" class="icon-btn" (click)="activarEdicionHora()" title="Editar hora">
                          <i class="fi fi-rr-pencil"></i>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="editandoHora">
                        <button *ngIf="hayCambioHora()" type="button" class="btn text-dark" (click)="guardarHora()"
                          title="Guardar cambios">
                          <i class="fi fi-rs-disk"></i>
                        </button>
                        <button type="button" class="btn text-dark" (click)="cancelarEdicionHora()" title="Cancelar">
                          <i class="fi fi-rr-circle-xmark"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>