<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="col-12 text-center">
      <h1>{{ 'DATOS_CONTACTO.TITULO' | translate }}</h1>
    </div>
    <p class="d-flex justify-content-center">{{'DATOS_CONTACTO.DESCRIPCION_SECCION' | translate}}</p>
    <p class="d-flex justify-content-center descripcion">{{'DATOS_CONTACTO.DESCRIPCION_SECCION_2' | translate}}</p>

    <ion-grid>
      <ion-row class="mobile">
        <ion-col
          size="6"
          class="correotelefono"
        >
          <h4 class="text-center mb-4">{{'DATOS_CONTACTO.MODIF_CORREO_TFNO' | translate}}</h4>
          <div class="d-flex justify-content-center formulario">
            <form [formGroup]="formEmailTfno">
              <!-- Input correo electrónico  -->
              <div class="mb-3">
                <div>
                  <div>
                    <label
                      for="emailControl"
                      class="form-label"
                    >
                      {{'DATOS_CONTACTO.MI_CORREO' | translate}}
                    </label>
                  </div>
                </div>
                <input
                  type="email"
                  class="form-control inputs_emailtfno"
                  id="emailControl"
                  aria-describedby="emailError"
                  [attr.aria-invalid]="formEmailTfno.get('emailControl')?.invalid && formEmailTfno.get('emailControl')?.touched"
                  formControlName="emailControl"
                  name="emailControl"
                  (ngModelChange)="onInputChange()"
                />
                <div
                  *ngIf="formEmailTfno.get('emailControl')?.invalid && formEmailTfno.get('emailControl')?.touched"
                  id="emailError"
                  role="alert"
                  class="error-mensaje"
                >
                  <div *ngIf="formEmailTfno.get('emailControl')?.hasError('required')">
                    <span class="texto-error">{{'DATOS_CONTACTO.CORREO_OBLIGATORIO_ERROR' | translate}}</span>
                  </div>
                  <div
                    *ngIf="formEmailTfno.get('emailControl')?.hasError('pattern') || formEmailTfno.get('emailControl')?.hasError('email')"
                  >
                    <span class="texto-error">{{'DATOS_CONTACTO.CORREO_INVALIDO_ERROR' | translate}}</span>
                  </div>
                </div>
              </div>

              <!-- Input teléfono  -->
              <div class="mb-3">
                <div>
                  <label
                    for="telefonoControl"
                    class="form-label"
                  >
                    {{'DATOS_CONTACTO.MI_TFNO' | translate}}
                  </label>
                </div>
                <input
                  type="text"
                  class="form-control inputs_emailtfno"
                  id="telefonoControl"
                  name="telefonoControl"
                  aria-describedby="telefonoError"
                  [attr.aria-invalid]="formEmailTfno.get('telefonoControl')?.invalid && formEmailTfno.get('telefonoControl')?.touched"
                  formControlName="telefonoControl"
                  (ngModelChange)="onInputChange()"
                />
                <div
                  *ngIf="formEmailTfno.get('telefonoControl')?.invalid && formEmailTfno.get('telefonoControl')?.touched"
                  id="telefonoError"
                  role="alert"
                  class="error-mensaje"
                >
                  <div>
                    <span
                      class="texto-error"
                      *ngIf="formEmailTfno.get('telefonoControl')?.errors?.['required']"
                    >
                      {{'DATOS_CONTACTO.TELEFONO_OBLIGATORIO_ERROR' | translate}}
                    </span>
                  </div>
                  <div>
                    <span
                      class="texto-error"
                      *ngIf="formEmailTfno.get('telefonoControl')?.errors?.['pattern']"
                    >
                      {{'DATOS_CONTACTO.TELEFONO_INVALIDO_ERROR' | translate}}
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ion-col>

        <mat-divider vertical=""></mat-divider>

        <ion-col>
          <h4 class="text-center mb-4">{{'DATOS_CONTACTO.COM_COMERCIALES' | translate}}</h4>
          <div
            class="checks"
            role="group"
            aria-labelledby="comerciales-label"
          >
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                name="comunComerciales"
                id="comunComerciales"
                (change)="preferenciasComunicacion(); onInputChange()"
                [(ngModel)]="comunComerciales"
              />
              <label
                class="form-check-label"
                for="comunComerciales"
              >
                {{ "DATOS_CONTACTO.CHECK_POR_EMAIL" | translate }}
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="comunTerceros"
                id="comunTerceros"
                (change)="preferenciasComunicacion(); onInputChange()"
                [(ngModel)]="comunTerceros"
              />
              <label
                class="form-check-label"
                for="comunTerceros"
              >
                {{ "DATOS_CONTACTO.CHECK_TERCEROS" | translate }}
              </label>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="d-flex justify-content-center mt-5">
        <div>
          <p-toast position="bottom-center"></p-toast>
          <button
            type="button"
            class="btn btn_bg boton-mobile"
            mat-raised-button
            (click)="editarCorreoTelefono()"
            [disabled]="!botonHabilitadoContacto"
          >
            {{'BOTONES.DATOSCONTACTO.GUARDAR' | translate}}
          </button>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
