h1 {
  margin-top: 20px;
  font-size: 1.52rem;
}

.error-mensaje {
  color: red !important;
  font-size: 0.955rem;
  margin-top: 0.50rem;
}

.texto-error {
  color: red !important;
}

input,
button {
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.inputs_emailtfno {
  width: 400px;
}

.checks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}




@media (max-width: 576px) {
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .correotelefono {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs_emailtfno {
    width: 280px;
    margin: 0 auto;
  }

  .checks {
    align-items: center;
    text-align: center;
  }

  .boton-mobile {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* 👈 aumenta el espacio superior */
    margin-bottom: 2rem;
  }

  .boton-mobile button {
    width: 80%;
    max-width: 280px;
  }

  .descripcion {
    text-align: justify;
  }
}