<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>{{'DATOS_CONTACTO.TITULO' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'DATOS_CONTACTO.DESCRIPCION_SECCION' | translate}}
    </p>
    <p class="d-flex justify-content-center">
      {{'DATOS_CONTACTO.DESCRIPCION_SECCION_2' | translate}}
    </p>

    <ion-row>
      <ion-col
        size="12"
        size-md="5"
        class="d-flex flex-column align-items-center"
      >
        <h4 class="text-center">
          {{'DATOS_CONTACTO.MODIF_CORREO_TFNO' | translate}}
        </h4>

        <ion-row>
          <ion-col class="d-flex flex-column align-items-center">
            <form [formGroup]="formEmailTfno">
              <!-- Input correo electrónico  -->
              <div class="mb-3">
                <div>
                  <div>
                    <label for="email" class="form-label"
                      >{{'DATOS_CONTACTO.MI_CORREO' | translate}}</label
                    >
                  </div>
                </div>
                <input
                  type="email"
                  class="form-control inputs_emailtfno"
                  id="emailControl"
                  aria-describedby="email"
                  [(ngModel)]="emailEditado"
                  formControlName="emailControl"
                  name="emailControl"
                  (ngModelChange)="onInputChange()"
                />
                <div
                  *ngIf="formEmailTfno.get('emailControl')?.invalid && formEmailTfno.get('emailControl')?.touched"
                  style="color: red"
                >
                  <span
                    *ngIf="formEmailTfno.get('emailControl')?.errors?.['required']"
                    >El correo es obligatorio</span
                  >
                  <span
                    *ngIf="formEmailTfno.get('emailControl')?.errors?.['pattern']"
                    >Formato incorrecto</span
                  >
                  <span
                    *ngIf="formEmailTfno.get('emailControl')?.errors?.['email']"
                    >El formato no es válido</span
                  >
                </div>
              </div>
              <!-- Input teléfono  -->
              <div class="mb-3">
                <div>
                  <label for="telefono" class="form-label"
                    >{{'DATOS_CONTACTO.MI_TFNO' | translate}}</label
                  >
                </div>
                <input
                  type="text"
                  class="form-control inputs_emailtfno"
                  id="telefonoControl"
                  aria-describedby="telefono"
                  [(ngModel)]="telefonoEditado"
                  name="telefonoControl"
                  formControlName="telefonoControl"
                  (ngModelChange)="onInputChange()"
                />
                <div
                  *ngIf="formEmailTfno.get('telefonoControl')?.invalid && formEmailTfno.get('telefonoControl')?.touched"
                  style="color: red"
                >
                  <span
                    *ngIf="formEmailTfno.get('telefonoControl')?.errors?.['required']"
                    >El teléfono es obligatorio</span
                  >
                  <span
                    *ngIf="formEmailTfno.get('telefonoControl')?.errors?.['pattern']"
                    >Formato incorrecto: debe tener 9 dígitos numéricos</span
                  >
                </div>
              </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-col>

      <mat-divider vertical=""></mat-divider>
      <ion-col class="ms-5">
        <ion-row>
          <h4 class="text-center">
            Preferencias de comunicación y cesión a terceros
          </h4>
        </ion-row>
        <ion-row class="mb-4 mt-5">
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              name="comunComerciales"
              id="comunComerciales"
              (change)="preferenciasComunicacion()"
              [(ngModel)]="comunComerciales"
              (change)="onInputChange()"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{ "DATOS_CONTACTO.CHECK_POR_EMAIL" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="comunTerceros"
              id="comunTerceros"
              (change)="preferenciasComunicacion()"
              [(ngModel)]="comunTerceros"
              (change)="onInputChange()"
            />
            <label class="form-check-label" for="flexCheckChecked">
              {{ "DATOS_CONTACTO.CHECK_TERCEROS" | translate }}
            </label>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="d-flex justify-content-center me-5 mt-5">
      <button
        type="button"
        class="btn btn_bg"
        mat-raised-button
        (click)="editarCorreoTelefono()"
        [disabled]="!botonHabilitadoContacto"
      >
        {{'BOTON.GUARDAR' | translate}}
      </button>
    </div>
  </div>
</ion-content>
