<app-navbar [origin]="urlParaVolver" [searchRoute]="'newTravel'" [isLoggedIn]="userLoggedIn"></app-navbar>


<ion-content [fullscreen]="true">
  <div class="container mt-4 mb-4">
    <div class="caja_perfil">

      <!-- Imagen de cabecera dinámica -->
      <div class="espacio_cabecera">
        <img class="img-cabecera" [src]="imagenCabeceraSrc" alt="Cabecera" *ngIf="!usuario?.fotoCabecera">
        <img class="img-cabecera" [src]="usuario?.fotoCabecera" alt="Cabecera" *ngIf="usuario?.fotoCabecera">
      </div>

      <!-- Imagen de perfil dinámica -->
      <div class="imagen-perfil">
        <img class="perfil-img" [src]="imagenPerfilSrc" alt="Perfil" *ngIf="!usuario?.fotoPerfil">
        <img class="perfil-img" [src]="usuario?.fotoPerfil" alt="Perfil" *ngIf="usuario?.fotoPerfil">
      </div>

      <div class="botonEditarImgPerfil" *ngIf="editar_perfil" (click)="fileInputPerfil.click()">
        <button type="button">
          <img src="../../../assets/sistema/editar.png" class="edit-icon">
        </button>
        <!-- Input oculto para imagen de perfil -->
        <input type="file" #fileInputPerfil accept="image/*" (change)="onImageChangePerfil($event)"
          style="display: none;">
      </div>

      <div class="botonEditarImgCabecera" *ngIf="editar_perfil" (click)="fileInputCabecera.click()">
        <button type="button">
          <img src="../../../assets/sistema/editar.png" class="edit-icon">
        </button>
        <!-- Input oculto -->
        <input type="file" #fileInputCabecera accept="image/*" (change)="onImageChange($event)" style="display: none;">
      </div>



      <div class="informacion-usuario">
        <div class="row">
          <div class="col">
            <div class="container text-end">
              <span class="info-item"><strong>Nombre: </strong>{{usuario?.nombre}}</span>
              <span class="info-item"><strong>Apellidos: </strong>{{usuario?.apellidos}}</span>
            </div>

          </div>
          <div class="col">
            <div class="container">
              <span class="info-item"><strong>Preferencias de viaje: </strong>{{ preferenciasViaje}}</span>
              <span class="info-item"><strong>Usuario verificado: </strong>✅</span>
              <span class="info-item"><strong>Puntuación: </strong>{{usuario?.puntuacion_promedio}}</span>
            </div>
          </div>
        </div>

        <div class="p-2">
          <mat-divider></mat-divider>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="container ms-3">
              <label class="mb-3"><strong>Biografía: </strong></label>
              <p *ngIf="usuario?.biografia">{{usuario?.biografia}}</p>
              <p *ngIf="!usuario?.biografia">Aún no tienes biografía.</p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="container mis-viajes-container" *ngIf="editar_perfil">
                <label class="mb-3"><strong>Viajes:</strong></label>

                <!-- Filtro de viajes -->
                <ion-segment [(ngModel)]="filtroViajes" (ionChange)="filtrarViajes()">
                  <ion-segment-button value="todos">
                    Todos los viajes
                  </ion-segment-button>
                  <ion-segment-button value="conductor">
                    Soy conductor
                  </ion-segment-button>
                  <ion-segment-button value="pasajero">
                    Soy pasajero
                  </ion-segment-button>
                </ion-segment>

                <!-- Lista de viajes -->
                <div *ngIf="misViajes.length === 0">
                  <p>Aún no tienes viajes en esta categoría.</p>
                </div>

                <div class="mi_viaje_box mb-2" *ngFor="let viaje of misViajes">
                  <div class="row">
                    <div class="col-3">
                      <span class="info-viaje fontSize">
                        <strong class="me-1">Destino:</strong> {{ viaje.destino }}
                      </span>
                    </div>
                    <div class="col-3">
                      <span class="info-viaje fontSize">
                        <strong class="me-1 ms-3">Fecha:</strong> {{ viaje.fecha_salida | date:'d-MM-yyyy' }}
                      </span>
                    </div>
                    <div class="col-3 col-puntuar text-center">
                      <span *ngIf="funcionesComunes.esViajeFinalizado(viaje.fecha_salida, viaje.hora_salida)"
                        class="viajeFinalizado fontSize mb-3">Finalizado</span>
                      <span *ngIf="!funcionesComunes.esViajeFinalizado(viaje.fecha_salida, viaje.hora_salida)"
                        class="fontSize etiquetaPendiente mb-3">Pendiente</span>
                      <span *ngIf="puedePuntuar(viaje)" class="viajeApuntuar fontSize btn_shadow puntuar mb-3"
                        type="button" (click)="puntuarViaje()">
                        Puntuar viaje
                      </span>
                      <div class="d-flex justify-content-center align-items-center">
                        <span *ngIf="viaje.notificaciones && viaje.notificaciones.length > 0">
                          <mat-icon *ngIf="!notificacionLeida" type="button"
                            class="notifications notificaciones_anim icon_shadow"
                            (click)="leerNotificacion(viaje.notificaciones)">mark_email_unread</mat-icon>
                        </span>
                      </div>
                    </div>
                    <div class="col-3 text-end">
                      <span class="botones ">
                        <button type="button" class="btn_shadow" matTooltip="Más detalles"
                          matTooltipClass="custom-tooltip" (click)="openDetalleViaje(viaje)">
                          <mat-icon class="mas_detalle">loupe</mat-icon>
                        </button>
                        <button type="button" class="btn_shadow" matTooltip="Editar viaje"
                          matTooltipClass="custom-tooltip" (click)="editarViaje(viaje.id)"
                          *ngIf="conductor && !pasajero">
                          <mat-icon class="mas_detalle">edit</mat-icon>
                        </button>
                        <button type="button" class="btn_shadow" matTooltip="Eliminar viaje"
                          matTooltipClass="custom-tooltip" (click)="eliminarViaje(viaje.id)"
                          *ngIf="conductor && !pasajero">
                          <mat-icon class="eliminar_viaje">delete</mat-icon>
                        </button>
                        <button type="button" class="btn_shadow" matTooltip="Salir del viaje"
                          matTooltipClass="custom-tooltip" (click)="salirDeViaje(viaje.id)"
                          *ngIf="!conductor && pasajero">
                          <mat-icon class="eliminar_viaje">delete</mat-icon>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr>
    </div>
    <div class="overlay" *ngIf="cargando">
      <app-spinner></app-spinner>
    </div>
  </div>
</ion-content>