.caja_perfil {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  position: relative;
  height: 700px;
}

.espacio_cabecera {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.img-cabecera {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-perfil {
  position: absolute;
  bottom: 490px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #f0d7b4;
  border-radius: 50%;
  padding: 2px;
  background-color: #f0d7b4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.perfil-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.informacion-usuario {
  text-align: start;
  margin-top: 40px;
}

.info-item {
  display: block;
  margin-bottom: 10px;
}

.botonEditarImgPerfil,
.botonEditarImgCabecera {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  background-color: #f0d7b4;
}

.botonEditarImgPerfil {
  bottom: 565px;
  left: 52%;
}

.botonEditarImgCabecera {
  bottom: 510px;
  left: 98%;
  transform: translateX(-100%);
}

.botonEditarImgPerfil mat-icon,
.botonEditarImgCabecera mat-icon {
  font-size: 20px;
}

button {
  background-color: #f0d7b4;
}

.mis-viajes-container {
  max-height: 310px;
  overflow-y: auto;
  border-radius: 15px;
  max-width: 600px;
}

.mis-viajes-container label {
  position: sticky;
  top: 0;
  background-color: #E9EDD5;
  padding: 5px 0;
  z-index: 10;
  display: block;
}

.mi_viaje_box {
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  background-color: #f0d7b4;
  border-radius: 15px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mi_viaje_box p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info-viaje {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.botones {
  display: flex;
  gap: 12px;
}

.mi_viaje_box button {
  margin-left: 12px;
}

.mas_detalle {
  color: #B3B5E6;
}

.eliminar_viaje {
  color: red;
}


@media (max-width: 576px) {
  .mi_viaje_box {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-viaje {
    flex-direction: column;
    gap: 6px;
  }

  .botones {
    margin-top: 8px;
  }
}

/** MODIFICA EL COLOR PRIMARIO DE IONIC */
:root {
  --ion-color-primary: #E9EDD5;
}


/* Cambiar el color de fondo de la barra de selección */
ion-segment {
  --background: #B3B5E6;
  --color: #E9EDD5;
  border-radius: 15px !important;
  margin-bottom: 1%;
}

/* Cambiar el color de texto de los botones de segment (por defecto) */
ion-segment-button {
  --color: grey; 
  --background-activated: #F0D7B4 !important;
  --border-color: #ccc;
}
