<div class="container">
  <h1>PUNTO DE PARTIDA</h1>

  <input [(ngModel)]="origen" (input)="buscarSugerenciasOrigen($event)"
    placeholder="{{ 'NUEVO_VIAJE2.FROM' | translate }}" class="input-viaje form-control">
  <button type="button" mat-raised-button class="btn_bg"
    (click)="getUserLocationWithLeaflet()"><mat-icon>location_on</mat-icon>Usar mi ubicación</button>
    
  <div *ngIf="cargandoOrigen" class="spinner-container">
    <app-spinner></app-spinner>
  </div>

  <ul *ngIf="!cargandoOrigen && funcionesComunes.sugerenciasOrigen.length > 0"
    class="list-group lista_sugerencias_origen">
    <li *ngFor="let sugerencia of funcionesComunes.sugerenciasOrigen" (click)="seleccionarLocalidadOrigen(sugerencia)"
      [ngClass]="{'list-group-item': true}">
      {{ sugerencia.display_name }}
    </li>
  </ul>
</div>

<div class="container">
  <h1>LUGAR DE LLEGADA</h1>
  <input [(ngModel)]="destino" (input)="buscarSugerenciasDestino($event)"
    placeholder="{{ 'NUEVO_VIAJE2.TO' | translate }}" class="input-viaje form-control">

  <div *ngIf="cargandoDestino" class="spinner-container">
    <app-spinner></app-spinner>
  </div>

  <ul *ngIf="!cargandoDestino && funcionesComunes.sugerenciasDestino.length > 0" class="list-group lista_sugerencias">
    <li *ngFor="let sugerencia of funcionesComunes.sugerenciasDestino" (click)="seleccionarLocalidadDestino(sugerencia)"
      [ngClass]="{'list-group-item': true}">
      {{ sugerencia.display_name }}
    </li>
  </ul>
</div>