.mensaje {
  padding: 8px;
  margin: 5px;
  max-width: 70%;
  border-radius: 8px;
  background: #ececec;
}

.input-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
}

.chat-textarea {
  min-width: 120px;
  max-width: 60vw;
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 16px;
  border-radius: 10px;
  background: transparent; 
}

.mio {
  margin-left: auto;
  background: #6a42f5;
  color: white;
}

ion-fab.fab-atras {
  position: fixed !important;
  top: 780px !important;
  left: 16px !important;
  z-index: 9999;
}

@media (max-width: 576px){
  .input-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 10px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
  margin-top: 2%;
}
}
