<div style="overflow: auto">
  <div class="d-flex justify-content-center mt-4">
    <img
      src="../../../assets/logo/PRIDECAR.png"
      alt="Logo"
      class="logo"
      (click)="volverAlHome()"
    />
  </div>

  <!-- Formulario pantalla 1 -->
  <div *ngIf="pasoActual === 1">
    <div class="d-flex justify-content-center">
      <h1>AQUÍ PUEDES COMENZAR A REGISTRARTE</h1>
    </div>
    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario1" class="formulario">
        <div class="mb-3">
          <label for="email" class="form-label"
            >Correo electrónico <span class="dato-obligatorio"> *</span></label
          >
          <input
            type="email"
            class="form-control form-input"
            id="email"
            inputmode="email"
            formControlName="email"
            name="email"
            aria-describedby="emailHelp"
            (blur)="validarCampo('email')"
            (ngModelChange)="onInputChange()"
          />

          <div
            *ngIf="
              formulario1.get('email')?.invalid &&
              formulario1.get('email')?.touched
            "
            class="text-danger"
          >
            <span *ngIf="formulario1.get('email')?.errors?.['required']">
              El correo es obligatorio.
            </span>
            <span *ngIf="formulario1.get('email')?.errors?.['pattern']">
              El formato del correo no es correcto
            </span>
            <span *ngIf="formulario1.get('email')?.errors?.['emailRepetido']">
              Este correo ya está registrado.
            </span>
          </div>
        </div>
        <div class="mb-3">
          <label for="fnacimiento" class="form-label"
            >Fecha de nacimiento <span class="dato-obligatorio"> *</span></label
          >
          <input
            type="date"
            class="form-control"
            id="fnacimiento"
            min="1930-01-01"
            [max]="fechaMaxima"
            formControlName="fecha_nacimiento"
            (change)="onFechaChange()"
            [disabled]="!emailValido"
          />
          <div
            class="text-danger"
            *ngIf="
              formulario1.get('fecha_nacimiento')?.invalid &&
              formulario1.get('fecha_nacimiento')?.touched
            "
          >
            <span
              *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['fechalimite']"
            >
              La fecha introducida no es correcta
            </span>
            <span
              *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['required']"
            >
              La fecha de nacimiento es obligatoria.
            </span>
            <span
              *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['menorDeEdad']"
            >
              Debes tener más de 18 años para usar este servicio.
            </span>
            <span
              *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['fechaFutura']"
            >
              No puedes elegir una fecha superior a la actual.
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Formulario pantalla 2 -->
  <div *ngIf="pasoActual === 2">
    <div class="d-flex justify-content-center">
      <h1>¿NOS CONOCEMOS UN POCO MÁS?</h1>
    </div>
    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario2" class="formulario">
        <div class="mb-3">
          <label for="nombre" class="form-label"
            >Nombre <span class="dato-obligatorio"> *</span></label
          >
          <input
            type="text"
            class="form-control form-input"
            id="nombre"
            formControlName="nombre"
          />
        </div>

        <div class="mb-3">
          <label for="apellidos" class="form-label"
            >Apellidos <span class="dato-obligatorio"> *</span></label
          >
          <input
            type="text"
            class="form-control form-input"
            id="apellidos"
            formControlName="apellidos"
          />
        </div>

        <div class="mb-3">
          <label for="telefono" class="form-label"
            >Teléfono <span class="dato-obligatorio"> *</span></label
          >
          <input
            type="text"
            class="form-control form-input"
            id="telefono"
            formControlName="telefono"
          />
          <span
            class="text-danger"
            *ngIf="formulario2.get('telefono')?.errors?.['pattern']"
          >
            El formato no es correcto. Debe contener 9 dígitos numéricos
          </span>
        </div>

        <div class="mb-3">
          <label for="genero" class="form-label"
            >Género<span class="dato-obligatorio"> *</span></label
          >
          <span
            class="ms-2 text-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Más detalles"
          >
            <i class="bi-question-circle"></i>
          </span>
          <select class="form-select" id="genero" formControlName="genero">
            <option selected disabled>
              {{ "SELEC_GENERO.SELECCIONA" | translate }}
            </option>
            <option value="HOMBRE_CIS">
              {{ "SELEC_GENERO.HOMBRE_CIS" | translate }}
            </option>
            <option value="MUJER_CIS">
              {{ "SELEC_GENERO.MUJER_CIS" | translate }}
            </option>
            <option value="TRANSEXUAL">
              {{ "SELEC_GENERO.TRANSEXUAL" | translate }}
            </option>
            <option value="NO_BINARIO">
              {{ "SELEC_GENERO.NO_BINARIO" | translate }}
            </option>
            <option value="INTERGENERO">
              {{ "SELEC_GENERO.INTERGENERO" | translate }}
            </option>
            <option value="NO_FLUIDO">
              {{ "SELEC_GENERO.NO_FLUIDO" | translate }}
            </option>
            <option value="OTRO">{{ "SELEC_GENERO.OTRO" | translate }}</option>
            <option value="NO_RESPONDE">
              {{ "SELEC_GENERO.NO_RESPONDE" | translate }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="orientacion" class="form-label"
            >¿Cuál es tu orientación sexual?
            <span class="dato-obligatorio"> *</span>
            <span
              class="ms-2 text-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Más detalles"
            >
              <i class="bi-question-circle"></i>
            </span>
          </label>
          <select
            class="form-select"
            aria-label="Selección de orientación"
            formControlName="orientacion"
          >
            <option value="" disabled selected>
              {{ "ORIENTACION.SELECCIONA" | translate }}
            </option>
            <option value="GAY">{{ "ORIENTACION.GAY" | translate }}</option>
            <option value="LESBIANA">
              {{ "ORIENTACION.LESBIANA" | translate }}
            </option>
            <option value="BISEXUAL">
              {{ "ORIENTACION.BISEXUAL" | translate }}
            </option>
            <option value="PANSEXUAL">
              {{ "ORIENTACION.PANSEXUAL" | translate }}
            </option>
            <option value="ASEXUAL">
              {{ "ORIENTACION.ASEXUAL" | translate }}
            </option>
            <option value="DEMISEXUAL">
              {{ "ORIENTACION.DEMISEXUAL" | translate }}
            </option>
            <option value="QUEER">{{ "ORIENTACION.QUEER" | translate }}</option>
            <option value="OTRO">{{ "ORIENTACION.OTRO" | translate }}</option>
            <option value="NO_RESPONDE">
              {{ "ORIENTACION.NO_RESPONDE" | translate }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <!-- Formulario pantalla 3 -->
  <div *ngIf="pasoActual === 3">
    <div class="d-flex justify-content-center">
      <h1>ALGO IMPORTANTE: TU CONTRASEÑA</h1>
    </div>
    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario3" class="formulario">
        <div class="mb-3">
          <label for="password" class="form-label"
            >Contraseña <span class="dato-obligatorio"> *</span></label
          >
          <p class="fs-6">
            Mínimo 6 caracteres. Recuerda debe tener una letra mayúscula y un
            número o símbolo
          </p>
          <div class="position-relative">
            <input
              [type]="mostrarPassword1 ? 'text' : 'password'"
              formControlName="password"
              type="password"
              class="form-control form-input"
              id="password"
            />
            <button
              type="button"
              (click)="botonMostrarPassword_1()"
              class="btn btn-sm position-absolute end-0 top-50 translate-middle-y me-2"
              tabindex="-1"
            >
              <i
                class="bi"
                [ngClass]="mostrarPassword1 ? 'bi-eye-slash' : 'bi-eye'"
              ></i>
            </button>
          </div>

          <span
            class="text-danger"
            *ngIf="formulario3.get('password')?.errors?.['pattern']"
          >
            El formato de la contraseña no es correcto
          </span>
        </div>
      </form>
    </div>
  </div>

  <!-- Mensaje de advertencia -->
  <div class="alert alert-warning mt-3 text-center container" role="alert">
    Los campos marcados con asteriscos son obligatorios
  </div>

  <nav aria-label="Page navigation example">
    <div class="d-flex justify-content-center">
      <button
        *ngIf="!paso1"
        type="button"
        class="btn btn_bg"
        (click)="pasoAnterior()"
      >
        Atrás
      </button>

      <button
        type="button"
        class="btn btn_bg ms-3"
        *ngIf="pasoActual !== 3"
        [disabled]="
          (pasoActual === 1 && !validarEmailYFecha) ||
          (pasoActual === 2 && !formulario2.valid) ||
          (pasoActual === 3 && !formulario3.valid)
        "
        (click)="siguientePaso()"
      >
        Siguiente
      </button>
    </div>
  </nav>

  <div
    *ngIf="
      pasoActual === 3 &&
      formulario1.valid &&
      formulario2.valid &&
      formulario3.valid
    "
    class="d-flex justify-content-center"
  >
    <button
      type="button"
      mat-raised-button
      class="btn_bg mt-3 mb-3"
      (click)="mostrarContrato()"
    >
      Finalizar registro
    </button>
  </div>
</div>
