<div style="overflow: auto">
  <div class="d-flex justify-content-center mt-4">
    <img src="../../../assets/logo/PRIDECAR.png" alt="Logo" class="logo" (click)="volverAlHome()" />
  </div>

  <!-- Formulario pantalla 1 -->
  <div *ngIf="pasoActual === 1">
    <div class="d-flex flex-column justify-content-center text-md-start text-center align-items-center">
      <h1>
        <strong>{{ 'REGISTRO.FORM1.BIENVENIDE' | translate }}</strong>
      </h1>
      <h2>{{ 'REGISTRO.FORM1.SUBTITULO' | translate }}</h2>
    </div>
    <!-- Mensaje de advertencia -->
    <div class="alert alert-warning mt-3 text-center container" role="alert">{{ 'REGISTRO.FORM1.AVISO_CAMPOSOBLIGATORIOS' | translate }}</div>
    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario1" class="formulario">
        <div class="mb-3">
          <label for="email" class="form-label">
            {{ 'REGISTRO.FORM1.CORREO.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <input
            type="email"
            class="form-control form-input"
            id="email"
            inputmode="email"
            required
            formControlName="email"
            name="email"
            placeholder="{{ 'REGISTRO.FORM1.CORREO.PLACEHOLDER' | translate }}"
            aria-describedby="emailHelp"
            autocomplete="email"
            (blur)="validarCampo('email', formulario1)"
            (ngModelChange)="onInputChange()" />
          <!-- Mensaje de ayuda accesible -->
          <span id="emailHelp" class="visually-hidden">{{ 'REGISTRO.FORM1.CORREO.AYUDA' | translate }}</span>
          <div *ngIf="formulario1.get('email')?.invalid && formulario1.get('email')?.touched" class="text-danger">
            <span *ngIf="formulario1.get('email')?.errors?.['required']">{{ 'REGISTRO.FORM1.CORREO.OBLIGATORIO' | translate }}</span>
            <span *ngIf="formulario1.get('email')?.errors?.['pattern']">{{ 'REGISTRO.FORM1.CORREO.FORMATO' | translate }}</span>
            <span *ngIf="formulario1.get('email')?.errors?.['emailRepetido']">{{ 'REGISTRO.FORM1.CORREO.YAEXISTE' | translate }}</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="fnacimiento" class="form-label">
            {{ 'REGISTRO.FORM1.FNACIMIENTO.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <input
            type="date"
            class="form-control"
            id="fnacimiento"
            inputmode=""
            min="1930-01-01"
            [max]="fechaMaxima"
            aria-describedby="fnacimientoHelp"
            required
            formControlName="fecha_nacimiento"
            (change)="onFechaChange()"
            (keydown.tab)="enfocarSiguiente($event, 'btnSiguiente')" />
          <!-- Mensaje de ayuda accesible -->
          <span id="fnacimientoHelp" class="visually-hidden">{{ 'REGISTRO.FORM1.FNACIMIENTO.AYUDA' | translate }}</span>
          <div class="text-danger" *ngIf="formulario1.get('fecha_nacimiento')?.invalid && formulario1.get('fecha_nacimiento')?.touched">
            <span *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['fechalimite']">
              {{ 'REGISTRO.FORM1.FNACIMIENTO.INCORRECTA' | translate }}
            </span>
            <span *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['required']">{{ 'REGISTRO.FORM1.FNACIMIENTO.OBLIGATORIA' | translate }}</span>
            <span *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['menorDeEdad']">
              {{ 'REGISTRO.FORM1.FNACIMIENTO.MENOR_EDAD' | translate }}
            </span>
            <span *ngIf="formulario1.get('fecha_nacimiento')?.errors?.['fechaFutura']">
              {{ 'REGISTRO.FORM1.FNACIMIENTO.SUPERIORACTUAL' | translate }}
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Formulario pantalla 2 -->
  <div *ngIf="pasoActual === 2">
    <div class="d-flex justify-content-center text-md-start text-center">
      <h1>{{ 'REGISTRO.FORM2.TITULO' | translate }}</h1>
    </div>

    <div class="alert alert-warning mt-3 text-center container" role="alert">{{ 'REGISTRO.FORM2.AVISO_CAMPOSOBLIGATORIOS' | translate }}</div>
    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario2" class="formulario">
        <div class="mb-3">
          <label for="nombre" class="form-label">
            {{ 'REGISTRO.FORM2.LABEL_NOMBRE' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <input
            type="text"
            class="form-control form-input"
            id="nombre"
            required
            formControlName="nombre"
            autocomplete="given-name"
            (input)="escucharCambiosFormulario2('nombre')" />
        </div>

        <div class="mb-3">
          <label for="apellidos" class="form-label">
            {{ 'REGISTRO.FORM2.LABEL_APELLIDOS' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <input
            type="text"
            class="form-control form-input"
            id="apellidos"
            required
            formControlName="apellidos"
            autocomplete="family-name"
            (input)="escucharCambiosFormulario2('apellidos')" />
        </div>

        <div class="mb-3">
          <label for="telefono" class="form-label">
            {{ 'REGISTRO.FORM2.TELEFONO.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <input
            type="text"
            class="form-control form-input"
            id="telefono"
            required
            formControlName="telefono"
            autocomplete="tel"
            (blur)="validarCampo('telefono', formulario2)"
            (input)="validarCampo('telefono', formulario2)" />
          <span class="text-danger" *ngIf="formulario2.get('telefono')?.errors?.['pattern']">
            {{ 'REGISTRO.FORM2.TELEFONO.FORMATO' | translate }}
          </span>
          <span class="text-danger" *ngIf="formulario2.get('telefono')?.errors?.['required']">
            {{ 'REGISTRO.FORM2.TELEFONO.OBLIGATORIO' | translate }}
          </span>
          <span class="text-danger" *ngIf="formulario2.get('telefono')?.errors?.['telefonoRepetido']">
            {{ 'REGISTRO.FORM2.TELEFONO.YAEXISTE' | translate }}
          </span>
        </div>

        <div class="mb-3">
          <label for="genero" class="form-label">
            {{ 'REGISTRO.FORM2.GÉNERO.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <span class="ms-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'REGISTRO.FORM2.GÉNERO.INFO' | translate }}">
            <i class="bi-question-circle"></i>
          </span>
          <select
            class="form-select"
            id="genero"
            required
            formControlName="genero"
            aria-describedby="info_genero"
            (change)="escucharCambiosFormulario2('genero')">
            <option value="" selected disabled hidden>{{ 'REGISTRO.FORM2.GÉNERO.SELECCIONA' | translate }}</option>
            <option value="HOMBRE_CIS">
              {{ 'SELECTOR_GENERO.H_CIS' | translate }}
            </option>
            <option value="MUJER_CIS">
              {{ 'SELECTOR_GENERO.M_CIS' | translate }}
            </option>
            <option value="TRANSEXUAL">
              {{ 'SELECTOR_GENERO.TRANS' | translate }}
            </option>
            <option value="NO_BINARIO">
              {{ 'SELECTOR_GENERO.NO_BINARIO' | translate }}
            </option>
            <option value="INTERGENERO">
              {{ 'SELECTOR_GENERO.INTER' | translate }}
            </option>
            <option value="NO_FLUIDO">
              {{ 'SELECTOR_GENERO.NO_FLUIDO' | translate }}
            </option>
            <option value="OTRO">{{ 'SELECTOR_GENERO.OTRO' | translate }}</option>
            <option value="NO_RESPONDE">
              {{ 'SELECTOR_GENERO.NO_RESPONDE' | translate }}
            </option>
          </select>
          <span id="info_genero" class="visually-hidden">
            {{ 'REGISTRO.FORM2.GÉNERO.INFO' | translate }}
          </span>
        </div>

        <div class="mb-3">
          <label for="orientacion" class="form-label">
            {{ 'REGISTRO.FORM2.ORIENTACION.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
            <span
              class="ms-2 text-primary"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="{{ 'REGISTRO.FORM2.ORIENTACION.INFO' | translate }}">
              <i class="bi-question-circle"></i>
            </span>
          </label>
          <select
            class="form-select"
            id="orientacion"
            required
            formControlName="orientacion"
            aria-describedby="info_orientacion"
            (input)="escucharCambiosFormulario2('orientacion')">
            <option value="" selected disabled hidden>{{ 'REGISTRO.FORM2.ORIENTACION.SELECCIONA' | translate }}</option>
            <option value="GAY">{{ 'SELECTOR_ORIENTACION.GAY' | translate }}</option>
            <option value="LESBIANA">
              {{ 'SELECTOR_ORIENTACION.LESBIANA' | translate }}
            </option>
            <option value="BISEXUAL">
              {{ 'SELECTOR_ORIENTACION.BISEXUAL' | translate }}
            </option>
            <option value="PANSEXUAL">
              {{ 'SELECTOR_ORIENTACION.PANSEXUAL' | translate }}
            </option>
            <option value="ASEXUAL">
              {{ 'SELECTOR_ORIENTACION.ASEXUAL' | translate }}
            </option>
            <option value="DEMISEXUAL">
              {{ 'SELECTOR_ORIENTACION.DEMISEXUAL' | translate }}
            </option>
            <option value="QUEER">{{ 'SELECTOR_ORIENTACION.QUEER' | translate }}</option>
            <option value="HETEROSEXUAL">{{ 'SELECTOR_ORIENTACION.HETEROSEXUAL' | translate }}</option>
            <option value="OTRO">{{ 'SELECTOR_ORIENTACION.OTRO' | translate }}</option>
            <option value="NO_RESPONDE">
              {{ 'SELECTOR_ORIENTACION.NO_RESPONDE' | translate }}
            </option>
          </select>
          <span id="info_orientacion" class="visually-hidden">
            {{ 'REGISTRO.FORM2.ORIENTACION.INFO' | translate }}
          </span>
        </div>
      </form>
    </div>
  </div>

  <!-- Formulario pantalla 3 -->
  <div *ngIf="pasoActual === 3">
    <div class="d-flex justify-content-center text-md-start text-center px-4 px-md-0">
      <h1>
        {{ 'REGISTRO.FORM3.TITULO' | translate }}
      </h1>
    </div>
    <div class="text-center">
      <h3>{{ 'REGISTRO.FORM3.REQUISITOS.TITULO' | translate }}</h3>
    </div>
    <div class="d-flex justify-content-center px-4 px-md-0">
      <ul>
        <li>{{ 'REGISTRO.FORM3.REQUISITOS.MIN_CARACTERES' | translate }}</li>
        <li>{{ 'REGISTRO.FORM3.REQUISITOS.NUMERO_MAYÚSCULA_SIMBOLO' | translate }}</li>
      </ul>
    </div>

    <div class="container d-flex justify-content-center">
      <form [formGroup]="formulario3" class="formulario">
        <div class="mb-3">
          <label for="password" class="form-label">
            {{ 'REGISTRO.FORM3.CONTRASEÑA.LABEL' | translate }}
            <span class="dato-obligatorio">*</span>
          </label>
          <div class="position-relative">
            <input
              [type]="mostrarPassword1 ? 'text' : 'password'"
              formControlName="password"
              type="password"
              required
              class="form-control form-input"
              id="password" />
            <button
              type="button"
              (click)="botonMostrarPassword_1()"
              class="btn btn-sm position-absolute end-0 top-50 translate-middle-y me-2"
              tabindex="-1">
              <i class="bi" [ngClass]="mostrarPassword1 ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>

          <span class="text-danger" *ngIf="formulario3.get('password')?.errors?.['pattern']">
            {{ 'REGISTRO.FORM3.CONTRASEÑA.FORMATO' | translate }}
          </span>
        </div>
      </form>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <div class="d-flex justify-content-center">
      <button id="btnAtras" *ngIf="!paso1" type="button" class="btn btn_bg" (click)="pasoAnterior()">
        {{ 'REGISTRO.BOTONES.ATRAS' | translate }}
      </button>

      <button
        type="button"
        id="btnSiguiente"
        class="btn btn_bg ms-3"
        *ngIf="pasoActual !== 3"
        [disabled]="(pasoActual === 1 && !validarEmailYFecha) || (pasoActual === 2 && !formulario2.valid) || (pasoActual === 3 && !formulario3.valid)"
        (click)="siguientePaso()">
        {{ 'REGISTRO.BOTONES.SIGUIENTE' | translate }}
      </button>
    </div>
  </nav>

  <div *ngIf="pasoActual === 3 && formulario1.valid && formulario2.valid && formulario3.valid" class="d-flex justify-content-center">
    <button type="button" class="btn_bg btn mt-3 mb-3" (click)="siguientePaso()">{{ 'REGISTRO.BOTONES.FINALIZAR_REGISTRO' | translate }}</button>
  </div>
</div>
