<div
  class="container"
  @dialogAnimation
>
  <div class="modal-header d-flex align-items-center justify-content-between">
    <mat-icon class="icon-red">question_mark</mat-icon>

    <h2 class="modal-title-flex">{{ data.title }}</h2>
    <button
      mat-icon-button
      class="close-button"
      (click)="close()"
      aria-label="Cerrar"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="modal-body">
    <p [innerHTML]="message"></p>
    <div
      class="button-container"
      *ngIf="data.showMoreInfoButton"
    >
      <button
        mat-raised-button
        class="btn_bg"
        (click)="abrirMasDetalles()"
      >
        {{ 'MODAL_HELP.VER_MAS_DETALLES' | translate }}
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button
      mat-button
      (click)="close()"
      class="me-2"
      *ngIf="!data.showMoreInfoButton"
    >
      {{ 'MODAL_HELP.CERRAR' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="me-2"
      (click)="crearVuelta()"
      *ngIf="data.showReturnTripButton"
    >
      {{ 'MODAL_HELP.CREAR_VIAJE_VUELTA' | translate }}
    </button>
    <button
      mat-button
      class="btn_bg"
      (click)="aceptarCondiciones('registro')"
      *ngIf="data.showAcceptButton"
      cdkFocusInitial
    >
      {{ 'MODAL_HELP.ACEPTAR' | translate }}
    </button>
    <button
      mat-button
      (click)="cerrarParaMasInfo('home')"
      *ngIf="data.showMoreInfoButton"
    >
      {{ 'MODAL_HELP.NO_ACEPTAR' | translate }}
    </button>
  </div>
</div>
