<div class="container modal-infovisible mt-2">
  <div class="dialog-header">
    <h2 mat-dialog-title>Detalles del viaje </h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar ventana de dialogo">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider class="mt-2"></mat-divider>

  <mat-dialog-content>
    <div class="info_viaje mb-2" *ngIf="data.viaje.plazas === 0">
      <p>Este viaje ya no dispone de plazas. 🥴​ </p>
    </div>
    <div class="info_viaje mb-2"
      *ngIf="funcionesComunes.esViajeFinalizado(data.viaje.fecha_salida, data.viaje.hora_llegada)">
      <p>Este viaje ya ha terminado. 🥴​ </p>
    </div>
    <div class="row">
      <div class="col">
        <h2>Viaje <mat-icon>emoji_transportation</mat-icon></h2>
        <mat-divider class="mb-2"></mat-divider>
        <p><strong>Origen:</strong> {{ data.viaje.origen }}</p>
        <p><strong>Destino:</strong> {{ data.viaje.destino }}</p>
        <p><strong>Fecha de salida:</strong> {{formatData(data.viaje.fecha_salida) }}</p>
        <p><strong>Hora de salida:</strong> {{ data.viaje.hora_salida }}</p>
        <p><strong>Hora de llegada (Aprox.):</strong> {{ data.viaje.hora_llegada }}</p>
        <p><strong>Plazas libres:</strong> {{ data.viaje.plazas }}</p>
        <p *ngIf="data.viaje.precio_viaje"><strong>Precio:</strong> {{ data.viaje.precio_viaje }} €</p>
        <p *ngIf="!data.viaje.precio_viaje"><strong>Precio:</strong> Sin precio asignado </p>
      </div>

      <div class="col">
        <div *ngIf="!conductor">
          <h2>Conductor</h2>
          <mat-accordion class="headers-align green-border" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ viaje.usuario?.nombre }} </mat-panel-title>
                <mat-panel-description>
                  <mat-icon *ngIf="!viaje.usuario?.fotoPerfil">account_circle</mat-icon>
                  <img *ngIf="viaje.usuario?.fotoPerfil" class="imgPerfilAcordeon" [src]="viaje.usuario?.fotoPerfil">
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p><strong>Nombre:</strong> {{ viaje.usuario?.nombre }} {{ viaje.usuario?.apellidos }}</p>
              <p><strong>Puntuación:</strong> {{ viaje.usuario?.puntuacion_promedio }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="">
          <h2>Acompañantes <mat-icon>groups</mat-icon></h2>
          <mat-divider class="mb-2"></mat-divider>

          <div class="mt-2" *ngIf="viaje.acompanantes?.length === 0">
            <span>Este viaje aún no tiene acompañantes</span>
          </div>

          <div class="mt-2" *ngFor="let acomp of viaje.acompanantes">
            <mat-accordion class="headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ acomp.nombre }} {{ acomp.apellidos }} </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon *ngIf="!acomp.fotoPerfil">account_circle</mat-icon>
                    <img *ngIf="acomp.fotoPerfil" class="imgPerfilAcordeon" [src]="acomp.fotoPerfil">
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p><strong>Puntuación:</strong> {{ acomp.puntuacion_promedio || 0 }}</p>
                <button mat-raised-button class="btn mb-2" (click)="contactarAcompanante(acomp.id)" *ngIf="acomp.id !== userData.usuario.id"> Enviar mensaje </button>
                <button mat-raised-button class="btn" (click)="masDetallesUsuario(acomp.id)">Más información</button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mb-2 mt-2" *ngIf="data.viaje.reserva_automatica">
      <i class="fi fi-rr-bolt bolt-icon"></i> Este viaje tiene reserva automática.
    </div>

    <div class="d-flex justify-content-center mt-1">
      <button mat-raised-button class="btn mb-2" (click)="contactarAcompanante(data.viaje.usuario.id)" *ngIf="data.viaje.id !== data.viaje.usuario.id && !conductor"> 
        <i class="fi fi-rr-messages"></i>
        Enviar mensaje a {{ viaje.usuario?.nombre }}
      </button>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex justify-content-center mt-4">
      <!-- <button mat-raised-button class="btn mb-2" (click)="contactarAcompanante(data.viaje.usuario.id)" *ngIf="data.viaje.id !== data.viaje.usuario.id && !conductor"> Enviar mensaje al conductor </button> -->
      <button mat-raised-button class="btn btn_bg me-3" (click)="unirseAViaje(data.viaje.id)"
        [disabled]="data.viaje.plazas === 0 || yaUnido || conductor || funcionesComunes.esViajeFinalizado(data.viaje.fecha_salida, data.viaje.hora_llegada)">
        <mat-icon>no_crash</mat-icon>
        {{
        conductor
        ? 'Tú has creado el viaje'
        : yaUnido
        ? 'Ya estás unido'
        : 'Quiero viajar aquí'
        }}
      </button>
      <button mat-raised-button class="btn" (click)="closeDialog()">Cerrar</button>
    </div>
  </mat-dialog-actions>
</div>