.btns {
  margin-top: 20px;
}

.question-icon {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.question-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  padding: 8px 12px;
}