<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>
<ion-content [fullscreen]="true">
  <div class="container d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center">
      <h2>¿CONTRASEÑA OLVIDADA?</h2>
    </div>
    <p class="d-flex justify-content-center">
      Todes podemos tener un despiste. Aquí te ayudamos.
    </p>
    <p class="d-flex justify-content-center descripcion mb-5">
      Introduce el correo con el que te registraste, te enviaremos un enlace
      para que crees una nueva contraseña
    </p>
  </div>
  <div>
    <ion-row class="d-flex justify-content-center">
      <ion-col size="2">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="emailControl"
            aria-describedby="email"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn_bg">Enviar</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
