.box-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 15rem;
  border-radius: 15px;
  background-color: #f8f9fa2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.box-section-2 {
  margin-top: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  min-height: 300px;
  border-radius: 15px;
  background-color: #f8f9fa2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  justify-content: flex-start;
}

.boton_guardar {
  margin-top: 2rem;
}



.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  transition: background-color 0.3s;
}

.container.text-center {
  width: 100%;
  max-width: 500px;
}

.info-text {
  font-size: 10px;
}

.selectIdiomas {
  border-radius: 15px;
  width: 60%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.ajustIcon {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  mix-blend-mode: multiply !important;
}

.icon_logo {
  height: 20px;
  width: 20px;
}

.selector {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  .box-section {
    height: 225px;
    padding: 20px;
    position: relative;
    overflow: visible;
  }

  .boton_guardar {
    margin-top: 2rem;
  }
}