<app-navbar [backRoute]="'/home'" [searchRoute]="'search'"></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center d-flex flex-column align-items-center">
      <h1 class="mb-4">Ajustes</h1>
      <p>Espacio para ajustar la aplicación</p>
      <!-- Sección de selección de idioma -->
      <div class="box-section">
        <h3>Selección de idioma</h3>
        <select class="form-select" aria-label="Selecciona un idioma" (change)="changeLanguage($event)">
          <option selected disabled>Selecciona un idioma</option>
          <option value="es">Español</option>
          <option value="en">Inglés</option>
        </select>
      </div>

      <!-- Sección de mostrar banner -->
      <div class="box-section">
        <h3>Mostrar banner</h3>
        <ion-toggle [(ngModel)]="mostrarBanner"></ion-toggle>
      </div>

      <!-- Sección de notificaciones -->
      <div class="box-section">
        <h3>Notificaciones</h3>
        <ion-toggle [(ngModel)]="notificacionesActivas"></ion-toggle>
      </div>

      <!-- Botón para guardar cambios -->
      <div>
        <button type="button" class="btn btn-primary">Guardar ajustes</button>
      </div>
      <!-- Mensaje de confirmación de los cambios -->
      <p-toast position="bottom-center"></p-toast>
    </div>
  </div>
</ion-content>