<app-navbar [backRoute]="'/home'" [searchRoute]="'newTravel'" [isLoggedIn]="userLoggedIn"></app-navbar>

<ion-content [fullscreen]="true">
  <div *ngIf="mostrarJumbotron">
    <app-jumbotron [title]="'JUMBOTRON.TITLE'" [imageSrc]="'../../assets/folder/jumbo.jpg'"
      [helpText]="'JUMBOTRON.HELP'">
    </app-jumbotron>
  </div>

  <div class="mt-3">
    <!-- COMPONENTE DEL BUSCADOR DE VIAJES -->
    <div class="buscador_box">
      <div class="seeker">
        <app-buscador></app-buscador>
      </div>
    </div>

    <app-resultados-busqueda [paramsBusqueda]="busquedaParams"></app-resultados-busqueda>

    <!-- FAB: IR ATRAS -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab-ajustes fab-buscar">
      <ion-fab-button aria-label="Ir atrás" (click)="goBack()">
        <img [src]="irAtras" alt="Ir atrás" style="width: 24px; height: 24px;">
      </ion-fab-button>
    </ion-fab>

    <!-- FAB: NUEVO VIAJE -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-ajustes">
      <ion-fab-button aria-label="Nuevo viaje" (click)="goToNuevoViaje()">
        <img [src]="imgNuevoViaje" alt="Nuevo viaje" style="width: 24px; height: 24px;">
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>