// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./animations.scss" as *;
@import "./animations.scss";
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

@font-face {
  font-family: "Offside";
  src: url("./assets/fonts/Offside-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

html,
body {
  height: 100%;
  background-color: #e9edd5;
  overflow: hidden !important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e9edd5;
  overflow: hidden !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
table,
ion-title,
ion-label,
ion-input,
ion-select,
ion-item,
textarea,
label,
small {
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::ng-deep mat-raised-button {
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

ion-content {
  --background: transparent !important;
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

ion-content {
  position: relative;
}

.btn_bg {
  background-color: #b3b5e6 !important;
  color: black !important;
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  width: 60px;
  border-radius: 30px;
  padding: 1%;
}

button:hover {
  background-color: #f0d7b4 !important;
}

/**
*   CONFIGURACIÓN PARA EL HEADER DE LA PÁGINA    *
**/
.diseno {
  background-color: #f0d7b4 !important;
}

.buscar-viaje {
  margin-left: auto;
  margin-right: 20px;
}

.nav-link.active {
  margin-right: 20px;
}

.caja-icono {
  height: 50px !important;
  width: 50px !important;
}

.tamano-icono {
  font-size: 50px !important;
  color: black;
}

.back-icon {
  font-size: 24px;
  color: black !important;
}

.modal-open {
  ion-content {
    overflow: hidden !important;
  }
}

.white-header {
  background-color: #b7e0b4 !important;
  color: black !important;
  --background: #b7e0b4;
  --ion-text-color: black !important;
}

/* CONFIGURACIÓN PARA EVITAR SCROLL INNECESARIO CUANDO SE LEVANTA UNA VENTANA MODAL */
html.cdk-global-scrollblock {
  overflow: hidden !important;
}

/* BARRA DE SCROLL */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

/* Parte que puedes arrastrar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ffb3b3,
    #ffcc99,
    #b3e6b3,
    #99ccff,
    #d1b3ff,
    #ffb3d1
  );
  border-radius: 10px;
  border: 2px solid #f5f5f5;
}

/* Cuando la barra de desplazamiento se encuentra en hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #ff9999,
    #ffb366,
    #99d699,
    #66b2ff,
    #c299ff,
    #ff99c2
  );
}

/*
 *    BARRA DE SCROLL GENERAL PERSONALIZADA
*/
ion-content {
  --overflow: auto !important;
  /* Asegura que se muestre el scroll */
  contain: unset !important;
  /* Evita que Ionic limite los estilos */
}

/* Para navegadores basados en WebKit */
ion-content::-webkit-scrollbar,
::part(scroll)::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

ion-content::-webkit-scrollbar-track,
::part(scroll)::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

ion-content::-webkit-scrollbar-thumb,
::part(scroll)::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #ffb3b3,
    #ffcc99,
    #99e699,
    #99ccff,
    #c299ff,
    #ff99cc
  );
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

ion-content::-webkit-scrollbar-thumb:hover,
::part(scroll)::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #ff9999,
    #ffb366,
    #85d685,
    #66b3ff,
    #b366ff,
    #ff66b3
  );
}

/* AJUSTES PARA EL TOOLTIP */
.custom-tooltip {
  background: linear-gradient(
    45deg,
    #ffb3ba,
    #ffdfba,
    #ffffba,
    #baffc9,
    #bae1ff,
    #e0baff
  ) !important;
  color: #333 !important;
  font-size: 14px !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.custom-tooltip::before {
  border-top-color: #ffb3ba !important;
}

.icon {
  width: 20px;
  height: 20px;
}
// AJUSTES PARA EL MENU LATERAL

.list-md {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  /* background: var(--ion-item-background, var(--ion-background-color, #fff)); */
}

.menuMobile {
  overflow: hidden !important;
}

.menuMobile ion-content {
  --overflow: hidden !important;
  overflow: hidden !important;
  height: 100%;
}

.menuMobile ion-list {
  overflow: hidden !important;
}

.ion_menu {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.menu-footer {
  text-align: center;
  padding: 10px 0;
  background-color: var(--ion-color-primary);
}

.menu-footer img {
  width: 50px;
  margin-bottom: 6px;
  border-radius: 50%;
}

.hora {
  font-size: 16px;
  color: gray;
}

.imgLogoMenu {
  width: 40px;
  margin-bottom: 6px;
  border-radius: 50%;
}

.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

ion-fab-button {
  --background: #b3b5e6;
  --background-activated: #f0d7b4;
  --background-hover: #f0d7b4;
  --border-radius: 50%;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

.boxContent {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}