<app-navbar [backRoute]="'/home'" [searchRoute]="'search'" [isLoggedIn]="userLoggedIn"></app-navbar>

<ion-content [fullscreen]="true">
  <ion-row class="primera-seccion">
    <div class="imagen-fondo">
      <div class="formulario-viaje">
        <div class="contenido_formulario">
          <div class="input-container">
            <img src="../../../../assets/sistema/marcador.png" class="marcador-icon input-icon" />
            <input #inputOrigen id="input-origen" autocomplete="off" spellcheck="false" [(ngModel)]="origen"
              (input)="buscarSugerenciasOrigen($event)" (blur)="estaEnOrigen = false; validarSeleccion('origen')"
              (focus)="estaEnOrigen = true" placeholder="{{ 'NUEVO_VIAJE2.FROM' | translate }}"
              class="input-viaje form-control" name="origen" role="combobox" aria-autocomplete="list"
              aria-haspopup="listbox" aria-describedby="instrucciones-busqueda"
              [attr.aria-expanded]="sugerenciasOrigen.length > 0" [attr.aria-controls]="
                  sugerenciasOrigen.length > 0
                    ? 'lista-origen-resultados'
                    : null
                " />
            <div *ngIf="cargandoOrigen" class="spinner-container">
              <app-spinner></app-spinner>
            </div>
            <ul *ngIf="sugerenciasOrigen.length > 0" class="list-group lista_sugerencias" id="lista-origen-resultados"
              role="listbox" aria-live="polite">
              <li *ngFor="let sugerencia of funcionesComunes.sugerenciasOrigen; let i = index"
                (click)="seleccionarLocalidadOrigen(sugerencia)" class="list-group-item"
                [class.active]="i === indiceActivoOrigen" role="option" tabindex="-1"
                (keyup.enter)="seleccionarLocalidadOrigen(sugerencia)"
                (keydown)="manejarNavegacionTeclado($event, 'origen', i)">
                {{ sugerencia.descripcion }}
              </li>
            </ul>
            
          </div>

          <!-- <button type="button" class="btn btn_bg" (click)="buscarUbicacion()">
            <span><i class="fi fi-rr-marker me-2"></i>Busca mi ubicación</span>
          </button> -->
          

          <div class="input-container">
            <img src="../../../../assets/sistema/viaje-en-coche.png" class="marcador-icon input-icon" />
            <input #inputDestino id="input-destino" [(ngModel)]="destino"
              (blur)="estaEnDestino = false; validarSeleccion('destino')" (focus)="estaEnDestino = true"
              (input)="buscarSugerenciasDestino($event)" (keydown)="manejarNavegacionTeclado($event, 'destino')"
              autocomplete="off" spellcheck="false" placeholder="{{ 'NUEVO_VIAJE2.TO' | translate }}"
              class="input-viaje form-control" name="destino" role="combobox" aria-autocomplete="list"
              aria-haspopup="listbox" aria-describedby="instrucciones-busqueda"
              [attr.aria-expanded]="sugerenciasDestino.length > 0" [attr.aria-controls]="
                  sugerenciasDestino.length > 0
                    ? 'lista-destino-resultados'
                    : null
                " />
            <!-- Spinner de carga -->
            <div *ngIf="cargandoDestino" class="spinner-container">
              <app-spinner></app-spinner>
            </div>

            <ul *ngIf="sugerenciasDestino.length > 0" class="list-group lista_sugerencias" id="lista-destino-resultados"
              role="listbox" aria-live="polite">
              <li *ngFor="let localidad of sugerenciasDestino; let i = index"
                (click)="seleccionarLocalidadDestino(localidad)" [class.active]="i === indiceActivoDestino"
                (keydown)="manejarNavegacionTeclado($event, 'destino', i)"
                (click)="seleccionarLocalidadDestino(localidad)">
                {{ localidad.descripcion }}
              </li>
            </ul>
          </div>

          <!-- SELECTOR DE PLAZAS  -->
          <div class="select-container custom-dropdown mt-4 mb-3" (click)="toggleDropdown()" [class.open]="isOpen">
            <img src="../../../../assets/sistema/usuarios-alt.png" class="select-icon" alt="icono usuarios" />

            <div class="selected-value">
              {{ plazas || ('NUEVOVIAJE.PLACE_NUM_PLAZAS' | translate) }}
            </div>

            <ul class="custom-options" *ngIf="isOpen">
              <li (click)="selectOption('1')" [class.selected]="plazas === '1'">1</li>
              <li (click)="selectOption('2')" [class.selected]="plazas === '2'">2</li>
              <li (click)="selectOption('3')" [class.selected]="plazas === '3'">3</li>
              <li (click)="selectOption('4')" [class.selected]="plazas === '4'">4</li>
            </ul>
          </div>

          <div class="alert" *ngIf="!userLoggedIn">
            <p>{{ 'NUEVOVIAJE.NO_REGISTRADO_LOGIN' | translate }}</p>
            <div class="d-flex justify-content-center">
              <button type="button" class="help_btn d-flex justify-content-center"
                title="Ayuda para iniciar sesión / registrarse"
                (click)="funcionesComunes.openConfirmModal(title_help_carnet, message_help_auth)">
                <img src="../../../../assets/sistema/interrogatorio.png" class="marcador-icon input-icon" />
              </button>
            </div>
          </div>
          <!-- <div class="alert" *ngIf="userLoggedIn">
            <p>{{ 'NUEVOVIAJE.CARNET_NO_REGISTRADO' | translate }}</p>
            <div class="d-flex justify-content-center">
              <button type="button" class="help_btn d-flex justify-content-center"
                title="{{'NUEVOVIAJE.AYUDA_TOOLTIP' | translate}}"
                (click)="funcionesComunes.openConfirmModal(title_help_carnet, message_help_carnet)">
                <img src="../../../../assets/sistema/interrogatorio.png" class="marcador-icon input-icon" />
              </button>
            </div>
          </div> -->
        </div>
        <button type="button" class="btn-publicar ion-activatable ripple-parent circle"
          title="{{ 'BOTON.PUBLICAR_VIAJE' | translate }}" (click)="goTo()"
          matTooltip="{{'NUEVOVIAJE.BOTON_PUBLICAR_TOOLTIP' | translate}}">
          {{ 'BOTON.PUBLICAR_VIAJE' | translate }}
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>
  </ion-row>

  <ion-row class="segunda-seccion">
    <div class="centro-ayuda">
      <h2>{{ 'CENTRODEAYUDA.TITULO' | translate }}</h2>
      <p>{{ 'CENTRODEAYUDA.SUBTITULO' | translate }}</p>
      <div class="d-flex justify-content-center">
        <button type="button" mat-raised-button class="btn_bg" routerLink="/centro-ayuda">
          <img src="../../../../assets/sistema/interrogatorio.png" class="marcador-icon input-icon" />
          {{ 'BOTON.CENTROAYUDA' | translate }}
        </button>
      </div>
    </div>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab-ajustes fab-buscar">
    <ion-fab-button aria-label="Ir atrás" (click)="goBack()">
      <img [src]="irAtrasImg" alt="Ir atrás" style="width: 24px; height: 24px" />
    </ion-fab-button>
  </ion-fab>
</ion-content>