.moving-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.moving-wrapper {
  display: flex;
  align-items: center;
  animation: moving 6s linear infinite;
  white-space: nowrap;
  position: absolute;
  width: 100%;
}

@keyframes moving {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.carMove {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
