<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 class="text-center mb-5">{{'VERIF.TITULO' | translate}}</h1>
    </div>

    <div class="text-center">
      <p class="mb-2">{{'VERIF.TITULO_VERIF_BASICA' | translate}}</p>
    </div>
    <div class="text-center">
      <p class="mb-4">{{'VERIF.TITULO_VERIF_ADICIONAL' | translate}}</p>
    </div>

    <ion-row class="justify-content-between fila_superior">
      <!-- Verificación de correo -->
      <ion-col size="12" size-md="3" class="mb-2">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{'VERIF.VERIFICA_TU_CORREO' | translate}}</strong>
          </p>
          <ion-row>
            <ion-col>
              <p class="text-align-justify" style="font-size: 14px">
                {{'VERIF.INFO_VERIF_CORREO' | translate}}
              </p>
            </ion-col>
          </ion-row>
          <ion-col>
            <button
              type="btn"
              class="btn btn_bg mb-4 w-100"
              mat-raised-button
              (click)="envio_mail_verificar_correo(emailUsuario)"
            >
              {{emailUsuario}}
            </button>
          </ion-col>
        </div>
      </ion-col>

      <!-- Verificación de teléfono -->
      <!-- <ion-col>
        <div class="mt-2 text-center">
          <p>
            <strong>{{'VERIF_PERFIL.VERIFICA_TU_TFNO' | translate}}</strong>
          </p>
          <ion-col>
            <button
              type="button"
              class="btn btn_bg"
              mat-raised-button
              type="btn"
              (click)="enviar_sms(telefonoUsuario)"
            >
              {{telefonoUsuario}}
            </button>
          </ion-col>
          <ion-row class="mt-4">
            <ion-col class="mt-3">
              <p style="font-size: 15px">
                {{'VERIF_PERFIL.INFO_VERIF_TFNO' | translate}}
              </p>
            </ion-col>
          </ion-row>
          <div class="input-container d-flex justify-content-center">
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
          </div>
          <button type="button" class="btn mt-2 btn_bg" mat-raised-button>
            {{'BOTON.CONFIRMAR_CODIGO_TFNO' | translate}}
          </button>
        </div>
      </ion-col> -->

      <div class="divider-container">
        <mat-divider vertical></mat-divider>
      </div>

      <!-- Verificación DNI -->
      <ion-col size="12" size-md="3" class="mb-2">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{'VERIF.VERIF_TU_IDENTIDAD' | translate}}</strong>
          </p>
          <p style="font-size: 14px">
            {{'VERIF.INFO_VERIFIDENTIDAD' | translate}}
          </p>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label
                  for="docdelantera"
                  class="upload-button floating-plus"
                  aria-label="Botón para subir documento delantero"
                  >+</label
                >
                <input
                  type="file"
                  id="docdelantera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoDocumentoDelantera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoDelantera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoDocumentoDelantera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoDocumentoDelantera"
                  [src]="usuario.fotoDocumentoDelantera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoDelantera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-3">
            <ion-col>
              <div>
                <p style="font-size: 14px">
                  {{'VERIF.FOTODELANTERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label
                  for="doctrasera"
                  class="upload-button floating-plus"
                  aria-label="Botón para subir documento trasero"
                  >+</label
                >
                <input
                  type="file"
                  id="doctrasera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoDocumentoTrasera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoTrasera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoDocumentoTrasera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoDocumentoTrasera"
                  [src]="usuario.fotoDocumentoTrasera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoTrasera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <p style="font-size: 14px">
                  {{'VERIF.FOTOTRASERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <div class="divider-container hide-on-mobile">
        <mat-divider vertical></mat-divider>
      </div>

      <!-- Verificación adicional: CARNET DE CONDUCIR -->
      <ion-col size="12" size-md="3">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{ 'VERIF.VERIFADICIONAL' | translate }}</strong>
          </p>
          <p style="font-size: 14px" class="mb-3">
            {{'VERIF.VERIFADICIONALINFO1' | translate}}
          </p>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label for="carnetdelantera" class="upload-button floating-plus"
                  >+</label
                >
                <input
                  type="file"
                  id="carnetdelantera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoCarnetDelantera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoDelantera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoCarnetCondDelantera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoCarnetCondDelantera"
                  [src]="usuario?.fotoCarnetCondDelantera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoCarnetDelantera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-3">
            <ion-col>
              <div>
                <p style="font-size: 13px">
                  {{'VERIF.FOTODELANTERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label for="carnettrasera" class="upload-button floating-plus"
                  >+</label
                >
                <input
                  type="file"
                  id="carnettrasera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoCarnetTrasera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoTrasera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoCarnetCondTrasera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoCarnetCondTrasera"
                  [src]="usuario?.fotoCarnetCondTrasera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoCarnetTrasera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <p style="font-size: 13px">
                  {{'VERIF.FOTOTRASERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
