<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1 class="text-center mb-5">{{'VERIF.TITULO' | translate}}</h1>
    </div>

    <div class="text-center">
      <p class="mb-2">{{'VERIF.TITULO_VERIF_BASICA' | translate}}</p>
    </div>
    <div class="text-center">
      <p class="mb-4">{{'VERIF.TITULO_VERIF_ADICIONAL' | translate}}</p>
    </div>

    <div class="mb-5 d-flex mt-5 justify-content-center">
      <table class="verification-table">
        <tr>
          <td>Correo electrónico</td>
          <td>
            <span *ngIf="usuario.emailVerificado" class="check">✔️</span>
            <span *ngIf="!usuario.emailVerificado" class="cross">❌</span>
          </td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>
            <span *ngIf="usuario.telefonoVerificado" class="check">✔️</span>
            <span *ngIf="!usuario.telefonoVerificado" class="cross">❌</span>
          </td>
        </tr>
        <tr>
          <td>Documento</td>
          <td>
            <span *ngIf="usuario.dni_verificado" class="check">✔️</span>
            <span *ngIf="!usuario.dni_verificado" class="cross">❌</span>
          </td>
        </tr>
      </table>

      <div
        *ngIf="usuario.emailVerificado && usuario.telefonoVerificado && usuario.dni_verificado"
        class="verified-message"
      >
        Usuario completamente verificado ✅
      </div>
    </div>

    <ion-row class="justify-content-between fila_superior">
      <!-- Verificación de correo -->
      <ion-col size="12" size-md="3" class="mb-2">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{'VERIF.VERIFICA_TU_CORREO' | translate}}</strong>
          </p>
          <ion-row>
            <ion-col>
              <p class="text-align-justify" style="font-size: 14px">
                {{'VERIF.INFO_VERIF_CORREO' | translate}}
              </p>
            </ion-col>
          </ion-row>
          <ion-col>
            <button
              type="btn"
              class="btn btn_bg mb-4 w-100"
              mat-raised-button
              (click)="envio_mail_verificar_correo(emailUsuario)"
              [disabled]="botonCorreoVerificado"
            >
              {{emailUsuario}}
            </button>
            <p-toast position="bottom-center"></p-toast>
          </ion-col>
        </div>
      </ion-col>

      <div class="divider-container">
        <mat-divider vertical></mat-divider>
      </div>

      <!-- Verificación de teléfono -->
      <ion-col size="12" size-md="3" class="mb-2">
        <div class="mt-2 text-center">
          <p>
            <strong>{{'VERIF_PERFIL.VERIFICA_TU_TFNO' | translate}}</strong>
          </p>
          <ion-row>
            <ion-col>
              <p class="text-align-justify" style="font-size: 14px">
                {{'VERIF.INFO_VERIF_CORREO' | translate}}
              </p>
            </ion-col>
          </ion-row>
          <ion-col>
            <button
              type="button"
              class="btn btn_bg"
              mat-raised-button
              type="btn"
              (click)="enviar_sms(telefonoUsuario)"
            >
              {{telefonoUsuario}}
            </button>
          </ion-col>
          <ion-row class="mt-4"> </ion-row>
          <div class="input-container d-flex justify-content-center">
            <input
              #d0
              type="text"
              maxlength="1"
              class="digit-input mx-1"
              [class.active]="focusedInput === 0"
              [(ngModel)]="codigoArray[0]"
              (input)="moveNext(d0, d1, 0)"
              (keydown)="handleBackspace($event, 0)"
              (focus)="focusedInput = 0"
            />
            <input
              #d1
              type="text"
              maxlength="1"
              class="digit-input mx-1"
              [class.active]="focusedInput === 1"
              [(ngModel)]="codigoArray[1]"
              (input)="moveNext(d1, d2, 1)"
              (keydown)="handleBackspace($event, 1)"
              (focus)="focusedInput = 1"
            />
            <input
              #d2
              type="text"
              maxlength="1"
              class="digit-input mx-1"
              [class.active]="focusedInput === 2"
              [(ngModel)]="codigoArray[2]"
              (input)="moveNext(d2, d3, 2)"
              (keydown)="handleBackspace($event, 2)"
              (focus)="focusedInput = 2"
            />
            <input
              #d3
              type="text"
              maxlength="1"
              class="digit-input mx-1"
              [class.active]="focusedInput === 3"
              [(ngModel)]="codigoArray[3]"
              (input)="updateCodigo()"
              (keydown)="handleBackspace($event, 3)"
              (focus)="focusedInput = 3"
            />
          </div>

          <button
            (click)="verificar_codigo_sms(codigo)"
            type="button"
            class="btn mt-2 btn_bg"
            mat-raised-button
          >
            {{'BOTON.CONFIRMAR_CODIGO_TFNO' | translate}}
          </button>
        </div>
      </ion-col>

      <div class="divider-container">
        <mat-divider vertical></mat-divider>
      </div>

      <!-- Verificación DNI -->
      <ion-col size="12" size-md="3" class="mb-2">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{'VERIF.VERIF_TU_IDENTIDAD' | translate}}</strong>
          </p>
          <p style="font-size: 14px">
            {{'VERIF.INFO_VERIFIDENTIDAD' | translate}}
          </p>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label
                  for="docdelantera"
                  class="upload-button floating-plus"
                  aria-label="Botón para subir documento delantero"
                  >+</label
                >
                <input
                  type="file"
                  id="docdelantera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoDocumentoDelantera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoDelantera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoDocumentoDelantera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoDocumentoDelantera"
                  [src]="usuario.fotoDocumentoDelantera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoDelantera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-3">
            <ion-col>
              <div>
                <p style="font-size: 14px">
                  {{'VERIF.FOTODELANTERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label
                  for="doctrasera"
                  class="upload-button floating-plus"
                  aria-label="Botón para subir documento trasero"
                  >+</label
                >
                <input
                  type="file"
                  id="doctrasera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoDocumentoTrasera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoTrasera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoDocumentoTrasera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoDocumentoTrasera"
                  [src]="usuario.fotoDocumentoTrasera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoTrasera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <p style="font-size: 14px">
                  {{'VERIF.FOTOTRASERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <div class="divider-container hide-on-mobile">
        <mat-divider vertical></mat-divider>
      </div>

      <!-- Verificación adicional: CARNET DE CONDUCIR -->
      <ion-col size="12" size-md="3">
        <div class="mt-2 text-center">
          <p class="mb-4">
            <strong>{{ 'VERIF.VERIFADICIONAL' | translate }}</strong>
          </p>
          <p style="font-size: 14px" class="mb-3">
            {{'VERIF.VERIFADICIONALINFO1' | translate}}
          </p>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label for="carnetdelantera" class="upload-button floating-plus"
                  >+</label
                >
                <input
                  type="file"
                  id="carnetdelantera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoCarnetDelantera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoDelantera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoCarnetCondDelantera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoCarnetCondDelantera"
                  [src]="usuario?.fotoCarnetCondDelantera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoCarnetDelantera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="mb-3">
            <ion-col>
              <div>
                <p style="font-size: 13px">
                  {{'VERIF.FOTODELANTERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col
              class="filadocumentodelantero d-flex justify-content-center d-md-block"
            >
              <div class="file-upload">
                <label for="carnettrasera" class="upload-button floating-plus"
                  >+</label
                >
                <input
                  type="file"
                  id="carnettrasera"
                  class="file-input"
                  accept="image/*"
                  (change)="fotoCarnetTrasera($event)"
                />
              </div>
            </ion-col>
            <ion-col>
              <div class="fotoDocumento">
                <img
                  [src]="sinDocumentoTrasera"
                  alt="Sin foto de documento delantera"
                  *ngIf="!usuario?.fotoCarnetCondTrasera"
                />
                <img
                  class="fotoDocumento"
                  *ngIf="usuario?.fotoCarnetCondTrasera"
                  [src]="usuario?.fotoCarnetCondTrasera"
                />
              </div>
              <div class="overlay" *ngIf="cargandoCarnetTrasera">
                <app-spinner></app-spinner>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <p style="font-size: 13px">
                  {{'VERIF.FOTOTRASERA' | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
