<!doctype html>
<html>
  <body style="font-family: Arial, sans-serif; line-height: 1.6">
    <div style="max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px; border-radius: 8px">
      <img
        src="https://res.cloudinary.com/dnrxptrb0/image/upload/v1749583413/logo/ahhqej3rrccdr6bdf7vg.png"
        alt="PrideRide"
        style="width: 150px; display: block; margin: 0 auto 20px" />
      <h2 style="color: #333">Hola,</h2>
      <p>
        Te damos la bienvenida
        <strong>PrideRide</strong>
        .
      </p>
      <p>Recuerda consultar nuestras Normas de uso y funcionamiento</p>

      <p>
        Ser un usuario verificado aumenta la confianza entre nuestra comunidad. Puedes empezar verificando tu correo electrónico en el siguiente
        botón:
      </p>
      <div style="text-align: center; margin: 20px 0">
        <a
          href="{{ link }}"
          style="
            background-color: #6366f1;
            color: white;
            padding: 12px 25px;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
            display: inline-block;
          ">
          Verificar mi correo electrónico
        </a>
      </div>

      <p>
        Saludos,
        <br />
        <em>El equipo de PrideRide</em>
      </p>
    </div>
  </body>
</html>
