<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; line-height: 1.6">
    <div
      style="
        max-width: 600px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
      "
    >
      <img
        src="https://res.cloudinary.com/dnrxptrb0/image/upload/v1749583413/logo/ahhqej3rrccdr6bdf7vg.png"
        alt="PrideRide"
        style="width: 150px; display: block; margin: 0 auto 20px"
      />
      <h2 style="color: #333">Hola,</h2>
      <p>
        Has solicitado un reseteo de tu contraseña para acceder a
        <strong>PrideRide</strong>.
      </p>
      <p>
        Pulsa en el siguiente botón para hacer el cambio. Solo es válido durante
        <strong>media hora</strong>:
      </p>
      <p style="text-align: center">
        <a
          href="{{ link }}"
          style="
            background-color: #007bff;
            color: white;
            padding: 12px 20px;
            text-decoration: none;
            border-radius: 5px;
          "
        >
          Cambiar mi contraseña
        </a>
      </p>
      <p>Si no solicitaste este cambio, ignora este correo.</p>
      <p>Saludos,<br /><em>El equipo de PrideRide</em></p>
    </div>
  </body>
</html>
