button.btn i.fi {
  font-size: 1.2rem;
  /* Ajusta el tamaño del icono */
  color: #333;
  /* Ajusta el color para que se vea */
}

.position-relative .btn:hover,
.position-relative .btn:focus,
.position-relative .btn:active {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}