// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #f0d7b4;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: black;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #e9edd5;
  --ion-color-secondary-rgb: 107, 168, 169;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5d9293;
  --ion-color-secondary-tint: #7cb5b6;
}
