<div class="mb-5 container">
  <h4 class="text-center mb-1 mb-sm-1 mb-md-5">
    {{ "VEHICULOS.MIS_VEHICULOS" | translate }}
  </h4>

  <div class="acordeones_vehiculos">
    <div class="mt-3" *ngFor="let coche of funcionesUsuario.vehiculos_usuario">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ coche.marca }} {{ coche.modelo }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ion-row class="d-flex justify-content-center mb-2">
            <div>
              <ng-container *ngIf="coche.editandoVehiculo; else noEditMarca">
                <select
                  class="form-select"
                  [(ngModel)]="coche.marca"
                  (change)="filtrarModelosEditando(coche)"
                  [attr.aria-label]="'VEHICULOS.MARCA' | translate"
                >
                  <option
                    *ngFor="let coche of listadoCoches"
                    [value]="coche.marca"
                  >
                    {{ coche.marca }}
                  </option>
                </select>
                <span [attr.aria-label]="'Marca: ' + coche.marca" tabindex="0">
                  <strong class="visually-hidden">Marca:</strong>
                </span>
              </ng-container>
              &nbsp;
              <ng-template #noEditMarca>{{ coche.marca }}</ng-template>
              <ng-container *ngIf="coche.editandoVehiculo; else noEditModelo">
                <select class="form-select" [(ngModel)]="coche.modelo">
                  <option
                    *ngFor="let modelo of modelosFiltrados"
                    [value]="modelo"
                    [attr.aria-label]="'VEHICULOS.MODELO' | translate"
                  >
                    {{ modelo }}
                  </option>
                </select>
              </ng-container>
              <ng-template #noEditModelo>{{ coche.modelo }}</ng-template>
            </div>
          </ion-row>

          <ion-row class="mb-2">
            <ion-col class="d-flex justify-content-center">
              <ng-container *ngIf="coche.editandoVehiculo; else noEditColor">
                <select class="form-select" [(ngModel)]="coche.color">
                  <option
                    *ngFor="let color of listadoColores"
                    [value]="color"
                    [attr.aria-label]="'VEHICULOS.COLOR' | translate"
                  >
                    {{ color }}
                  </option>
                </select>
              </ng-container>
              <ng-template #noEditColor>
                <img
                  class="colorCoche"
                  [src]="mostrarColorCoche(coche.color)"
                  role="img"
                  [attr.alt]="
                    'VEHICULOS.COLOR_VEHICULO'
                      | translate : { color: (coche.color | translate) }
                  "
                />
              </ng-template>
            </ion-col>
            <ion-col>
              <ng-container
                *ngIf="coche.editandoVehiculo; else noEditMatricula"
              >
                <input
                  type="text"
                  [(ngModel)]="coche.matricula"
                  class="form-control"
                  [attr.aria-label]="'VEHICULOS.MATRICULA' | translate"
                />
              </ng-container>
              <ng-template #noEditMatricula>{{ coche.matricula }}</ng-template>
            </ion-col>
          </ion-row>

          <section
            role="region"
            [attr.aria-label]="'VEHICULOS.OPCIONES' | translate"
            class="d-flex justify-content-center"
          >
            <button
              class="botones_tabla btn_bg me-3"
              mat-icon-button
              (click)="
                coche.editandoVehiculo
                  ? guardarVehiculoEditado(coche)
                  : editarFilaVehiculo(coche)
              "
              [attr.aria-label]="
                coche.editandoVehiculo
                  ? ('VEHICULOS.GUARDAR_FILA' | translate)
                  : ('VEHICULOS.EDITAR_FILA' | translate)
              "
            >
              <mat-icon>{{
                coche.editandoVehiculo ? "save" : "edit"
              }}</mat-icon>
            </button>
            <!-- Botón para eliminar vehículos -->
            <button
              type="button"
              class="botones_tabla btn_bg"
              mat-icon-button
              (click)="modalEliminarVehiculo(coche)"
              [attr.aria-label]="'VEHICULOS.ELIMINAR' | translate"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <ng-template #noVehiculos>
    <div class="mt-3 d-flex justify-content-center">
      <span>{{ "VEHICULOS.SIN_VEHICULOS" | translate }}</span>
    </div>
  </ng-template>

  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn_bg mt-3 boton_anadir"
      style="height: 33px"
      (click)="botonAnadirVehiculo()"
    >
      {{ "BOTON.ANADIR_VEHICULO" | translate }}
    </button>
  </div>

  <div class="mt-3" *ngIf="mostrarSelectorVehiculo">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <select
            class="form-select"
            [(ngModel)]="marcaSeleccionada"
            (change)="filtrarModelos()"
            [ngModelOptions]="{ standalone: true }"
            [attr.aria-label]="'VEHICULOS.ELIMINAR' | translate"
          >
            <option value="" disabled selected>
              {{ "VEHICULOS.SELECTOR_MARCA" | translate }}
            </option>
            <option *ngFor="let coche of listadoCoches" [value]="coche.marca">
              {{ coche.marca }}
            </option>
          </select>
        </ion-col>
        <ion-col size="6">
          <select
            class="form-select"
            [(ngModel)]="modeloSeleccionado"
            [disabled]="!marcaSeleccionada"
            [ngModelOptions]="{ standalone: true }"
            [attr.aria-label]="'VEHICULOS.SELECTOR_MODELO' | translate"
          >
            <option value="" disabled selected>
              {{ "VEHICULOS.MODELO" | translate }}
            </option>
            <option *ngFor="let modelo of modelosFiltrados" [value]="modelo">
              {{ modelo }}
            </option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div *ngIf="funcionesComunes.validacionIdioma">
            <select
              class="form-select"
              [attr.aria-label]="'VEHICULOS.SELECTOR_COLOR' | translate"
              [(ngModel)]="colorSeleccionado"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!modeloSeleccionado"
            >
              <option value="" disabled selected>
                {{ "VEHICULOS.COLOR" | translate }}
              </option>
              <option *ngFor="let color of listadoColores" [value]="color">
                {{ color }}
              </option>
            </select>
          </div>

          <div *ngIf="!funcionesComunes.validacionIdioma">
            <select
              class="form-select"
              [attr.aria-label]="'VEHICULOS.SELECTOR_COLOR' | translate"
              [(ngModel)]="colorSeleccionado"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!modeloSeleccionado"
            >
              <option value="" disabled selected>
                {{ "VEHICULOS.COLOR" | translate }}
              </option>
              <option *ngFor="let color of listColours" [value]="color">
                {{ color }}
              </option>
            </select>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="position-relative text-center">
            <input
              type="text"
              class="form-control-sm"
              placeholder="0000XXX"
              id="matricula"
              pattern="^[0-9]{4}[A-Za-z]{3}$"
              required
              maxlength="7"
              aria-describedby="matricula"
              [(ngModel)]="matricula"
              (ngModelChange)="validarMatricula()"
              style="width: 120px"
            />

            <div>
              <div *ngIf="matriculaNoValida" class="text-danger">
                {{ "VEHICULOS.MAT_NO_VALIDA" | translate }}
                (Ej: 1234ABC).
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="d-flex justify-content-center"> </ion-row>
      <ion-row>
        <div class="container d-flex justify-content-center mt-2">
          <button
            type="button"
            [disabled]="matriculaNoValida"
            class="btn btn_bg"
            mat-raised-button
            (click)="guardarVehiculo()"
          >
            Guardar vehículo
          </button>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</div>
