ion-accordion {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  color: black;
  background-color: #f4f5f8;
}

/* Aseguramos que el contenedor tenga un ancho máximo y esté centrado */
.container {
  width: 100%;
  max-width: 600px;
  /* Ajusta este valor al ancho que desees para ambos */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Forzamos al SELECT a ocupar siempre el 100% de su contenedor */
.form-select {
  width: 100% !important;
  box-sizing: border-box;
}

/* Evitamos que el acordeón cambie de tamaño al abrirse */
.acordeon_evento {
  width: 50%;
  display: block;
  /* Evita comportamientos extraños de flex en el contenedor */
  overflow: hidden;
  /* Asegura que el contenido no desborde */
}

/* Muy importante: Ionic a veces añade padding automático al abrir. Lo fijamos: */
ion-accordion-group {
  width: 100%;
  display: block;
}