<h1>{{ 'HOME.SECCION_EVENTOS.TITULO' | translate }}</h1>
<div class="container">
  <div>
    <select class="form-select" id="ciudad_evento" required formControlName="ciudad_evento" aria-describedby="info_genero">
      <option value="" selected disabled hidden>Selecciona una ciudad:</option>
      <option value="Benidorm">Benidorm</option>
      <option value="Madrid">Madrid</option>
      <option value="Barcelona">Barcelona</option>
    </select>
  </div>
</div>
<div class="container">
  <h3>Resultados de "ciudad"</h3>

  <ion-accordion-group class="mb-3">
    <ion-accordion class="mb-3 acordeon_evento">
      <ion-item slot="header" class="white-header">
        <ion-label class="cabecera">
          <h2 style="margin: 0; font-weight: bold">Titulo Evento</h2>
          <p style="margin: 4px 0 0 0">(f-inicio) - (f-fin)</p>
        </ion-label>
      </ion-item>
      <div slot="content">
        <div>Descripcionnnnnnnn iasidaisdiasidiadiasidiaidaisdiaidiasidaid jejjfjjfsf</div>
        <div>
          <img />
        </div>
        <div>
          <a>Enlace</a>
        </div>
        <div>
          <button (click)="crearViaje('madrid')">Un boton</button>
          <button>Otro boton</button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>

<span class="spanInformativo">
  <strong>*Nota:</strong>
  La información de los eventos ha sido extraída de sus respectivas fuentes el 2025. (Dicha información podría no estar actualizada debidamente)
</span>
