<div id="cuarto_paso">
  <div class="container">
    <h4>Estamos a un paso de terminar.</h4>
    <h1>Fija el precio por plaza</h1>
    <span class="recommend">  Precio recomendado: {{ precioMinRecomendado }}€ - {{ precioMaxRecomendado }}€ </span>
    <br>
    <span class="recommend_info"> Conseguirás pasajeros más fácilmente si no abusas del precio. </span>
  </div>

  <!-- Selector de precio -->
  <div class="container d-flex justify-content-center ms-3">
    <div class="input-container">
      <button class="precio_btn" (click)="restarCantidad()" [disabled]="precio <= min">-</button>
      <span class="font_precio" [ngStyle]="{ color: getprecioColor() }">{{ precio }}</span> <span class="currency">€</span>
      <button class="precio_btn" (click)="sumarCantidad()" [disabled]="precio >= max">+</button>
      <mat-icon class="help-icon" matTooltip="Recuerda poner un precio justo a tu viaje." matTooltipClass="custom-tooltip" (click)="ayudaPrecio()">question_mark</mat-icon>
    </div>
    <p-toast position="bottom-center"></p-toast>
  </div>

  <div class="d-flex justify-content-center mt-3 mb-3 btn-banner">
    <!-- Botón Atrás -->
    <button type="button" mat-raised-button class="btn_bg" (click)="onCuartoPasoBack()">
      Atrás
    </button>
    <!-- Botón Finalizar viaje -->
    <button type="button" mat-raised-button class="btn_bg" (click)="onCuartoPasoComplete()">
      Finalizar viaje
    </button>
  </div>
</div>
