.btn-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-banner button {
  font-size: 0.9rem;
  padding: 8px 16px;
}


.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-viaje {
  display: block;
  width: 20%; 
  padding: 10px 10px 10px 30px; 
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 35px;
  font-size: 1rem;
  box-sizing: border-box; 
}

.input-viaje::-webkit-outer-spin-button,
.input-viaje::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Alineación del símbolo del euro */
.currency-symbol {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #333;
}

.help-icon {
  margin-left: 10px; 
  font-size: 1.5rem;
  cursor: pointer;
}

.font_precio{
  font-size: 150px;
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}

.precio_btn {
  font-size: 150px;
  background: transparent;
  cursor: pointer;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency{
  font-size: 110px;
}

.recommend{
  background-color: #AAD1A7;
  border-radius: 15px;
  padding: 5px;
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.recommend_info{
  padding: 5px;
  font-family: "Offside", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}